html,body{
	height: 100%;
	overflow: hidden;
}

.imageStrip {
	width: 100%;
	height: 50%;
	text-align: center;
	padding: 10px;
}

.image {
	height: 150px;
}

.tileTL {
	top: 2%;
	left: 2%;
}

.tileTR {
	top: 2%;
	left: 6%;
}

.tileBL {
	top: 6%;
	left: 2%;
}

.tileBR {
	top: 6%;
	left: 6%;
}

.tile {
	width: 46%;
	height: 46%;
	position: relative;
	float: left;
	-webkit-border-radius: 8px;
	cursor: pointer;
	-webkit-transition: opacity 1s ease-in;
}

.tileText {
	font-size: 80px;
	font-weight: bold;
	margin: 10%;
	width: 80%;
	height: 80%;
	text-align: center;
}

.tileContainer {
	margin: auto;
	top: 0px;
	left: 0px;
	position: relative;
}

.outerTileContainer {
	text-align: center;
	width: 100%;
}

.perspectiveTileContainer {
	position: absolute;
	-webkit-perspective: 200;
	
}

.imageTile {
}

.memoryTile {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	border: 1px solid #ccc;
	z-index: 100;
	background: -webkit-gradient(linear, 0 0, 0 100%, 
				from(rgba(208,228,247,1)),
				to(rgba(10,119,213,1)));
    -webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.iphoneDevice .memoryTile {
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
}

.androidDevice .memoryTile {
    -webkit-transition: opacity 1s ease-in-out;
    z-index: 200;
    opacity: 0;
}

.iphoneDevice .flipMemoryTile {
    z-index: 200;
    -webkit-transform: rotateY(0deg);
}

.androidDevice .flipMemoryTile {
	opacity: 1;
}

.androidDevice .invisible {
	opacity: 0;
}

.iphoneDevice .invisible {
	opacity: 0;
}

.memoryTileVertical {
	position: absolute;
	border: 1px solid #ccc;
	z-index: 100;
	background: -webkit-gradient(linear, left, right, 
				rgba(208,228,247,1) 0%,
				rgba(115,177,231,1) 24%,
				rgba(10,119,213,1) 50%,
				rgba(83,159,225,1) 79%,
				rgba(135,188,234,1) 100%);
}

.frontTile {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	z-index: 200;
	border: 1px solid #ccc;
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right top,
	    color-stop(0.19, rgb(84,90,97)),
	    color-stop(0.65, rgb(108,209,240)));
	text-shadow: 2px  2px 2px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}	
.iphoneDevice .frontTile {
	-webkit-transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
}	

.androidDevice .frontTile {
    -webkit-transition: opacity 1s ease-in-out;
    z-index: 100;
    opacity: 1;
}	

.iphoneDevice .flipFrontTile {
    z-index: 100;
    -webkit-transform: rotateY(180deg);
}

.androidDevice .flipFrontTile {
    opacity: 0;
}

.showTile {
	-webkit-animation-duration: 2s;
	-webkit-animation-name: showTileAnimation;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes showTileAnimation {
	0% { 
		opacity: 1;
		-webkit-transform: scale(1.0) rotate(0deg);
		}
	33% { 
		-webkit-transform: scale(2.0) rotate(360deg);
		}
	66% { 
		-webkit-transform: scale(1.0) rotate(0deg);
		}
	100% { 
		-webkit-transform: scale(0) rotate(0deg);
		}
}

.result {
	font-size: 50px;
	font-weight: bold;
	margin: 10%;
	width: 80%;
	height: 80%;
	text-align: center;
}

.tileSucceeded {
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    right top,
	    color-stop(0.19, rgb(184,135,50)),
	    color-stop(0.65, rgb(251,255,31)));
}

.selectedImage {
	border: 2px solid red;
}

.numberIcon {
	position: absolute;
	background-color: green;
}

.admob {
	width: 320px;
	height: 48px;
	margin: 0 auto;
	position: relative;
}