
body {font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;}                
                
/*Title Bar*/
.ui-bar-a {
	border: 1px solid 		#333 /*{a-bar-border}*/;
	background: 			#0C1136 /*{a-bar-background-color}*/;
	color: 					#FFFFFF /*{a-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #000000 /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #428EAE /*{a-bar-background-start}*/), to( #0C1136 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #428EAE /*{a-bar-background-start}*/, #0C1136 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #428EAE /*{a-bar-background-start}*/, #0C1136 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #428EAE /*{a-bar-background-start}*/, #0C1136 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #428EAE /*{a-bar-background-start}*/, #0C1136 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #428EAE /*{a-bar-background-start}*/, #0C1136 /*{a-bar-background-end}*/);
}
.ui-bar-a, 
.ui-bar-a input, 
.ui-bar-a select, 
.ui-bar-a textarea, 
.ui-bar-a button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
	                
.ui-bar-a .ui-link-inherit {
	color: #FFFFFF /*{a-bar-color}*/;
}

.ui-bar-a .ui-link {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
	font-weight: bold;
}

.ui-bar-a .ui-link:hover {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}

.ui-bar-a .ui-link:active {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}

.ui-bar-a .ui-link:visited {
    color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}
.ui-body-a,
.ui-body-c,
.ui-overlay-c,
.ui-overlay-a,
.ui-page,
.ui-li-header,
.ui-li-desc,
.ui-listview{
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	background: 			#F6F6F6 /*{a-body-background-color}*/;
	color: 					#000000 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #F6F6F6 /*{a-body-shadow-color}*/;
	font-weight: normal;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #F6F6F6 /*{a-body-background-start}*/), to( #F6F6F6 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #F6F6F6 /*{a-body-background-start}*/, #F6F6F6 /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #F6F6F6 /*{a-body-background-start}*/, #F6F6F6 /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #F6F6F6 /*{a-body-background-start}*/, #F6F6F6 /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #F6F6F6 /*{a-body-background-start}*/, #F6F6F6 /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #F6F6F6 /*{a-body-background-start}*/, #F6F6F6 /*{a-body-background-end}*/);	
}
                
.ui-overlay-a {
	background-image: none;
	border-width: 0;
}
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-a .ui-link-inherit {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}

.ui-body-a .ui-link {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
	font-weight: bold;
}

.ui-body-a .ui-link:hover {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}

.ui-body-a .ui-link:active {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}

.ui-body-a .ui-link:visited {
    color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}

.ui-btn-up-a {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#428EAE /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#FFFFFF /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #428EAE /*{a-bup-background-start}*/), to( #0C1136 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/);
}
.ui-btn-up-a a.ui-link-inherit {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}
.ui-btn-hover-a {
	border: 1px solid 		#000 /*{a-bhover-border}*/;
	background: 			#0C1136 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#FFFFFF /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 1px /*{a-bhover-shadow-radius}*/ #000000 /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #0C1136 /*{a-bhover-background-start}*/), to( #0C1136 /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #0C1136 /*{a-bhover-background-start}*/, #0C1136 /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #0C1136 /*{a-bhover-background-start}*/, #0C1136 /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #0C1136 /*{a-bhover-background-start}*/, #0C1136 /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #0C1136 /*{a-bhover-background-start}*/, #0C1136 /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #0C1136 /*{a-bhover-background-start}*/, #0C1136 /*{a-bhover-background-end}*/);
}
.ui-btn-hover-a a.ui-link-inherit {
	color: 					#FFFFFF /*{a-bhover-color}*/;
}
.ui-btn-down-a {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#428EAE /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#FFFFFF /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #000000 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #428EAE /*{a-bup-background-start}*/), to( #0C1136 /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #428EAE /*{a-bup-background-start}*/, #0C1136 /*{a-bup-background-end}*/);
	                }
.ui-btn-down-a a.ui-link-inherit {
	color: 					#FFFFFF /*{a-bdown-color}*/;
}
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}
	                
.odd{
	background:#428EAE !important;
}
/*Even Rows */
.even{
	background:#0C1136 !important;
}
	                
a.ui-link,
.ui-li-desc .ui-link, 
.ui-li-heading .ui-link, 
.ui-link,
.ui-link-inherit,
.ui-btn-text .ui-link-inherit,
.ui-li .ui-link-inherit,
.more-link {
	color: #FFFFFF /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 1px /*{a-body-shadow-radius}*/ #000000 /*{a-body-shadow-color}*/;
}
	                
.ui-btn-up-c {
	border: 1px solid 		#000000 /*{c-bup-border}*/;
	background: 			#0C1136 /*{c-bup-background-color}*/;
	font-weight: bold;
	color: 					#FFFFFF /*{c-bup-color}*/;
	opacity:                1.0;
	text-shadow: 0 /*{c-bup-shadow-x}*/ 1px /*{c-bup-shadow-y}*/ 0 /*{c-bup-shadow-radius}*/ #000000 /*{c-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #0C1136 /*{c-bup-background-start}*/), to( #428EAE /*{c-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #0C1136 /*{c-bup-background-start}*/, #428EAE /*{c-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #0C1136 /*{c-bup-background-start}*/, #428EAE /*{c-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #0C1136 /*{c-bup-background-start}*/, #428EAE /*{c-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #0C1136 /*{c-bup-background-start}*/, #428EAE /*{c-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #0C1136 /*{c-bup-background-start}*/, #428EAE /*{c-bup-background-end}*/);
}
	