body,td {
font-family: Verdana, sans-serif;
color:black;
background-color:#ffcc99;
font-size:15px;
height:100%;
margin-bottom:0px;
margin-top:0px;
}

a{

font-weight:bold;
text-transform:capitalize;
}
a:link{
color:black;
}
a:hover{
color:yellow;
}
a:visited{
color:orange;
}

.item{
font-weight:bold;
text-transform:capitalize;
height:40px;
border-bottom:1px solid black;
cursor:pointer;
width:100%;
}
table{
width:100%;
}
h1,h2,h3{
color:#990000;
}


