html { height: 100%; overflow:hidden;}
body { background-color: transparent; margin: 0px; padding: 0px; height: 100%; border-top: 1px transparent solid; margin-top: -1px; z-index:0; position:relative; }
h1 {
	color: #1f61ad;
	text-align: center;
}
p {
	text-align: center;
}
p.bluetext {
	font-weight:bold;
	font-size:16px;
	text-shadow: 0.05em 0.05em 0.1em black
}
#one{
	color: #2a28fc;
}
#two{
	color: #f8424f;
}
#three{
	color: #febf2c;
}
#four{
	color: #14df14;
}
#five{
	color: #b341b5;
}
#six{
	color: #14f3ee;
}
#seven{
	color: #ee2d95;
}

img#background { height: 100%; width: 100%; z-index: -1; position:absolute; color: white; }

#content { font-family: Tahoma, Arial, sans-serif; font-size: 12px; overflow: auto;}
