/*
* CSS for the default story detail view.
*/
/* Prevent resizing in landscape mode. */
body {
-webkit-text-size-adjust: none;
}
h1 {
font-size: 140%;
margin: 7px 0px 17px 0px;
}
.byline {
/*line-height: 16px !important;*/
font-weight: normal;
font-size: 80%;
margin: 2px 0px 0px 0px;
/*white-space: nowrap;*/
color: rgb(128, 128, 128);
}
.pubdate {
/*line-height: 16px !important;*/
font-weight: normal;
font-size: 80%;
margin: 2px 0px 10px 0px;
white-space: nowrap;
color: rgb(128, 128, 128);
}
.articlebody {
}
#inline {
clear: none;
display: inline;
float: right;
padding: 0px 5px 10px 10px;
}
#inlinePhoto img {
border: 1px solid rgb(102, 102, 102);
}
#inlinePhoto .more {
background: url(morearrow.gif) no-repeat center right;
font-family: sans-serif;
font-size: 80%;
color: rgb(0, 136, 204);
padding-right: 8px;
text-align: right;
width: 112px;
}
a.vidplay {
background: url(vidplaceholder.png) no-repeat;
width: 149px;
position: relative;
display: block;
text-decoration: none;
margin-top: 20px;
padding: 0px;
}
a.vidplay img {
border: 1px solid #444;
min-height: 82px;
min-width: 146px;
}
a.vidplay span.playbutton img {
border: 0;
min-height: 0px;
min-width: 0px;
}
a.vidplay span.playbutton {
position: absolute;
right: 0;
bottom: 0;
height: 44px;
width: 44px;
}
