/*
* CSS for the imagepreview
*/

body {
	background: none;
	padding: 0;
	margin: 0;
}

html, body, #wrapper {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
  }

#wrapper td {
   vertical-align: middle;
   text-align: center;
   background: none;
}
#caption {
	position: absolute;
	padding: 10px 0;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(shadow.png) repeat;
	color: #FFF;
	font-size: 18px;
}

.arrow_left {
	position: absolute;
	left: 0;
	top: 50%;
	width: 30px;
	height: 50px;
	margin-top: -25px;
	display: block;
	background: url(arrow_left.png) no-repeat center center;
}
.arrow_right {
	position: absolute;
	right: 0;
	top: 50%;
	width: 30px;
	height: 50px;
	margin-top: -25px;
	display: block;
	background: url(arrow.png) no-repeat center center;
}