书讯<br>　　<br>　　书名：四型人格：四象体质的人生说明书<br>　　作者：王永<br>　　书号：978-7-5447-2502-6<br>　　出版：译林出版社　2012。4<br>　　定价：22。80元　<br>　　分类：心理学　畅销书<br>　　<br>　　九型人格更适合西方人，四型人格最适合东方人<br>　　给我你的语言，我就能推知你的人生<br>　　通晓四象，平衡人生。古老的《周易》智慧，浓缩的《内经》菁华，新鲜的《东医》视角，融通的“人学”时尚。<br>　　<br>　　<br><br>