<div style="font-size: 90%;">
&copy;2011 ePoint Production<br>
<br>
呜谢:<br>
背景设计: karenbak, IdealHut, IJ's Design, all-free-download, Vector Open Stock, Design Cavern<br>
人物设计: BL<br>
法文翻译: Arkhee et le Club Tiin Azur<br>
<br>
请电邮bug reports/建议至:
<a href='mailto:mjfriendsmail@gmail.com'>mjfriendsmail@gmail.com</a>
<br>
<font color="#808080" style="font-size: 90%;">
来电邮请注意: 为使除错更方便快捷，请尽量清楚说明错误的发生的情况，以及所使用的装置牌子、型号以及Android 版本，谢谢！ <br>
(由于来电邮数量众多，我们未必能一一回覆，但我们定当尽力解决问题，敬希见谅。)
</font>
</div>