<span style="font-size: 90%;">
&copy;2011 ePoint Production<br><br>
Credits:<br>
Background By: karenbak, IdealHut, IJ's Design, all-free-download, Vector Open Stock, Design Cavern<br>
Character Design: BL<br>
French Translation: Arkhee et le Club Tiin Azur<br>
<br>
Please send bug reports/suggestions to:
<a href='mailto:mjfriendsmail@gmail.com'>mjfriendsmail@gmail.com</a>
<br>
<font color="#808080" style="font-size: 90%;">
Note for bug reports : in order to handle reports easier and faster, please describe thoroughly how of the problem appeared and provide us with the name of your device and Android version number.<br>
(Due to large number of emails, we might not be able to reply every single email, but we promise that we'll do our best to look into every problem/suggestion that you sent, please accept our apology.)
</font>
</span>