<div style="font-size: 90%;">
&copy;2011 ePoint Production<br>
<br>
Crédits:<br>
Image d’arrière plan: karenbak, IdealHut, IJ's Design, all-free-download, Vector Open Stock, Design Cavern<br>
Dessins des personnages: BL<br>
Traduction en Français: Arkhee et le Club Tiin Azur<br>
<br>
Merci de faire parvenir vos questions, suggestions et rapports d’anomalies en anglais et par mail à l’adresse suivante:
<a href='mailto:mjfriendsmail@gmail.com'>mjfriendsmail@gmail.com</a>
<br>
<font color="#808080" style="font-size: 90%;">
Note pour les rapports d’anomalies : afin d’en faciliter et d’en accélérer le traitement, merci de décrire les conditions dans lesquelles le problème est apparu et d’indiquer le modèle de votre appareil ainsi que si possible la version du système
<font>
</div>