<span style="font-size: 90%;">
&copy;2011 ePoint Production<br><br>
Credits:<br>
背景デザイン：karenbak, IdealHut, IJ's Design, all-free-download, Vector Open Stock, Design Cavern<br>
キャラクターデザイン：BL<br>
フランス語翻訳：Arkhee et le Club Tiin Azur<br>
<br>
バグ報告・ご提案はこちらへ：
<a href='mailto:mjfriendsmail@gmail.com'>mjfriendsmail@gmail.com</a>
<br>
<font color="#808080" style="font-size: 90%;">
バグ報告について：ご報告について迅速に対応するため、どのような問題が発生したかを詳しくお書きの上、ご使用のデバイス名とAndroidのバージョンをお知らせください。
（多くのEメールをいただいておりますため、それぞれのメールに返信することができない場合がありますが、お送りいただいた全ての問題及びご提案について十分な調査を行いできる限りの対応をして参ります。何卒ご理解くださいますようお願い申し上げます。）
</font>
</span>