<div style="font-size: 90%;">
&copy;2011 ePoint Production<br>
<br>
嗚謝:<br>
背景設計: karenbak, IdealHut, IJ's Design, all-free-download, Vector Open Stock, Design Cavern<br>
人物設計: BL<br>
法文翻譯: Arkhee et le Club Tiin Azur<br>
<br>
請電郵bug reports/建議至:
<a href='mailto:mjfriendsmail@gmail.com'>mjfriendsmail@gmail.com</a>
<br>
<font color="#808080" style="font-size: 90%;">
來電郵請注意: 為使除錯更方便快捷，請盡量清楚說明錯誤的發生的情況，以及所使用的裝置牌子、型號以及 Android 版本，謝謝！<br>
(由於來電郵數量眾多，我們未必能一一回覆，但我們定當盡力解決問題，敬希見諒。)
</font>
</div>