<script type="text/javascript">
var imgs = [
["1T","2T","3T","4T","5T","6T","7T","8T","9T"],
["1S","2S","3S","4S","5S","6S","7S","8S","9S"],
["1M","2M","3M","4M","5M","6M","7M","8M","9M"],
["ET","SH","WS","NR"],
["CN","FT","PK"],
["S1","S2","S3","S4","F1","F2","F3","F4"]
];
function init()
{
/*	document.getElementById("points").innerHTML=min_points; */
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (tiles[a]=="")
			{
				o.push("&nbsp;");
			}
			else
			{
				o.push('<img id="tile_img" src="file:///android_asset/help/');
				var t = tiles[a];
				o.push(t);
				if (tile_style=="en" || tile_style=="mix")
				{
					if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
					{
						o.push("_" + tile_style);
					}
				}
				o.push('.png">');
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>雀友麻雀(國標版)
<br>(麻將競賽規則)</b>
<br>
<br><b>麻雀牌:</b>
<br>
<table id='myfont'>
<tr><td valign='top'>(1)</td><td>一副完整麻雀牌共有六種類，四十二種圖案，合共144隻。</td></tr> 
<tr><td valign='top'>(2)</td><td>序數牌有三種，分別為筒子、索子及萬子，每種由4隻序數1至9組成，合共108隻。</td></tr>
<tr><td valign='top'>(3)</td><td>番子牌有七種，分別為東、南、西、北、中、發、白，每種4隻，合共28隻。 </td></tr>
<tr><td valign='top'>(4)</td><td>花牌分別為春、夏、秋、冬、梅、蘭、菊、竹，共8隻。</td></tr>
</table>
<table style="border-style: dotted;border-width: 3px; border-color:teal;">
<tr><td valign='center' align='right'><span id='myfont'>筒子:</span></td><td>
<div id='tiles1'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>索子:</span></td><td>
<div id='tiles2'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>萬子:</span></td><td>
<div id='tiles3'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>風牌:</span></td><td>
<div id='tiles4'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>三元牌:</span></td><td>
<div id='tiles5'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>花牌:</span></td><td>
<div id='tiles6'></div></td><td><span id='myfont'> x1</span>
</td></tr></table>
<br><b>牌牆:</b>
<br><span id='myfont'>牌牆就是玩家抓牌的地方，當所有在牌牆的牌被抓光，而又沒有人胡牌，則此局為荒牌。</span>
<br>
<br><b>牌池:</b>
<br><span id='myfont'>牌池就是玩家打出的牌所放置的地方。</span>
<br>
<br><b>牌的分配:</b>
<br><span id='myfont'>遊戲開始時，每位參與者會被分配13隻牌，這13隻牌稱為“手牌”。</span> 
<br>
<br><b>一盤:</b>
<br><span id='myfont'>由分牌開始，直到有人胡牌或荒牌，稱為一盤。</span>
<br>
<br><b>風:</b>
<br><span id='myfont'>麻雀遊戲有四個風，分別為東、南、西、北。</span>
<br>
<br><b>莊家:</b>
<br><span id='myfont'>莊家就是第一個抓牌的人，新開始遊戲時莊家由電腦自動編配，當一盤結束後，就會由位下一位玩家(右方的一位)做莊。</span>
<br>
<br><b>一圈:</b>
<br><span id='myfont'>當四位玩家都做過莊，就稱為一圈。</span>
<br>
<br><b>一局:</b>
<br><span id='myfont'>在現實麻將競賽規則中，一局為四圈(16盤)。<!--但本遊戲定義一局為兩圈(8盤)。--></span>
<br>
<br><b>圈風:</b>
<br><span id='myfont'>每一圈都以風命名，第一圈為東圈，第二圈為南圈，第三圈為西圈，第四圈為北圈。<!--由於雀友麻雀一局只有兩圈，所以沒有西圈和北圈。--></span>
<br>
<br><b>門風:</b>
<br><span id='myfont'>每一位玩家都有一個門風，和圈風一樣以東南西北命名，莊家為東風，莊家右方玩家為南風，對面玩家為西風，左方玩家為北風。</span>
<br>
<br><b>花牌:</b>
<br><span id='myfont'>當抓到花牌時，你必需把它放到“亮牌處”，然後在牌牆的最後方再抓一隻(稱之為補花)，在雀友麻雀中，補花會自動進行。</span>
<br>
<br><b>開始時補花:</b>
<br><span id='myfont'>開始時，玩家所分配的13隻牌中，如有任何花牌，需把它們放到“亮牌處”，然後依玩家門風順東、南、西、北這次序補花。</span>
<br>
<br><b>行牌:</b>
<br><span id='myfont'>遊戲依逆時針方向進行，由莊家(東風)開始，從牌牆抓一隻牌，再打出一隻不要的牌到牌池，然後到南風玩家，如此類推。但當有碰牌或槓牌情況出現時，則由組牌人下一風位玩家抓牌(下詳述)。</span>
<br>
<br><b>胡牌:</b>
<br><span id='myfont'>要勝出一盤，你手中的牌必需為合法的胡牌，胡牌可以是他人打出(出充)或自己在牌牆抓進(自摸)。</span>
<br>
<br><b>眼(將):</b>
<br><span id='myfont'>合法的胡牌中，通常都會有兩隻相同，稱為“眼”(或將)的牌(特殊牌型 - 七對和不靠除外，詳情可參考牌型)。</span>
<br>
<br><b>組牌:</b>
<br><span id='myfont'>當其他玩家所打出的牌能與你手中的牌組合成一組(下詳述)，你可以宣告組牌，組合了的牌必需放到亮牌處。</span>
<br>
<br><b>組牌 - 上(或吃):</b>
<br><span id='myfont'>上牌(亦稱順子)為三隻同花色，序數相連的牌。你只可以上上家(左方玩家)的牌，例如上家打出1筒，而你手中有2和3筒，你就可以宣告上牌，上牌後，你必需把1筒和手中的2,3筒一拼放到亮牌處中，然後再打出一隻不要的牌到牌池。</span>
<br>
<br><b>組牌 - 碰:</b>
<br><span id='myfont'>碰牌(亦稱刻子)為三隻相同的牌。當其他玩家打出一隻牌是和你手上所擁有的兩隻相同的時候，你可以宣告碰牌，碰牌比上牌擁有較高的優先次序。當碰牌完成後，你需把三隻牌放到亮牌處，然後再打出一隻不要的牌到牌池。</span> 
<br>
<br><b>組牌 - 槓:</b>
<br><span id='myfont'>槓是四隻相同的牌。“開槓”(宣告槓)可以用幾種不同的方式達成。首先是和碰一樣，當其他玩家打出一隻牌是和你手上所擁有的三隻相同的時候，你可以宣告槓，用這方式達成的槓稱為“明槓”。第二種方式是，當你從牌牆抓牌時，你的亮牌處已有三隻碰牌(刻子)，而你手中又擁有第四隻相同的牌(這牌不必為你剛才從牌牆處抓回來的一隻)，你可宣告槓，這種方式同樣稱為“明槓”。最後一種方式為，當你從牌牆抓牌時，你手中同時擁有四隻相同的牌，你也可宣告槓，這種方式達成的槓稱為“暗槓”。開槓後你需把四隻牌放到亮牌處，牌面向上，但如果所開的是暗槓，你不必亮牌(牌面向下)，直到一盤結束後你才需要亮牌給其他玩家查看。開槓完成後，你需要從牌牆的未端抓一隻牌，然後再打出一隻不要的牌到牌池。</span>
<br>
<br><b>組牌後的行牌順序:</b>
<br><span id='myfont'>當組牌完成後，而組牌玩家亦已打出一隻牌到牌池，位於組牌玩家的下一風位玩家會成為下一個抓牌的人。舉列：東風玩家打出的牌被北風玩家碰，當北風玩家打出一隻牌到牌池後，而又沒有其他人宣告碰或槓，則下一位抓牌的為東風玩家，而非南風玩家。</span>
<br>
<br><b>暗碰和上(刻子及順子):</b>
<br><span id='myfont'>當你手上擁有三隻上牌(順子)或碰牌(刻子)，而這三隻牌又非從他人手中組合而來。這些組合稱為暗刻/順。</span>
<br>
<br><b>完整胡牌的4 + 1結構:</b>
<br><span id='myfont'>一副完整胡牌通常由4組碰(刻子)、上(順子)、槓和一對眼組成。而當中的4組可以是暗手牌或亮牌。然而也有一些例外，詳情可以參考“牌型”。</span>
<br>
<br><b>叫胡(聽牌):</b>
<br><span id='myfont'>當你手上的牌只差一隻就能成為完整的胡牌，這情況稱為叫胡(或聽牌)。</span>
<br>
<br><b>勝出:</b>
<br><span id='myfont'><!--要宣告胡牌，你的牌必需最少達到<span id="points"></span>番。-->當你手中的牌可以和其他人打出(或開槓)的牌組成胡牌而又同時達到或超過指定番數。你可以宣告胡牌，這情況下的胡牌稱為出充胡。而當你從牌牆抓的一隻牌能和你手上的牌組成胡牌，而同時又達到或超過指定番數，你也可以宣告胡牌，這種情況稱為自摸胡。</span>
<br>
<br><b>一炮多響:</b>
<br><span id='myfont'>在雀友麻雀中，是容許多人同時宣告胡牌的，這情況稱為“一炮多響”。但在現實的競技麻雀中，只容許一位玩家胡牌，如多人同時胡牌，只有最接近出充者風位那一位玩家可宣告胡牌。</span>
<br>
<br><b>分數計算(只限於雀友麻雀):</b>
<br>
<table id='myfont'>
<tr><td valign='top'>a.)</td><td>出充胡: 出充者輸(胡牌番數 + 8) * 2, 其他玩家輸 16。</td></tr> 
<tr><td valign='top'>b.)</td><td>自摸胡: 玩家輸(胡牌番數 + 8) * 2。</td></tr>
</table>