<b>雀友麻雀(國標版) - 快速指南</b><br>
<i>於“規則”內有完整的游戲說明</i><br>
<br>
<table id='myfont'>
<tr><td valign='top'><li /></td><td>游戲以逆時針方向進行</td></tr>
<tr><td valign='top'><li /></td><td>上(或吃)牌: 三隻序數相連的牌，你只可以上上家(左方玩家)打出的牌</td></tr>
<tr><td valign='top'><li /></td><td>碰牌: 三隻相同的牌</td></tr>
<tr><td valign='top'><li /></td><td>槓牌: 四隻相同的牌</td></tr>
<tr><td valign='top'><li /></td><td>三隻序數相連或三隻相同的牌，亦稱為順子及刻子</td></tr>
<tr><td valign='top'><li /></td><td>上牌、碰牌、槓牌、暗手順子及暗手刻子，均為合法的組牌</td></tr>
<tr><td valign='top'><li /></td><td>上牌或碰牌後，你需要打出一隻不要的牌</td></tr>
<tr><td valign='top'><li /></td><td>槓牌後，你需要從牌牆摸一隻牌，再打出一隻不要的牌</td></tr>
<tr><td valign='top'><li /></td><td>4+1 結構: 通常胡牌牌型為4組加1對</td></tr>
</table>
<br>
<img id='help_img' src="file:///android_asset/help/qs_help_b5.jpg">
