<script type="text/javascript">
function init()
{
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (a==0)
			{
				var tname = document.getElementById("type" + eval(k+1));
				if (tname) tname.innerHTML="(" + eval(k+1) + ") <i><b>" + tiles[a] + "</b></i>";
			}
			else
			{
				if (tiles[a]=="")
				{
					o.push("&nbsp;");
				}
				else
				{
					o.push('<img id="tile_img" src="file:///android_asset/help/');
					var t = tiles[a];
					o.push(t);
					if (tile_style=="en" || tile_style=="mix")
					{
						if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
						{
							o.push("_" + tile_style);
						}
					}
					o.push('.png">');
				}
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>Points des mains gagnantes avec exemples:</b>
<br>
<br><b><font color="red">88 Points</font></b>:
<br><span id="type1"></span> - 
4 Pungs ou Kongs de chacun des 4 Vents
<br><div id="tiles1"></div>
<br><span id="type2"></span> - 
3 Pungs ou Kongs de chacun des 3 Dragons
<br><div id="tiles2"></div>
<br><span id="type3"></span> - 
Uniquement des tuiles vertes (Bambous 2,3,4,6,8 et Dragon Vert)
<br><div id="tiles3"></div>
<br><span id="type4"></span> - 
1-1-1, 9-9-9, 2-3-4-5-6-7-8 cachés dans 1 famille. Pour gagner sur un écart il doit être possible de finir avec n'importe quelle tuile de la famille.
<br><div id="tiles4"></div>
<br><span id="type5"></span> - 
4 Kongs, des points supplémentaires peuvent être obtenus en cas de kongs cachés
<br><div id="tiles5"></div>
<br><span id="type6"></span> - 
7 Paires consécutives dans 1 famille
<br><div id="tiles6"></div>
<br><span id="type7"></span> - 
1 tuile de chaque Honneur (une de chaque dragon et une de chaque vent) et 1 tuile de chaque Extrémité (le 1 et le 9 de chaque famille) + 1 tuile en double pour compléter la main
<br><div id="tiles7"></div>
<br>
<br><b><font color="red">64 Points</font></b>:
<br><span id="type8"></span> - 
Uniquement des 1 et des 9
<br><div id="tiles8"></div>
<br><span id="type9"></span> - 
3 Pungs ou Kongs de Vents + Paire du 4ème
<br><div id="tiles9"></div>
<br><span id="type10"></span> - 
2 Pungs ou kongs de Dragons + Paire du 3ème
<br><div id="tiles10"></div>
<br><span id="type11"></span> - 
Une main constituée uniquement avec des pungs, kongs et une paire de Dragons et de Vents
<br><div id="tiles11"></div>
<br><span id="type12"></span> - 
4 Pungs ou kongs cachés
<br><div id="tiles12"></div>
<br><span id="type13"></span> - 
Dans une famille : 2 fois (1-2-3 + 7-8-9) + Paire de 5
<br><div id="tiles13"></div>
<br>
<br><b><font color="red">48 Points</font></b>:
<br><span id="type14"></span> - 
4 Chows identiques dans 1 famille
<br><div id="tiles14"></div>
<br><span id="type15"></span> - 
4 Pungs ou kongs consécutifs dans 1 famille
<br><div id="tiles15"></div>
<br>
<br><b><font color="red">32 Points</font></b>:
<br><span id="type16"></span> - 
4 Chows superposés de 1 ou de 2 tuiles dans une même famille
<br><div id="tiles16"></div>
<br><span id="type17"></span> - 
3 Kongs dans une main, des points supplémentaires peuvent être attribués si les kongs sont cachés
<br><div id="tiles17"></div>
<br><span id="type18"></span> - 
Main constituée uniquement d'Honneurs (dragons et vents) et des d'Extrémités (1 et 9 des familles)
<br><div id="tiles18"></div>
<br>
<br><b><font color="red">24 Points</font></b>:
<br><span id="type19"></span> - 
Main constituée de 7 Paires
<br><div id="tiles19"></div>
<br><span id="type20"></span> - 
Une tuile de chacun des 7 Honneurs + 7 tuiles sur les 9 de la Suite Serpentin (la suite serpentin est constituée de tuiles entrecroisées de chacune des 3 familles : bambou 147, 258 cercles et 369 caractères)
<br><div id="tiles20"></div>
<br><span id="type21"></span> - 
Main concstituée uniquement des tuiles paires des familles : 2, 4, 6 ou 8
<br><div id="tiles21"></div>
<br><span id="type22"></span> - 
Main constituée exclusivement des tuiles issues d'une seule famille
<br><div id="tiles22"></div>
<br><span id="type23"></span> - 
3 Chows identiques dans 1 famille
<br><div id="tiles23"></div>
<br><span id="type24"></span> - 
3 Pungs ou kongs consécutifs dans 1 famille
<br><div id="tiles24"></div>
<br><span id="type25"></span> - 
Uniquement des tuiles 7, 8 et 9
<br><div id="tiles25"></div>
<br><span id="type26"></span> - 
Uniquement des tuiles 4, 5 et 6
<br><div id="tiles26"></div>
<br><span id="type27"></span> - 
Uniquement des tuiles 1, 2 et 3
<br><div id="tiles27"></div>
<br>
<br><b><font color="red">16 Points</font></b>:
<br><span id="type28"></span> - 
1-2-3, 4-5-6, 7-8-9 dans 1 famille
<br><div id="tiles28"></div>
<br><span id="type29"></span> - 
1-2-3 et 7-8-9 dans 2 familles + Paire de 5 dans la 3ème famille
<br><div id="tiles29"></div>
<br><span id="type30"></span> - 
3 Chows superposés de 1 ou de 2 tuiles dans 1 famille
<br><div id="tiles30"></div>
<br><span id="type31"></span> - 
Au moins un 5 dans chaque figure de la main (chow, pung ou kong)
<br><div id="tiles31"></div>
<br><span id="type32"></span> - 
3 Pungs ou Kongs identiques dans 3 familles
<br><div id="tiles32"></div>
<br><span id="type33"></span> - 
3 Pungs ou Kongs cachés
<br><div id="tiles33"></div>
<br>
<br><b><font color="red">12 Points</font></b>:
<br><span id="type34"></span> - 
5 Honneurs uniques+ Suite Serpentin complète, ou 6 Honneurs uniques+ Suite Serpentin incomplète
<br><div id="tiles34"></div>
<br><span id="type35"></span> - 
Une suite de 1 à9 dont les tuiles sont réparties dans les trois familles : 1-4-7 dans 1 famille, 2-5-8 dans la 2ème, 3-6-9 dans la 3ème
<br><div id="tiles35"></div>
<br><span id="type36"></span> - 
Main composée uniquement de tuiles  6, 7, 8 et 9 des trois familles
<br><div id="tiles36"></div>
<br><span id="type37"></span> - 
Main composée uniquement de tuiles 1, 2, 3 et 4 des trois familles
<br><div id="tiles37"></div>
<br><span id="type38"></span> - 
Main contenant 3 Pungs ou Kongs de Vents
<br><div id="tiles38"></div>
<br>
<br><b><font color="red">8 Points</font></b>:
<br><span id="type39"></span> - 
Trois chows successifs et non superposés dans les trois familles : 1-2-3, 4-5-6, 7-8-9
<br><div id="tiles39"></div>
<br><span id="type40"></span> - 
Main composée uniquement de pièces symétriques verticalement, qui sont donc identiques selon leur orientation quand on les pose devant soit : 1,2,3,4,5,8,9 Cercles, 2,4,5,6,8,9 Bambous et Dragon Blanc
<br><div id="tiles40"></div>
<br><span id="type41"></span> - 
3 Chows identiques dans 3 familles
<br><div id="tiles41"></div>
<br><span id="type42"></span> - 
3 Pungs ou Kongs  consécutifs, 1 dans chaque famille
<br><div id="tiles42"></div>
<br><span id="type43"></span> - 
Une main qui vaudrait normalement 0 points. Cette main est plus difficile qu'il n'y paraît à obtenir. Les fleurs ne sont pas prises en compte.
<br><div id="tiles43"></div>
(dans cet exemple, le 6 de cercles ne peut pas être tiré soi-même ni dernière tuile du mur)<br>
<br><span id="type44"></span> - 
Finir en piochant la dernière tuile du mur. Non combinable avec  "Tirer soi-même"
<br><div id="tiles44"></div>
<br><span id="type45"></span> - 
Finir sur la dernière défausse de la partie
<br><div id="tiles45"></div>
<br><span id="type46"></span> - 
Finir grâce à la tuile de remplacement d'un Kong. Non combinable avec  "Tirer soi-même". Pas valide si la tuile de remplacement est une fleur. Si une fleur est tirée en remplacement d'un Kong, la pièce gagnante étant tirée en remplacement de la fleur, seuls les points obtenus pour "Tirer soi-même".
<br><div id="tiles46"></div>
<br><span id="type47"></span> - 
Finir avec la tuile d'un joueur adverse, qui transforme un de ses Pung en Kong
<br><div id="tiles47"></div>
<br><span id="type48"></span> - 
2 Kongs cachés
<br><div id="tiles48"></div>
<br>
<br><b><font color="red">6 Points</font></b>:
<br><span id="type49"></span> - 
4 Pungs ou Kongs + 1 Paire
<br><div id="tiles49"></div>
<br><span id="type50"></span> - 
Main composée d'une seule famille avec des Honneurs (dragons et/ou vents)
<br><div id="tiles50"></div>
<br><span id="type51"></span> - 
3 Chows superposés dans 3 familles différentes, superposés de 2 tuiles
<br><div id="tiles51"></div>
<br><span id="type52"></span> - 
Tous les types de tuiles sont représentés : au moins un vent, un dragon, et chacune des trois familles.
<br><div id="tiles52"></div>
<br><span id="type53"></span> - 
4 figures (pung, kong, chow) sont exposées et finir sur un écart, sur la paire.
<br><div id="tiles53"></div>
<br><span id="type54"></span> - 
2 Pungs ou Kongs de Dragon
<br><div id="tiles54"></div>
<br>
<br><b><font color="red">4 Points</font></b>:
<br><span id="type55"></span> - 
Au moins 1 Extrémité ou 1 Honneur par figure
<br><div id="tiles55"></div>
<br><span id="type56"></span> - 
Finir en piochant la tuile sans avoir rien exposé
<br><div id="tiles56"></div>
<br><span id="type57"></span> - 
2 Kongs exposés. Un Kong caché et un kong exposé valent 6 points.
<br><div id="tiles57"></div>
<br><span id="type58"></span> - 
Finir avec la 4ème tuile quand les 3 autres sont visibles (défaussées ou combinaisons exposées)
<br><div id="tiles58"></div>
<br>
<br><b><font color="red">2 Points</font></b>:
<br><span id="type59"></span> - 
1 Pung ou Kong de Dragon
<br><div id="tiles59"></div>
<br><span id="type60"></span> - 
1 Pung ou Kong du Vent du Tour
<br><div id="tiles60"></div>
<br><span id="type61"></span> - 
1 Pung ou Kong du Vent du Joueur
<br><div id="tiles61"></div>
<br><span id="type62"></span> - 
Finir sur un écart sans avoir rien exposé
<br><div id="tiles62"></div>
<br><span id="type63"></span> - 
Tout Chow (pas d'Honneur)
<br><div id="tiles63"></div>
<br><span id="type64"></span> - 
4 tuiles identiques dans au moins 2 figures différentes (excluant les kongs)
<br><div id="tiles64"></div>
<br><span id="type65"></span> - 
2 Pungs identiques dans 2 familles
<br><div id="tiles65"></div>
<br><span id="type66"></span> - 
2 Pungs cachés
<br><div id="tiles66"></div>
<br><span id="type67"></span> - 
1 Kong caché, déclaré comme Kong
<br><div id="tiles67"></div>
<br><span id="type68"></span> - 
Uniquement des tuiles de 2 à 8
<br><div id="tiles68"></div>
<br>
<br><b><font color="red">1 Point</font></b>:
<br><span id="type69"></span> -  
2 Chows identiques dans 1 famille
<br><div id="tiles69"></div>
<br><span id="type70"></span> -  
2 Chows identiques dans 2 familles
<br><div id="tiles70"></div>
<br><span id="type71"></span> - 
2 Chows consécutifs dans 1 famille
<br><div id="tiles71"></div>
<br><span id="type72"></span> - 
1-2-3 et 7-8-9 dans 1 famille
<br><div id="tiles72"></div>
<br><span id="type73"></span> - 
1 Pung ou Kong de 1, de 9 ou de Vent "ordinaire"
<br><div id="tiles73"></div>
<br><span id="type74"></span> -  
1 Kong exposé, c'est à dire un Pung exposé transformé avec une tuile tirée du mur, ou un Pung caché transformé avec une défausse d'un autre joueur.
<br><div id="tiles74"></div>
<br><span id="type75"></span> -  
1 famille absente : la main peut contenir des honneurs, mais uniquement des tuiles de deux familles
<br><div id="tiles75"></div>
<br><span id="type76"></span> - 
Uniquement des tuiles des trois familles, pas d'honneurs (ni vents ni dragons)
<br><div id="tiles76"></div>
<br><span id="type77"></span> - 
Finir sur 3 pour 1-2-3 ou 7 pour 7-8-9. Pas valide si attente sur plusieurs tuiles simultanément ou si l'attente est combinée avec d'autres types d'attentes (Finir au milieu, sur la paire ...)
<br><div id="tiles77"></div>
<br><span id="type78"></span> - 
Finir sur la tuile du milieu d'un Chow. Pas valide si le joueur est en attente de plusieurs pièces simultanément, par exemple disposer de 4-5-6-6-7 cachés et attendre sur le 5 ou 8. Valable par contre sur 1-2-2-3-4 car on ne peut finir que sur le 3.
Pas valide si "Finir au milieu" est combiné avec d'autres types d'attentes (Finir d'un côté etc)
<br><div id="tiles78"></div>
<br><span id="type79"></span> - 
Finir en complétant une paire. Pas valide si attente de plusieurs tuiles, par exemple disposer de 1-2-3-4 dans une famille et attendre soit le 1 soit le 4
<br><div id="tiles79"></div>
<br><span id="type80"></span> - 
Finir en piochant la tuile gagnante
<br><div id="tiles80"></div>
<br><span id="type81"></span> - 
Chacune des tuiles de Fleur ou de Saison, c'est à dire gravées des mots chinois signifiant Automne, Hiver, Printemps, Eté, Orchidée, Bambou, Chrysantème ou Prune, rapporte un point quand vous gagnez. Ce point ne peut pas être utilisé pour atteindre le minimum de point pour gagner.
En cas de victoire sur une tuile de remplacement obtenue après une fleur ou saison, le gagnant obtient un point pour "Tirer soi-même" mais pas pour "Gagner sur une tuile de remplacement"
<br><div id="tiles81"></div>