<script type="text/javascript">
var imgs = [
["1T","2T","3T","4T","5T","6T","7T","8T","9T"],
["1S","2S","3S","4S","5S","6S","7S","8S","9S"],
["1M","2M","3M","4M","5M","6M","7M","8M","9M"],
["ET","SH","WS","NR"],
["CN","FT","PK"],
["S1","S2","S3","S4","F1","F2","F3","F4"]
];
function init()
{
/*	document.getElementById("points").innerHTML=min_points; */
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (tiles[a]=="")
			{
				o.push("&nbsp;");
			}
			else
			{
				o.push('<img id="tile_img" src="file:///android_asset/help/');
				var t = tiles[a];
				o.push(t);
				if (tile_style=="en" || tile_style=="mix")
				{
					if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
					{
						o.push("_" + tile_style);
					}
				}
				o.push('.png">');
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>Mahjong & Amis
<br>Règles officielles Chinoises ou Règles de Compétition de Mahjong - MCR</b>
<br>
<br><b>Introduction</b>
<br>Le but du jeu de Mah-jong est assez simple, puisqu’il consiste à réaliser des combinaisons de pièces (les tuiles), le gagnant étant le joueur réussissant à obtenir dans son jeu quatre combinaisons de trois pièces plus une paire.
<br>Le jeu se joue à quatre joueurs, un jeu étant constitué de 144 tuiles, qui seront décrites ci-dessous.
<br>Chaque joueur recevra en début de partie, 13 tuiles. Le donneur en recevra 14 et, s’il n’a pas d’emblée gagné la partie - ce qui est rare - en choisira une dont il se défaussera. Le joueur suivant prendra alors une tuile dans la “pioche”, que l’on nomme le “Mur”, puis se défaussera à son tour, et ainsi de suite.
<br>Dans certaines conditions, les autres joueurs auront la possibilité de prendre la tuile qui vient d’être jetée au lieu de piocher dans le mur, voire pourront sauter le tour des joueurs précédents en prenant la tuile qui vient d’être jetée.
<br>
<br><b>Le jeu</b>
<br>
<br><b>Les tuiles</b>
<br>Un jeu de Mahjong est constitué de 144 tuiles, ressemblant à des dominos. Il en existe de toutes sortes et de toutes tailles : petites, grandes, semi-transparentes en plastiques, en bambou et os, voire en ivoire pour les jeux plus anciens.
<table id='myfont'>
<tr><td valign='top'>(1)</td><td>Un jeu complet est composé de 3 types de tuiles,ayant un rôle, une fonction et une importances différentes : les Honneurs suprèmes, les Honneurs et les Familles.
	<br>La totalité de ces trois types de tuiles compose les 144 tuiles du jeu.</td></tr> 
<tr><td valign='top'>(2)</td><td>Les familles composent 108 tuiles sur les 144 du jeu. Il existe trois familles composées chacune de 36 tuiles numérotées de 1 à 9.
	<br>Les trois familles sont les Bambous, les Cercles et les Caractères.
	<br>Chacune des tuiles de chacune des famille est représentée en 4 exemplaires, c’est pourquoi une famille est composée de 36 tuiles : 4x9</td></tr>
<tr><td valign='top'>(3)</td><td>Les honneurs sont au nombre de 28, répartis entre les vents et les dragons.
	<br>Il y a quatre vents : Est, Sud, Ouest et Nord. Les vents ont une place symbolique importante dans le Mahjong car les quatre joueurs sont aussi désignés par le vent qu’ils représentent.
	<br>Il y a ensuite trois dragons : Rouge, Blanc et Vert.
	<br>Encore une fois, chacun de ces honneurs est présent dans le jeu en quatre exemplaires : quatre dragons rouges, quatre dragons verts, et ainsi de suite, soit au total 7 honneurs multipliés par 4 : 28 tuiles.</td></tr>
<tr><td valign='top'>(4)</td><td>Fleurs et Saisons : chacune présente de manière unique dans le jeu. Leur dénomination varie parfois selon les jeux mais en règle générale elles se nomment : Printemps, Eté, Automne, Hiver pour les saisons, Prune, Orchidée, Bambou et Chrysantème pour les fleurs. nthemum. 
	<br>Soit au total 8 tuiles.</td></tr>
</table>
<table style="border-style: dotted;border-width: 3px; border-color:teal;">
<tr><td valign='center' align='right'><span id='myfont'>Cercles:</span></td><td>
<div id='tiles1'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Bambous:</span></td><td>
<div id='tiles2'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Caractères:</span></td><td>
<div id='tiles3'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Vents:</span></td><td>
<div id='tiles4'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Dragons:</span></td><td>
<div id='tiles5'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Fleurs & <br>Saisons:</span></td><td>
<div id='tiles6'></div></td><td><span id='myfont'> x1</span>
</td></tr></table>
<br><b>Les vents et les joueurs</b>
<br><span id='myfont'>Les joueurs sont disposés autour de la table, chaque joueur incarne un vent en début de partie : Est, Sud, Ouest et Nord. A noter que dans la rose des vents du Mah-jong, le Nord et le Sud sont inversés.
	<br>A chaque manche, les vents tournent; ainsi les joueurs, sans changer de place, changent de vent. A chaque partie le vent tourne d’un quart de table dans le sens inverse des aiguilles d’une montre. Ainsi le joueur incarnant le vent d’est en début de manche, incarnera successivement : Est, Nord, Ouest, Sud.
	<br>Lorsque les vents auront fait un tour complet, le joueur qui était Est au départ le devient à nouveau. On dit alors qu’on a fait un tour de jeu.
	<br>Au démarrage de la partie, le vent dominant est Est, ce vent tourne à chaque tour de jeu et devient successivement : Est, Sud, Ouest puis Nord.
	<br>Une fois que le vent dominant redevient Est, la partie est considérée comme terminé.
	<br>Ainsi une partie contient quatre tours, et au total 16 manches.</span>
<br>
<br><b>Déroulement du jeu</b>
<br>
<br><b>Objectif du jeu</b>
<br><span id='myfont'>Le but du jeu de Mah-jong est, par un jeu de pioche et de défausse, de constituer dans une main quatre combinaisons de 3 tuiles, et une paire. Une combinaison de 3 tuiles peut être :
	<br>- Une suite, ou <b>Chow</b> : trois tuiles consécutives issues de la <b>même famille</b>,
	<br>- Un brelan, ou <b>Pung</b>, soit trois tuiles identiques issues de la même famille, ou d’un même dragon, ou d’un même vent : par exemple trois vents d’est, trois dragons rouges, trois Bambous identiques.</span>
<br>
<br><b>Déroulement général en cours de partie</b>
<br><span id='myfont'>La partie commence, le donneur vérifie qu’il n’a pas une main gagnante et se défausse d’une tuile.
	<br>Le joueur suivant prend une tuile dans le mur, l’intègre à son jeu et décide de la tuile qu’il va défausser, en fonction des combinaisons qu’il souhaite favoriser.
	<br>Il est possible, et même fréquent, de se défausser de la pièce même qu’on vient de piocher.
	<br>Le joueur suivant pioche à son tour, se défausse, et ainsi de suite.</span> 
<br>
<br><b>Quand la défausse peut-elle être prise par un autre joueur</b>
<br><span id='myfont'>Au moment où un joueur se défausse d’une tuile, il existe trois cas particuliers :
	<br>- Le joueur suivant peut décider de prendre cette tuile défaussée au lieu de piocher s’il veut faire un Chow avec,
	<br>- N’importe quel joueur, y compris le joueur suivant, peut prendre cette tuile défaussée afin de faire un Pung avec,
	<br>- N’importe quel joueur, y compris le joueur suivant, peut prendre cette tuile défausée afin de déclarer une main gagnante.
	<br>En cas de conflit entre ces trois règles, la priorité va d’abord à la main gagnante, puis au pung et enfin au chow.
	<br>Si je joueur déclarant un Pung n’est pas le joueur suivant, les joueurs intermédiaires sautent leur tour.
	<br>Si un joueur déclare un Pung ou un Chow, il doit montrer cette combinaison, celle-ci devient alors “Exposée” et ne pourra plus être modifiée ultérieurement.</span>
<br>
<br><b>Tuiles de remplacement</b>
<br><span id='myfont'>Lorsqu’un joueur pioche une fleur ou une saison, il peut demander immédiatement une tuile de remplacement, qu’il piochera à l’autre extrémité du mur. Il intégrera cette pièce de remplacera et déclarera éventuellement une main gagnante, ou se défaussera.
	<br>Une autre manière d’obtenir une tuile de remplacement est de déclarer un Kong : un Kong est un carré, constitué de quatre pièces identiques.
	<br>Pour déclarer un Kong, un joueur doit déjà disposer d’un Pung dans son jeu. La déclaration se fait de la manière suivante :
	<br>- Si le Pung est caché : le joueur peut déclarer un Kong s’il pioche lui-même la quatrième pièce du Pung ou si un autre joueur la défausse
	<br>- Si le Pung est exposé : le joueur peut déclarer un Kong s’il pioche lui-même la quatrième tuile
	<br>Du fait que le joueur obtient une pièce de remplacement pour un Kong, on considère que le Kong correspond à une combinaison de 3 tuiles.</span>
<br>
<br><b>Cas particuliers</b>
<br><span id='myfont'>Si un joueur déclare un Kong en transformant un Pung exposé en Kong, et qu’un autre joueur peut faire une Main Gagnante avec cette pièce, il a le droit dans ce cas particulier de la lui voler et de gagner la manche.</span>
<br>
<br><b>Définitions</b>
<br>
<br><b>Le mur</b>
<br><span id='myfont'>La “pioche” composée de tuiles cachées. Au début du jeu les joueurs construisent le mur en montant devant eux une muraille de 18 tuiles de large sur 2 tuiles de haut.
	<br>C’est dans le mur que les joueurs piochent chacun à leur tour des tuiles tout au long de la partie. Lorsqu’il n’y a plus de tuiles dans le mur et que personne n’a gagné, la partie est considérée comme nulle.</span>
<br>
<br><b>Distribution des tuiles</b>
<br><span id='myfont'>Au démarrage de chaque partie, le donneur (en général le joueur Vent d’Est) distribue à chaque joueur 13 tuiles en commençant par lui-même. Il se distribue une quatorzième tuile et débute la partie en défaussant une tuile. Chaque joueur garde ses tuiles cachées</span>
<br>
<br><b>La défausse</b>
<br><span id='myfont'>Chaque joueur dispose devant lui, face visible, les pièces dont il souhaite se défausser. Selon certaines conditions il est possible pour les autres joueurs de récupérer la tuile qui vient d’être jetée, entre le moment où elle vient d’être jetée et le moment où le joueur suivant pioche dans le mur.</span>
<br>
<br><b>Une manche, ou donne</b>
<br><span id='myfont'>Une manche débute à partir du moment où les tuiles sont distribuées, jusqu’à ce qu’un joueur ait gagné ou que la manche soit considérée comme nulle. Les points sont calculés à l’issue de chaque manche à condition qu’il y ait un gagnant.</span>
<br>
<br><b>Une main</b>
<br><span id='myfont'>La main désigne les tuiles appartenant à un joueur, mais aussi la Main Gagnante qui correspond à une main répondant aux critères pour gagner la manche.</span>
<br>
<br><b>Les vents </b>
<br><span id='myfont'>Il y a quatre Vents dans le Mah-jong : Est, Sud, Ouest, Nord. Ces vents sont en même temps des tuiles du jeu, et indiquent aussi la position des joueurs.</span>
<br>
<br><b>Le donneur</b>
<br><span id='myfont'>Le donneur est le joueur qui tire la première tuile du mur, après l’étape de remplacement des tuiles. Dans MJ&F c’est l’ordinateur qui définit automatiquement le donneur au début de la partie. Lorsqu’un manche est terminée c’est le joueur situé immédiatement à la droite du donneur qui devient à son tour le Donneur.
	<br>Le donneur est toujours le vent d’est.</span>
<br>
<br><b>Un tour</b>
<br><span id='myfont'>Un tour signifie que chaque joueur a été au moins une fois le donneur. Dans les règles officielles chinoises, et contrairement à la plupart des règles asiatiques, le donneur change à chaque manche, quel que soit le gagnant, qu’elle ait été nulle ou non. Dans d’autres systèmes de règles il est fréquent que le donneur reste s’il a gagné la manche ou si celle-ci est nulle.</span>
<br>
<br><b>Une partie</b>
<br><span id='myfont'>Correspond dans les Règles Officielles Chinoises à 4 tours de jeu, soit 16 manches.</span>
<br>
<br><b>Vent dominant</b>
<br><span id='myfont'>Au premier tour, le vent dominant est Est, puis devient Sud, Ouest et enfin Nord.</span>
<br>
<br><b>Vent du joueur</b>
<br><span id='myfont'>Désigne la place du joueur au cours de chaque manche. Le vent de chaque joueur change à chaque manche : le donneur étant l’Est, et la donne tournant à chaque manche, le vent des autres joueurs tourne en conséquence.
	<br>A partir du donneur, les vents des joueurs sont définis comme suit, dans le sens inverse des aiguilles d’une montre : sud, ouest et nord.</span>
<br>
<br><b>Fleurs et saisons</b>
<br><span id='myfont'>Le joueur obtenant une fleur ou saison peut en demander le remplacement quand il le souhaite. Le remplacement se fait en prenant les pièces à l’autre extrémité du mur. Hors jeux informatiques, il peut y avoir des raisons particulières pour lesquelles un joueur ne souhaiterait pas remplacer une fleur ou saison.
	<br>Dans MJ&F les fleurs et saisons sont automatiquement remplacées.</span> 
<br>
<br><b>Remplacement de fleurs et de saisons en début de partie</b>
<br><span id='myfont'>Au démarrage de la partie, chaque joueur reçoit 13 tuiles, 14 pour le donneur. Les joueurs peuvent demander le remplacement de leurs fleurs et saisons en début de partie, ce remplacement se fait selon l’ordre de jeu normal : Est en premier, puis Sud, Ouest et enfin Nord.
	<br>Ce remplacement est fait automatiquement dans MJ&F</span> 
<br>
<br><b>Tour de jeu</b>
<br><span id='myfont'>Chaque joueur joue à son tour dans le sens inverse des aiguilles d’une montre, à commencer par le donneur (vent d’est). Chaque joueur, à son tour, pioche une tuile et en rejette une.</span>
<br>
<br><b>Main Gagnante</b>
<br><span id='myfont'>Pour gagner la manche, un joueur doit avoir une Main Gagnante, composée de pièces tirées du mur ou prises à d’autres joueurs. Classiquement une main gagnante est constituée de quatre combinaisons de trois pièces et d’une paire, mais il existe des cas particuliers tels que, entre autres, la Main appelée “7 Paires”
	<br>Paire
	<br>Toute main gagnante est constituée d’une paire de deux tuiles identiques, à l’exception de certaines mains particulières (voir les Types de mains pour plus de détails)</span>
<br>
<br><b>Exposer une combinaison</b>
<br><span id='myfont'>Si la pièce défaussée par un joueur peut compléter des pièces cachées dans votre main, vous pouvez combiner les deux - selon les règles exposées plus haut - afin de créer une combinaison Exposée, qui sera alors placée dans la zone réservée aux combinaisons exposées. Cette combinaison sera alors visible de tous et ne pourra plus être modifiée.</span>
<br>
<br><b>Déclarer un Chow</b>
<br><span id='myfont'>Un Chow est défini comme : Trois tuiles successives appartenant à une même famille. Par définition il n’est donc pas possible de faire de Chow avec les dragons ou les vents. Vous ne pouvez exposer un Chow qu’en prenant la tuile défaussée par le joueur situé à votre gauche, le joueur précédent.
	<br>Par exemple, si vous disposez du 2 et 3 de Cercles, cachés et dans votre main, vous pouvez déclarer un Chow si le joueur à votre gauche défausse un 1 ou un 4 de Cercles. Vous devez alors placer les trois tuiles exposées devant vous.</span>
<br>
<br><b>Déclarer un Pung</b>
<br><span id='myfont'>Un pung consiste en trois tuiles absolument identiques. Vous pouvez déclarer un Pung à tout moment si l’un des joueurs se défausse d’une pièce vous permettant de déclarer un Pung. La déclaration d’un Pung a priorité sur la déclaration d’un Chow.
	<br>Une fois déclaré, placez le Pung devant vous, exposé.</span>
<br>
<br><b>Déclarer un Kong</b>
<br><span id='myfont'>Un Kong consiste en Quatre pièces rigoureusement identiques. De la même manière qu’un Pung, vous pouvez déclarer un Kong à tout moment si la pièce défaussée par un joueur vous permet de transformer un Pung caché présent dans votre main, en un Kong, qui sera alors exposé et placé devant vous. On appelera alors ce Kong : Kong Exposé.
	<br>Il existe deux autres manières de déclarer un Kong :
	<br>Si vous possédez un Pung exposé et que vous disposez de la quatrième pièce dans votre main, vous pouvez transformer ce Pung exposé en Kong exposé
	<br>Si vous possédez quatre pièces identiques dans votre main, vous pouvez, à votre tour de jeu, les déclarer comme un Kong caché. Comme son nom l’indique vous devez placer les quatre pièces de ce Kong caché devant vous, faces cachées. Ce Kong sera révélé en fin de Manche aux autres joueurs.
	<br>Déclarer un Kong permet dans tous les cas de prendre une tuile de remplacement.</span>
<br>
<br><b>Après la déclaration d’un chow, pung ou kong</b>
<br><span id='myfont'>Le joueur doit alors se défausser d’une tuile, la manche se poursuit alors normalement par le joueur situé à sa droite.</span>
<br>
<br><b>Chows et Pungs cachés</b>
<br><span id='myfont'>Les Chows et Pungs conservés dans votre main et qui ne sont pas Déclarés, donc pas exposés, sont considérés comme Cachés. Les Chows et Pungs cachés peuvent être défaits et refaits, réarrangés, alors que les Chows et Pungs Exposés sont bloqués jusqu’à la fin de la manche, ce qui diminue parfois sensiblement vos possibilités de réorientation de votre jeu.</span>
<br>
<br><b>Main Complète, ou structure 4 + 1</b>
<br><span id='myfont'>Une Main Complète au Mah-jong consiste en général en 4 chows, pungs et/ou kongs exposés et/ou cachés, ainsi que d’une paire. Il existe cependant quelques exception, cf. les Types de combinaisons.</span>
<br>
<br><b>En attente</b>
<br><span id='myfont'>Etat dans lequel un joueur n’attend plus qu’une pièce pour transformer sa main en Main Gagnante. Idéalement un joueur devrait faire en sorte d’être en attente simultanément de plusieurs pièces lui permettant de déclarer un Main Gagnante.</span>
<br>
<br><b>Gagner la manche</b>
<br><span id='myfont'>Vous pouvez déclarer une Main Gagnante lorsque votre main est complétée soit par la tuile défaussée par un autre joueur, la tuile volée au Kong d’un autre joueur, ou la tuile que vous venez vous-même de piocher dans le Mur. 
	<br>A noter que la main gagnante devra atteindre un score minimal afin d’être considérée comme valide. Dans les règles officielles, ce score est de 8, cependant MJ&F permet de définir soi-même le minimum à atteindre, ce qui facilite l’apprentissage des combinaisons et du jeu.</span>
<br>
<br><b>Gagnants multiples</b>
<br><span id='myfont'>Dans MJ&F il est possible de déclarer plusieurs joueurs simultanément. Cependantt dans les règles officielles seul un joueur est autorisé, et dans le cas de gagnants multiples c’est le premier, dans l’ordre des vents, qui est déclaré gagnant.</span>
<br>
<br><b>Calcul des points - Spécificités de MJ&F</b>
<br>
<table id='myfont'>
<tr><td valign='top'>a.)</td><td>Le joueur gagne par défausse de l’un des autres joueurs :
	<br>Le joueur ayant défaussé la tuile gagnante paye (Valeur de la main + 8) * 2 points
	<br>Les autres joueurs payent chacun 16 points au gagnant</td></tr> 
<tr><td valign='top'>b.)</td><td>Le joueur tire lui-même la pièce gagnante :
	<br>Tous les joueurs payent (Valeur de la main+ 8) * 2 points.</td></tr>
</table>
