<script type="text/javascript">
function init()
{
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (a==0)
			{
				var tname = document.getElementById("type" + eval(k+1));
				if (tname) tname.innerHTML="(" + eval(k+1) + ") <i><b>" + tiles[a] + "</b></i>";
			}
			else
			{
				if (tiles[a]=="")
				{
					o.push("&nbsp;");
				}
				else
				{
					o.push('<img id="tile_img" src="file:///android_asset/help/');
					var t = tiles[a];
					o.push(t);
					if (tile_style=="en" || tile_style=="mix")
					{
						if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
						{
							o.push("_" + tile_style);
						}
					}
					o.push('.png">');
				}
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>胡牌牌型及範例:</b>
<br>
<br><b><font color="red">88番</font></b>:
<br><span id="type1"></span> - 四個風牌刻子／槓
<br><div id="tiles1"></div>
<br><span id="type2"></span> - 三個三元牌刻子／槓
<br><div id="tiles2"></div>
<br><span id="type3"></span> - 胡牌全為綠色牌，綠色牌包括：23468索及發財
<br><div id="tiles3"></div>
<br><span id="type4"></span> - 胡牌為1112345678999牌型，且必需為門清；如為他人出充，則必需為九面聽才成立
<br><div id="tiles4"></div>
<br><span id="type5"></span> - 胡牌有四個槓，如有暗槓則另加番
<br><div id="tiles5"></div>
<br><span id="type6"></span> - 七對序數相連組成的胡牌
<br><div id="tiles6"></div>
<br><span id="type7"></span> - 十三隻不同么九牌(1,9及番子)，另加其中一隻組成一對眼
<br><div id="tiles7"></div>
<br>
<br><b><font color="red">64番</font></b>:
<br><span id="type8"></span> - 胡牌由 1 及 9 組成
<br><div id="tiles8"></div>
<br><span id="type9"></span> - 三種風牌的刻子／槓，另一種作眼
<br><div id="tiles9"></div>
<br><span id="type10"></span>  - 兩種三元牌的刻子／槓，另一種作眼
<br><div id="tiles10"></div>
<br><span id="type11"></span> - 胡牌只由番子牌組成
<br><div id="tiles11"></div>
<br><span id="type12"></span> - 胡牌中有四個暗刻
<br><div id="tiles12"></div>
<br><span id="type13"></span> - 胡牌有兩對123及789，另加一對5作眼，必需為同一花色
<br><div id="tiles13"></div>
<br>
<br><b><font color="red">48番</font></b>:
<br><span id="type14"></span> - 胡牌有四副相同序數及花色的順子
<br><div id="tiles14"></div>
<br><span id="type15"></span> - 四副相同花色，序數相連的刻子／槓
<br><div id="tiles15"></div>
<br>
<br><b><font color="red">32番</font></b>:
<br><span id="type16"></span> - 四副相同花色，序數依1或2遞增的順子，遞增數不得交替使用
<br><div id="tiles16"></div>
<br><span id="type17"></span> - 胡牌中有三個槓，暗槓另加番
<br><div id="tiles17"></div>
<br><span id="type18"></span> - 胡牌只由1,9及番子牌組成
<br><div id="tiles18"></div>
<br>
<br><b><font color="red">24番</font></b>:
<br><span id="type19"></span> - 胡牌由七對組成
<br><div id="tiles19"></div>
<br><span id="type20"></span> - 胡牌由七隻番子，另外加三種花色序數牌147，258，369(例：147索，258萬，369筒)中的其中七隻組成
<br><div id="tiles20"></div>
<br><span id="type21"></span> - 胡牌由雙數序數牌組成
<br><div id="tiles21"></div>
<br><span id="type22"></span> - 胡牌只由一種序數牌組成
<br><div id="tiles22"></div>
<br><span id="type23"></span> - 胡牌有三副相同序數及花色的順子
<br><div id="tiles23"></div>
<br><span id="type24"></span> - 三副相同花色，序數相連的刻子／槓
<br><div id="tiles24"></div>
<br><span id="type25"></span> - 胡牌全由7,8,9三種序數牌組成
<br><div id="tiles25"></div>
<br><span id="type26"></span> - 胡牌全由4,5,6三種序數牌組成
<br><div id="tiles26"></div>
<br><span id="type27"></span> - 胡牌全由1,2,3三種序數牌組成
<br><div id="tiles27"></div>
<br>
<br><b><font color="red">16番</font></b>:
<br><span id="type28"></span> - 胡牌中，有三副相同花色，序數為123，456及789的順子
<br><div id="tiles28"></div>
<br><span id="type29"></span> - 胡牌中有兩種序數牌的123及789, 及另一種花色的5作眼
<br><div id="tiles29"></div>
<br><span id="type30"></span> - 三副相同花色，序數依1遞增的順子
<br><div id="tiles30"></div>
<br><span id="type31"></span> - 胡牌中全部組合皆有5
<br><div id="tiles31"></div>
<br><span id="type32"></span> - 胡牌中有三種不同花色，相同序數的刻子／槓
<br><div id="tiles32"></div>
<br><span id="type33"></span> - 胡牌中有三個暗刻／槓
<br><div id="tiles33"></div>
<br>
<br><b><font color="red">12番</font></b>:
<br><span id="type34"></span> - 胡牌由三種花色的序數牌147，258，369及番子中任何14隻單張牌組成
<br><div id="tiles34"></div>
<br><span id="type35"></span> - 胡牌中有三種花色序數牌147，258及369
<br><div id="tiles35"></div>
<br><span id="type36"></span> - 胡牌只由6,7,8,9四種序數牌組成
<br><div id="tiles36"></div>
<br><span id="type37"></span> - 胡牌只由1,2,3,4四種序數牌組成
<br><div id="tiles37"></div>
<br><span id="type38"></span> - 胡牌中有三個風牌的刻子／槓
<br><div id="tiles38"></div>
<br>
<br><b><font color="red">8番</font></b>:
<br><span id="type39"></span> - 三種序數牌分別組成123, 456及789三組順子
<br><div id="tiles39"></div>
<br><span id="type40"></span> - 胡牌由沒有上下分別的牌組成，沒有上下分別的牌為1234589筒, 245689索及白板
<br><div id="tiles40"></div>
<br><span id="type41"></span> - 胡牌中有三種不同花色，相同序數的順
<br><div id="tiles41"></div>
<br><span id="type42"></span> - 胡牌中有齊三種不同花色，但序數相連的刻子／槓
<br><div id="tiles42"></div>
<br><span id="type43"></span> - 不計花牌，沒有番的胡牌
<br><div id="tiles43"></div>
(在這例子中，6筒不能是和絕張或自摸)<br>
<br><span id="type44"></span> - 牌牆上最後一隻牌自摸胡牌(不另加自摸番數)
<br><div id="tiles44"></div>
<br><span id="type45"></span> - 他人打出的最後一隻牌胡牌
<br><div id="tiles45"></div>
<br><span id="type46"></span> - 補槓牌胡牌，不計自摸；如補槓牌為花，再補牌成胡，槓上開花則不成立，但可計自摸
<br><div id="tiles46"></div>
<br><span id="type47"></span> - 胡他人加槓的牌，不計和絕張
<br><div id="tiles47"></div>
<br><span id="type48"></span> - 胡牌中有兩個暗槓
<br><div id="tiles48"></div>
<br>
<br><b><font color="red">6番</font></b>:
<br><span id="type49"></span> - 胡牌由刻子／槓組成
<br><div id="tiles49"></div>
<br><span id="type50"></span> - 胡牌由一種花色的序數，及番子組成
<br><div id="tiles50"></div>
<br><span id="type51"></span> - 胡牌中有三副不同花色，序數依1遞增的順子
<br><div id="tiles51"></div>
<br><span id="type52"></span> - 胡牌中有齊三種序數牌，風牌及三元牌
<br><div id="tiles52"></div>
<br><span id="type53"></span> - 組合全為上、碰或明槓，再胡他人打出的牌
<br><div id="tiles53"></div>
<br><span id="type54"></span> - 胡牌中有三元牌中其中兩種的刻子／槓
<br><div id="tiles54"></div>
<br>
<br><b><font color="red">4番</font></b>:
<br><span id="type55"></span> - 胡牌中每組合皆有1，9或番子
<br><div id="tiles55"></div>
<br><span id="type56"></span> - 組合沒有上、碰或明槓，再自摸胡牌
<br><div id="tiles56"></div>
<br><span id="type57"></span> - 胡牌有兩個槓，暗槓另計
<br><div id="tiles57"></div>
<br><span id="type58"></span> - 胡該款的最後一隻牌，其餘三隻必需為已亮的牌(在牌池中或已被上、碰了的牌)
<br><div id="tiles58"></div>
<br>
<br><b><font color="red">2番</font></b>:
<br><span id="type59"></span> - 胡牌中有一款三元牌的刻子／槓
<br><div id="tiles59"></div>
<br><span id="type60"></span> - 圈風牌的刻子／槓
<br><div id="tiles60"></div>
<br><span id="type61"></span> - 自己門風牌的刻子／槓
<br><div id="tiles61"></div>
<br><span id="type62"></span> - 沒有上、碰或槓而胡他人打出的牌
<br><div id="tiles62"></div>
<br><span id="type63"></span> - 胡牌由四順加一對非番子的眼組成
<br><div id="tiles63"></div>
<br><span id="type64"></span> - 胡牌中有齊四隻相同的牌，而該牌不是槓
<br><div id="tiles64"></div>
<br><span id="type65"></span> - 胡牌中有兩組不同花色，數字相同的刻子／槓
<br><div id="tiles65"></div>
<br><span id="type66"></span> - 胡牌中有兩個暗刻/暗槓
<br><div id="tiles66"></div>
<br><span id="type67"></span> - 四隻摸回來、相同的牌開槓
<br><div id="tiles67"></div>
<br><span id="type68"></span> - 胡牌中沒有1,9及番子
<br><div id="tiles68"></div>
<br>
<br><b><font color="red">1番</font></b>:
<br><span id="type69"></span> - 兩組相同花色及序數的順子 
<br><div id="tiles69"></div>
<br><span id="type70"></span> - 兩組不同花色，相同序數的順子 
<br><div id="tiles70"></div>
<br><span id="type71"></span> - 有兩組相同花色，序數連貫的順子
<br><div id="tiles71"></div>
<br><span id="type72"></span> - 兩組相同花色，序數為123及789的順子
<br><div id="tiles72"></div>
<br><span id="type73"></span> - 1,9或風牌的刻子／槓
<br><div id="tiles73"></div>
<br><span id="type74"></span> - 他人打出的牌開槓，或自己由刻子加成的槓 
<br><div id="tiles74"></div>
<br><span id="type75"></span> - 胡牌中，只有三種序數牌中的其中兩種 
<br><div id="tiles75"></div>
<br><span id="type76"></span> - 胡牌沒有番子
<br><div id="tiles76"></div>
<br><span id="type77"></span> - 胡牌為單調3或7
<br><div id="tiles77"></div>
<br><span id="type78"></span> - 胡牌為單調序數順子中間的一隻
<br><div id="tiles78"></div>
<br><span id="type79"></span> - 胡牌為單調眼
<br><div id="tiles79"></div>
<br><span id="type80"></span> - 自己摸牌成胡牌
<br><div id="tiles80"></div>
<br><span id="type81"></span> - 春夏秋冬梅蘭菊竹，每隻計一番，但花牌番數不計在起胡番數內
<br><div id="tiles81"></div>