<script type="text/javascript">
function init()
{
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (a==0)
			{
				var tname = document.getElementById("type" + eval(k+1));
				if (tname) tname.innerHTML="(" + eval(k+1) + ") <i><b>" + tiles[a] + "</b></i>";
			}
			else
			{
				if (tiles[a]=="")
				{
					o.push("&nbsp;");
				}
				else
				{
					o.push('<img id="tile_img" src="file:///android_asset/help/');
					var t = tiles[a];
					o.push(t);
					if (tile_style=="en" || tile_style=="mix")
					{
						if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
						{
							o.push("_" + tile_style);
						}
					}
					o.push('.png">');
				}
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>胡牌牌型及范例:</b>
<br>
<br><b><font color="red">88番</font></b>:
<br><span id="type1"></span> - 四个风牌刻子／杠
<br><div id="tiles1"></div>
<br><span id="type2"></span> - 三个三元牌刻子／杠
<br><div id="tiles2"></div>
<br><span id="type3"></span> - 胡牌全为绿色牌，绿色牌包括：23468索及发财
<br><div id="tiles3"></div>
<br><span id="type4"></span> - 胡牌为1112345678999牌型，且必需为门清；如为他人出充，则必需为九面听才成立
<br><div id="tiles4"></div>
<br><span id="type5"></span> - 胡牌有四个杠，如有暗杠则另加番
<br><div id="tiles5"></div>
<br><span id="type6"></span> - 七对序数相连组成的胡牌
<br><div id="tiles6"></div>
<br><span id="type7"></span> - 十三只不同么九牌(1,9及番子)，另加其中一只组成一对眼
<br><div id="tiles7"></div>
<br>
<br><b><font color="red">64番</font></b>:
<br><span id="type8"></span> - 胡牌由 1 及 9 组成
<br><div id="tiles8"></div>
<br><span id="type9"></span> - 三种风牌的刻子／杠，另一种作眼
<br><div id="tiles9"></div>
<br><span id="type10"></span>  - 两种三元牌的刻子／杠，另一种作眼
<br><div id="tiles10"></div>
<br><span id="type11"></span> - 胡牌只由番子牌组成
<br><div id="tiles11"></div>
<br><span id="type12"></span> - 胡牌中有四个暗刻
<br><div id="tiles12"></div>
<br><span id="type13"></span> - 胡牌有两对123及789，另加一对5作眼，必需为同一花色
<br><div id="tiles13"></div>
<br>
<br><b><font color="red">48番</font></b>:
<br><span id="type14"></span> - 胡牌有四副相同序数及花色的顺子
<br><div id="tiles14"></div>
<br><span id="type15"></span> - 四副相同花色，序数相连的刻子／杠
<br><div id="tiles15"></div>
<br>
<br><b><font color="red">32番</font></b>:
<br><span id="type16"></span> - 四副相同花色，序数依1或2递增的顺子，递增数不得交替使用
<br><div id="tiles16"></div>
<br><span id="type17"></span> - 胡牌中有三个杠，暗杠另加番
<br><div id="tiles17"></div>
<br><span id="type18"></span> - 胡牌只由1,9及番子牌组成
<br><div id="tiles18"></div>
<br>
<br><b><font color="red">24番</font></b>:
<br><span id="type19"></span> - 胡牌由七对组成
<br><div id="tiles19"></div>
<br><span id="type20"></span> - 胡牌由七只番子，另外加三种花色序数牌147，258，369(例：147索，258万，369筒)中的其中七只组成
<br><div id="tiles20"></div>
<br><span id="type21"></span> - 胡牌由双数序数牌组成
<br><div id="tiles21"></div>
<br><span id="type22"></span> - 胡牌只由一种序数牌组成
<br><div id="tiles22"></div>
<br><span id="type23"></span> - 胡牌有三副相同序数及花色的顺子
<br><div id="tiles23"></div>
<br><span id="type24"></span> - 三副相同花色，序数相连的刻子／杠
<br><div id="tiles24"></div>
<br><span id="type25"></span> - 胡牌全由7,8,9三种序数牌组成
<br><div id="tiles25"></div>
<br><span id="type26"></span> - 胡牌全由4,5,6三种序数牌组成
<br><div id="tiles26"></div>
<br><span id="type27"></span> - 胡牌全由1,2,3三种序数牌组成
<br><div id="tiles27"></div>
<br>
<br><b><font color="red">16番</font></b>:
<br><span id="type28"></span> - 胡牌中，有三副相同花色，序数为123，456及789的顺子
<br><div id="tiles28"></div>
<br><span id="type29"></span> - 胡牌中有两种序数牌的123及789, 及另一种花色的5作眼
<br><div id="tiles29"></div>
<br><span id="type30"></span> - 三副相同花色，序数依1递增的顺子
<br><div id="tiles30"></div>
<br><span id="type31"></span> - 胡牌中全部组合皆有5
<br><div id="tiles31"></div>
<br><span id="type32"></span> - 胡牌中有三种不同花色，相同序数的刻子／杠
<br><div id="tiles32"></div>
<br><span id="type33"></span> - 胡牌中有三个暗刻／杠
<br><div id="tiles33"></div>
<br>
<br><b><font color="red">12番</font></b>:
<br><span id="type34"></span> - 胡牌由三种花色的序数牌147，258，369及番子中任何14只单张牌组成
<br><div id="tiles34"></div>
<br><span id="type35"></span> - 胡牌中有三种花色序数牌147，258及369
<br><div id="tiles35"></div>
<br><span id="type36"></span> - 胡牌只由6,7,8,9四种序数牌组成
<br><div id="tiles36"></div>
<br><span id="type37"></span> - 胡牌只由1,2,3,4四种序数牌组成
<br><div id="tiles37"></div>
<br><span id="type38"></span> - 胡牌中有三个风牌的刻子／杠
<br><div id="tiles38"></div>
<br>
<br><b><font color="red">8番</font></b>:
<br><span id="type39"></span> - 三种序数牌分别组成123, 456及789三组顺子
<br><div id="tiles39"></div>
<br><span id="type40"></span> - 胡牌由没有上下分别的牌组成，没有上下分别的牌为1234589筒, 245689索及白板
<br><div id="tiles40"></div>
<br><span id="type41"></span> - 胡牌中有三种不同花色，相同序数的顺
<br><div id="tiles41"></div>
<br><span id="type42"></span> - 胡牌中有齐三种不同花色，但序数相连的刻子／杠
<br><div id="tiles42"></div>
<br><span id="type43"></span> - 不计花牌，没有番的胡牌
<br><div id="tiles43"></div>
(在这例子中，6筒不能是和绝张或自摸)<br>
<br><span id="type44"></span> - 牌墙上最后一只牌自摸胡牌(不另加自摸番数)
<br><div id="tiles44"></div>
<br><span id="type45"></span> - 他人打出的最后一只牌胡牌
<br><div id="tiles45"></div>
<br><span id="type46"></span> - 补杠牌胡牌，不计自摸；如补杠牌为花，再补牌成胡，杠上开花则不成立，但可计自摸
<br><div id="tiles46"></div>
<br><span id="type47"></span> - 胡他人加杠的牌，不计和绝张
<br><div id="tiles47"></div>
<br><span id="type48"></span> - 胡牌中有两个暗杠
<br><div id="tiles48"></div>
<br>
<br><b><font color="red">6番</font></b>:
<br><span id="type49"></span> - 胡牌由刻子／杠组成
<br><div id="tiles49"></div>
<br><span id="type50"></span> - 胡牌由一种花色的序数，及番子组成
<br><div id="tiles50"></div>
<br><span id="type51"></span> - 胡牌中有三副不同花色，序数依1递增的顺子
<br><div id="tiles51"></div>
<br><span id="type52"></span> - 胡牌中有齐三种序数牌，风牌及三元牌
<br><div id="tiles52"></div>
<br><span id="type53"></span> - 组合全为上丶碰或明杠，再胡他人打出的牌
<br><div id="tiles53"></div>
<br><span id="type54"></span> - 胡牌中有三元牌中其中两种的刻子／杠
<br><div id="tiles54"></div>
<br>
<br><b><font color="red">4番</font></b>:
<br><span id="type55"></span> - 胡牌中每组合皆有1，9或番子
<br><div id="tiles55"></div>
<br><span id="type56"></span> - 组合没有上丶碰或明杠，再自摸胡牌
<br><div id="tiles56"></div>
<br><span id="type57"></span> - 胡牌有两个杠，暗杠另计
<br><div id="tiles57"></div>
<br><span id="type58"></span> - 胡该款的最后一只牌，其馀三只必需为已亮的牌(在牌池中或已被上丶碰了的牌)
<br><div id="tiles58"></div>
<br>
<br><b><font color="red">2番</font></b>:
<br><span id="type59"></span> - 胡牌中有一款三元牌的刻子／杠
<br><div id="tiles59"></div>
<br><span id="type60"></span> - 圈风牌的刻子／杠
<br><div id="tiles60"></div>
<br><span id="type61"></span> - 自己门风牌的刻子／杠
<br><div id="tiles61"></div>
<br><span id="type62"></span> - 没有上丶碰或杠而胡他人打出的牌
<br><div id="tiles62"></div>
<br><span id="type63"></span> - 胡牌由四顺加一对非番子的眼组成
<br><div id="tiles63"></div>
<br><span id="type64"></span> - 胡牌中有齐四只相同的牌，而该牌不是杠
<br><div id="tiles64"></div>
<br><span id="type65"></span> - 胡牌中有两组不同花色，数字相同的刻子／杠
<br><div id="tiles65"></div>
<br><span id="type66"></span> - 胡牌中有两个暗刻/暗杠
<br><div id="tiles66"></div>
<br><span id="type67"></span> - 四只摸回来丶相同的牌开杠
<br><div id="tiles67"></div>
<br><span id="type68"></span> - 胡牌中没有1,9及番子
<br><div id="tiles68"></div>
<br>
<br><b><font color="red">1番</font></b>:
<br><span id="type69"></span> - 两组相同花色及序数的顺子 
<br><div id="tiles69"></div>
<br><span id="type70"></span> - 两组不同花色，相同序数的顺子 
<br><div id="tiles70"></div>
<br><span id="type71"></span> - 有两组相同花色，序数连贯的顺子
<br><div id="tiles71"></div>
<br><span id="type72"></span> - 两组相同花色，序数为123及789的顺子
<br><div id="tiles72"></div>
<br><span id="type73"></span> - 1,9或风牌的刻子／杠
<br><div id="tiles73"></div>
<br><span id="type74"></span> - 他人打出的牌开杠，或自己由刻子加成的杠 
<br><div id="tiles74"></div>
<br><span id="type75"></span> - 胡牌中，只有三种序数牌中的其中两种 
<br><div id="tiles75"></div>
<br><span id="type76"></span> - 胡牌没有番子
<br><div id="tiles76"></div>
<br><span id="type77"></span> - 胡牌为单调3或7
<br><div id="tiles77"></div>
<br><span id="type78"></span> - 胡牌为单调序数顺子中间的一只
<br><div id="tiles78"></div>
<br><span id="type79"></span> - 胡牌为单调眼
<br><div id="tiles79"></div>
<br><span id="type80"></span> - 自己摸牌成胡牌
<br><div id="tiles80"></div>
<br><span id="type81"></span> - 春夏秋冬梅兰菊竹，每只计一番，但花牌番数不计在起胡番数内
<br><div id="tiles81"></div>