<script type="text/javascript">
function init()
{
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (a==0)
			{
				var tname = document.getElementById("type" + eval(k+1));
				if (tname) tname.innerHTML="(" + eval(k+1) + ") <i><b>" + tiles[a] + "</b></i>";
			}
			else
			{
				if (tiles[a]=="")
				{
					o.push("&nbsp;");
				}
				else
				{
					o.push('<img id="tile_img" src="file:///android_asset/help/');
					var t = tiles[a];
					o.push(t);
					if (tile_style=="en" || tile_style=="mix")
					{
						if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
						{
							o.push("_" + tile_style);
						}
					}
					o.push('.png">');
				}
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>Winning Mahjong Hands Points with Examples:</b>
<br>
<br><b><font color="red">88 Points</font></b>:
<br><span id="type1"></span> - Pungs or Kongs of all four Wind tiles.
<br><div id="tiles1"></div>
<br><span id="type2"></span> - Pungs or Kongs of all three Dragon tiles.
<br><div id="tiles2"></div>
<br><span id="type3"></span> - A hand that contains only "Green" tiles, green tiles refer to 23468 of Bams and the Green Dragon.
<br><div id="tiles3"></div>
<br><span id="type4"></span> - A hand contains concealed same suit tiles in the form of 1112345678999, must be nine-sided wait form if winning by-discard.
<br><div id="tiles4"></div>
<br><span id="type5"></span> - Four Kongs in the winning hand. Concealment points can be added if any.
<br><div id="tiles5"></div>
<br><span id="type6"></span> - Seven pairs of concealed same suit tiles, each pair shifted one up from the last.
<br><div id="tiles6"></div>
<br><span id="type7"></span> - A hand contains single tile of 1 and 9 of all three numbered suits, plus the 7 honor tiles, and with a tile that can form a pair with any of the 13 tiles.
<br><div id="tiles7"></div>
<br>
<br><b><font color="red">64 Points</font></b>:
<br><span id="type8"></span> - A hand that is made up of only 1 and 9 tiles.
<br><div id="tiles8"></div>
<br><span id="type9"></span> - Pungs or Kongs of any three Winds, and the fourth made up the Pair.
<br><div id="tiles9"></div>
<br><span id="type10"></span> - Pungs or Kongs of any two Dragons, and the third made up the Pair.
<br><div id="tiles10"></div>
<br><span id="type11"></span> - A hand with Pungs, Kongs or Pairs made up of honor tiles only.
<br><div id="tiles11"></div>
<br><span id="type12"></span> - A hand with four concealed Pungs and/or Kongs.
<br><div id="tiles12"></div>
<br><span id="type13"></span> - A hand made up of two 123 and 789, with 5 as the Pair, all in the same suit.
<br><div id="tiles13"></div>
<br>
<br><b><font color="red">48 Points</font></b>:
<br><span id="type14"></span> - Four chows of the same continuous number sequence in the same suit.
<br><div id="tiles14"></div>
<br><span id="type15"></span> - Four Pungs and/or Kongs of the same suit, each shifted one up from another.
<br><div id="tiles15"></div>
<br>
<br><b><font color="red">32 Points</font></b>:
<br><span id="type16"></span> - Four chows in one suit each shifted up 1 or 2 numbers from the last, but not a combination of both.
<br><div id="tiles16"></div>
<br><span id="type17"></span> - Three Kongs in a hand. Concealment points can be added if any.
<br><div id="tiles17"></div>
<br><span id="type18"></span> - A hand contains only 1, 9 and honor tiles.
<br><div id="tiles18"></div>
<br>
<br><b><font color="red">24 Points</font></b>:
<br><span id="type19"></span> - A hand with seven pairs.
<br><div id="tiles19"></div>
<br><span id="type20"></span> - Formed by seven single honors and singles of suit tiles belonging to separate Knitted sequences (for example, 147 of Bamboos, 258 of Characters, and 369 of Dots).
<br><div id="tiles20"></div>
<br><span id="type21"></span> - A hand contains even numbered tiles only.
<br><div id="tiles21"></div>
<br><span id="type22"></span> - A hand formed by all tiles of the same suit.
<br><div id="tiles22"></div>
<br><span id="type23"></span> - Three chows of the same continuous number sequence in the same suit.
<br><div id="tiles23"></div>
<br><span id="type24"></span> - Three Pungs and/or Kongs of the same suit, each shifted one up from another.
<br><div id="tiles24"></div>
<br><span id="type25"></span> - A hand with 789 only.
<br><div id="tiles25"></div>
<br><span id="type26"></span> - A hand with 456 only.
<br><div id="tiles26"></div>
<br><span id="type27"></span> - A hand with 123 only.
<br><div id="tiles27"></div>
<br>
<br><b><font color="red">16 Points</font></b>:
<br><span id="type28"></span> - A hand with Chows of 123, 456 and 789 in the same suit.
<br><div id="tiles28"></div>
<br><span id="type29"></span> - A hand consisting of 123 and 789 in one suit (Two Terminal Chows), 123 and 789 in another suit, and a pair of fives in the remaining suit.
<br><div id="tiles29"></div>
<br><span id="type30"></span> - Three chows in one suit each shifted up 1.
<br><div id="tiles30"></div>
<br><span id="type31"></span> - A hand in which every set (Chow, Pung, Kong, Pair) contains the number "5".
<br><div id="tiles31"></div>
<br><span id="type32"></span> - Three Pungs and/or Kongs of the same number from three different suit.
<br><div id="tiles32"></div>
<br><span id="type33"></span> - A hand with three concealed Pungs and/or Kongs.
<br><div id="tiles33"></div>
<br>
<br><b><font color="red">12 Points</font></b>:
<br><span id="type34"></span> - Formed by single honors, and singles of suit tiles belonging to separate Knitted sequences (for example, 147 of Bamboo, 258 of Characters, and 3-6-9 of Dots - each of the 3 suits must belong to a different Knitted sequence, but not necessarily in this order). Fully Concealed Hand may be combined if Self-Drawn.
<br><div id="tiles34"></div>
<br><span id="type35"></span> - A special Straight which is formed not with standard chows but with 3 different Knitted sequences. For example, 1-4-7 of Dots, 2-5-8 of Characters, and 3-6-9 of Bamboos - but not necessarily in the order in this example.
<br><div id="tiles35"></div>
<br><span id="type36"></span> - A hand contains only 6789 tiles.
<br><div id="tiles36"></div>
<br><span id="type37"></span> - A hand contains only 1234 tiles.
<br><div id="tiles37"></div>
<br><span id="type38"></span> - A hand contains Pungs and/or Kongs of any three Winds.
<br><div id="tiles38"></div>
<br>
<br><b><font color="red">8 Points</font></b>:
<br><span id="type39"></span> - A hand with Chows of 123, 456 and 789, each from different suit.
<br><div id="tiles39"></div>
<br><span id="type40"></span> - A hand created entirely with those tiles which are vertically symmetrical, which means the carved designs look the same if you turn them upside-down. These tiles are the 123458 and 9 Dots, the 24568 and 9 Bams, and the White Dragon.
<br><div id="tiles40"></div>
<br><span id="type41"></span> - Three chows of the same continuous number sequence, each from different suit.
<br><div id="tiles41"></div>
<br><span id="type42"></span> - Three Pungs and/or Kongs, one in each suit, each shifted one up from another.
<br><div id="tiles42"></div>
<br><span id="type43"></span> - A hand that would otherwise earn 0 points (excluding the Flower Tiles).
<br><div id="tiles43"></div>
(in this example, six of dots can't be Last Tile or Self-Drawn).<br>
<br><span id="type44"></span> - Winning on a pick of the very last tile of the wall. (Points for Self-Drawn may not be combined.)
<br><div id="tiles44"></div>
<br><span id="type45"></span> - Winning on the last tile discarded by another player.
<br><div id="tiles45"></div>
<br><span id="type46"></span> - Winning on the replacement tile drawn after achieving a kong (not on a Flower replacement). When a Flower Tile is taken after Kong and upon winning on the Flower replacement, points for Self-Drawn may be added (but Out With Replacement Tile does not apply in this case).
<br><div id="tiles46"></div>
<br><span id="type47"></span> - Winning off the tile that somebody adds to a melded Pung (to create a Kong). (The points for Last Tile may not be combined.)
<br><div id="tiles47"></div>
<br><span id="type48"></span> - A hand with two concealed Kongs.
<br><div id="tiles48"></div>
<br>
<br><b><font color="red">6 Points</font></b>:
<br><span id="type49"></span> - A hand formed by four Pungs and/or Kongs and one Pair.
<br><div id="tiles49"></div>
<br><span id="type50"></span> - A hand contains only tiles from one suit and Honor tiles.
<br><div id="tiles50"></div>
<br><span id="type51"></span> - Three Chows, one in each suit, each shifted up 1.
<br><div id="tiles51"></div>
<br><span id="type52"></span> - A hand in which each of the five sets (Pungs, Kongs, Chows, Pairs) is composed of a different type of tile (Characters, Bams, Dots, Winds, and Dragons).
<br><div id="tiles52"></div>
<br><span id="type53"></span> - Every set in the hand (Chows, Pungs, Kongs and the Pair) is melded with tiles discarded by other players.
<br><div id="tiles53"></div>
<br><span id="type54"></span> - Two Pungs and/or Kongs of Dragon tiles.
<br><div id="tiles54"></div>
<br>
<br><b><font color="red">4 Points</font></b>:
<br><span id="type55"></span> - Every set in the hand contains 1, 9 or Honor tiles.
<br><div id="tiles55"></div>
<br><span id="type56"></span> - A winning hand without melds, and winning by self-drawn.
<br><div id="tiles56"></div>
<br><span id="type57"></span> - A hand that includes two Melded Kongs. One Melded Kong and one Concealed Kong are 6 points.
<br><div id="tiles57"></div>
<br><span id="type58"></span> - Winning on a tile that is last of its kind, the other three must be already exposed.
<br><div id="tiles58"></div>
<br>
<br><b><font color="red">2 Points</font></b>:
<br><span id="type59"></span> - A hand contains a Pung or Kong of Dragon Tiles.
<br><div id="tiles59"></div>
<br><span id="type60"></span> - A Pung or Kong of the Wind Tile corresponding to the current Prevalent Wind.
<br><div id="tiles60"></div>
<br><span id="type61"></span> - A Pung or Kong of the Wind Tile corresponding to the player's Seat Wind.
<br><div id="tiles61"></div>
<br><span id="type62"></span> - A hand without melds, and winning by-discard.
<br><div id="tiles62"></div>
<br><span id="type63"></span> - A hand with all Chows and a Pair, without honor tiles.
<br><div id="tiles63"></div>
<br><span id="type64"></span> - Using all four of a single suit tile, without using them as a Kong.
<br><div id="tiles64"></div>
<br><span id="type65"></span> - Two Pungs and/or Kongs of the same number in two different suits.
<br><div id="tiles65"></div>
<br><span id="type66"></span> - Two Pungs and/or Kongs achieved without melding.
<br><div id="tiles66"></div>
<br><span id="type67"></span> - Created when four identical tiles, all self-drawn, are declared as a Kong.
<br><div id="tiles67"></div>
<br><span id="type68"></span> - A hand formed without Terminal(1 and 9) or Honor Tiles.
<br><div id="tiles68"></div>
<br>
<br><b><font color="red">1 Point</font></b>:
<br><span id="type69"></span> - Two identical chows in the same suit. 
<br><div id="tiles69"></div>
<br><span id="type70"></span> - Two chows of the same numbers but in different suits. 
<br><div id="tiles70"></div>
<br><span id="type71"></span> - Two chows in the same suit that runs consecutively after one another to make a six-tile straight.
<br><div id="tiles71"></div>
<br><span id="type72"></span> - Chows of 123 and 789 in the same suit.
<br><div id="tiles72"></div>
<br><span id="type73"></span> - A Pung or Kong of Ones, Nines, or Winds. (A dragon pung scores 2 points.)
<br><div id="tiles73"></div>
<br><span id="type74"></span> - A kong that was claimed from another player or promoted from a melded pung. 
<br><div id="tiles74"></div>
<br><span id="type75"></span> - A hand that uses tiles from only two of the three numbered suits (it lacks any tiles from one of the three suits). 
<br><div id="tiles75"></div>
<br><span id="type76"></span> - A hand formed entirely of suit tiles, without Winds or Dragons.
<br><div id="tiles76"></div>
<br><span id="type77"></span> - Waiting solely for a 3 to form a 123 chow, or solely for a 7 to form a 789 chow. Not valid if waiting for more than one tile. Not valid if the edge wait is combined with any other waits.
<br><div id="tiles77"></div>
<br><span id="type78"></span> - Waiting solely for a tile whose number is "inside" (in the middle) to form a chow. Not valid if waiting for more than one tile. Not valid if the closed wait is combined with other waits.
<br><div id="tiles78"></div>
<br><span id="type79"></span> - Waiting solely for a tile to form a pair. Not valid if waiting for more than one tile (for example, holding 1-2-3-4 and waiting on the 1 and 4).
<br><div id="tiles79"></div>
<br><span id="type80"></span> - Winning on a fresh tile picked from the wall.
<br><div id="tiles80"></div>
<br><span id="type81"></span> - Each tile carved with Chinese word for Spring, Summer, Autumn, Winter, Plum, Orchid, Bamboo or Chrysanthemum, will award you one point when you win. In case of winning on a Flower replacement, the point for Self-Drawn can be added, but not the points for Out with Replacement Tile.
<br><div id="tiles81"></div>