<!--
<b>Mahjong & Friends - Quick Start Guide</b><br>
<i>See "Rules" for a complete reference.</i><br>
<br>
<table id='myfont'>
<tr><td valign='top'><li /></td><td>Players take turn in counterclockwise order.</td></tr>
<tr><td valign='top'><li /></td><td><b>Chow</b>: Three sequentially ordered tiles. You can Chow only when a tile is discarded by the player to the left.</td></tr>
<tr><td valign='top'><li /></td><td><b>Pung</b>: Three identical tiles.</td></tr>
<tr><td valign='top'><li /></td><td><b>Kong</b>: Four identical tiles.</td></tr>
<tr><td valign='top'><li /></td><td>3 sequentially ordered or 3 identical tiles in your concealed hand, is called Concealed Chow/Pung.</td></tr>
<tr><td valign='top'><li /></td><td>Chows, Pungs, Kongs, Concealed Chows, Concealed Pungs are all legitimate <b>Sets</b>.</td></tr>
<tr><td valign='top'><li /></td><td>Discard one tile after a Chow or Pung.</td></tr>
<tr><td valign='top'><li /></td><td>Draw and discard one tile after a Kong.</td></tr>
<tr><td valign='top'><li /></td><td>4+1 structure: <b>4 Sets</b> and <b>a Pair</b> to win.</td></tr>
</table>
<br>
<img id='help_img' src="file:///android_asset/help/qs_help.jpg">
<br>
-->
<b>Mahjong & Friends - Quick Start Guide</b><br>
<i>See "Rules" for a complete reference.</i>
<br>
<br><b>Introduction</b>
<p>Mahjong is an ancestral Chinese game of luck, bluff and tactics, it is one of the most popular games in many Asian countries.</p>
<b>The Game</b>
<p>Mahjong is a game made of 144 tiles, played by 4 players. Each player receives 13 tiles which stay hidden from the other players, then each player takes turn in counterclockwise order, by drawing a new tile from the remaining tiles (called the <b>Wall</b>), then discard one.</p>
<p>Players are named from four “winds”, know as East, South, West and North. The East player is the Dealer and is the starting player. South is the player to the Dealer's right, West is the player opposite to the Dealer and North is the player to the Dealer's left.</p>
<p>Players have to build <b>Sets</b> with the tiles in their hand. To win a game they need to have <b>4 Sets</b> of 3/4 tiles plus <b>a Pair</b>.</p>
<p><b>Sets</b> of tiles may be either three sequentially ordered tiles, called a “<b>Chow</b>”, or three/four identical tiles, called a “<b>Pung</b>”(three tiles)/“<b>Kong</b>”(four tiles).</p>
Players can also take the tile discarded by other players (called “Melding”) :
<table id='myfont'>
<tr><td valign='top'><li /></td><td>Chow: you can take the tile to form a Chow only if it is discarded by the player to the left.</td></tr>
<tr><td valign='top'><li /></td><td>Pung/Kong: you can take the tile discarded by any other players to complete a Pung/Kong.</td></tr>
</table>
<p>A player may take the discarded tile only at the moment it is discarded. The tile is voided thereafter.</p>
<!-- <p>After melding, if it does not form a winning hand, player has to discard a tile.</p> -->
<p>3 sequentially ordered or 3 identical tiles in your concealed hand, is called <b>Concealed Chow</b>/<b>Pung</b>.</p>
<b>Summary</b>
<br>
<table id='myfont'>
<tr><td valign='top'><li /></td><td>Take a tile, if you don’t win then discard a tile.</td></tr>
<tr><td valign='top'><li /></td><td>Discard a tile after a Chow or Pung.</td></tr>
<tr><td valign='top'><li /></td><td>Draw and discard a tile after a Kong.</td></tr>
<tr><td valign='top'><li /></td><td>Chows, Pungs, Kongs, Concealed Chows, Concealed Pungs are all legitimate <b>Sets</b>.</td></tr>
<tr><td valign='top'><li /></td><td>4+1 structure: <b>4 Sets</b> and <b>a Pair</b> to win.</td></tr>
<tr><td valign='top'><li /></td><td>Winning: You can claim win when your tiles are complete(4+1) with the tile discarded by any other players, or with the tile freshly drawn from the wall.</td></tr>
</table>

<br><b>Indicators on the game screen</b>
<br>
<br><u>Dealer indicator</u>
<br>Dealer ALWAYS has the seat wind of East.
<br><u>Hand indicator</u>
<br>After each game, Hand indicator advances from E. > S. > W. > N. > E. > ...
<br>A Round is finished when it goes back to E.
<br><u>Prevalent wind indicator</u>
<br>Same as Hand indicator but advances when a Round is finished.
<br><img id='help_img' src="file:///android_asset/help/qs_help.jpg">
