<script type="text/javascript">
var imgs = [
["1T","2T","3T","4T","5T","6T","7T","8T","9T"],
["1S","2S","3S","4S","5S","6S","7S","8S","9S"],
["1M","2M","3M","4M","5M","6M","7M","8M","9M"],
["ET","SH","WS","NR"],
["CN","FT","PK"],
["S1","S2","S3","S4","F1","F2","F3","F4"]
];
function init()
{
/*	document.getElementById("points").innerHTML=min_points; */
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (tiles[a]=="")
			{
				o.push("&nbsp;");
			}
			else
			{
				o.push('<img id="tile_img" src="file:///android_asset/help/');
				var t = tiles[a];
				o.push(t);
				if (tile_style=="en" || tile_style=="mix")
				{
					if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
					{
						o.push("_" + tile_style);
					}
				}
				o.push('.png">');
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>雀友麻雀
<br>（中国麻雀競技規則準拠）</b>
<br>
<br>
<table id='myfont'>
<tr><td valign='top'>(1)</td><td>麻雀の1セットは6種類、42の図案による全部で144枚の牌からなります。</td></tr> 
<tr><td valign='top'>(2)</td><td>数字のついた牌（数牌）には筒子（ピンズ）・索子（ソーズ）・万子（マンズ）の三種類があります。それぞれ1から9までの数字の付いた牌が4枚ずつ、合計108枚からなります。</td></tr>
<tr><td valign='top'>(3)</td><td>字牌には風牌と呼ばれる東・西・南・北と、三元牌と呼ばれる中・發・白（無地）の計7種類があり、それぞれ4枚ずつで合計28枚となります。</td></tr>
<tr><td valign='top'>(4)</td><td>花牌は春・夏・秋・冬・梅・蘭・菊・竹が各1枚、合計8枚あります。</td></tr>
</table>
<table style="border-style: dotted;border-width: 3px; border-color:teal;">
<tr><td valign='center' align='right'><span id='myfont'>筒子:</span></td><td>
<div id='tiles1'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>索子:</span></td><td>
<div id='tiles2'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>万子:</span></td><td>
<div id='tiles3'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>風牌:</span></td><td>
<div id='tiles4'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>三元牌:</span></td><td>
<div id='tiles5'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>花牌:</span></td><td>
<div id='tiles6'></div></td><td><span id='myfont'> x1</span>
</td></tr></table>
<br><b>山（壁牌）</b>
<br><span id='myfont'>ゲームの最初に牌を伏せて並べた列のことで、プレイヤーはここから牌を取っていきます。全ての牌がなくなっても和了（ホーラ、あがり）するプレイヤーがいなかった場合、流局となります。</span>
<br>
<br><b>河</b>
<br><span id='myfont'>壁牌に囲まれた内側の空間で、プレイヤーは不要な牌をここに捨てます。</span>
<br>
<br><b>配牌</b>
<br><span id='myfont'>ゲームの初めに、各プレイヤーは13枚の牌を取ります。この13枚の牌を手牌と呼びます。</span> 
<br>
<br><b>一局</b>
<br><span id='myfont'>配牌からいずれかのプレイヤーが和了（ホーラ、あがり）するか、山の牌がなくなり流局するまでを一局とします。</span>
<br>
<br><b>風</b>
<br><span id='myfont'>麻雀のゲームでは、東・西・南・北の4つの風があります。</span>
<br>
<br><b>荘家（チャンジャ、親）</b>
<br><span id='myfont'>荘家は山から最初に牌を取るプレイヤーです。新しいゲームのスタート時にはコンピュータによって自動的に選定され、一局が終わると荘家の右隣のプレイヤーが次の局の荘家となります。</span>
<br>
<br><b>東場・南場・西場・北場</b>
<br><span id='myfont'>4人のプレイヤー全員に荘家が一巡することを場といい、一巡目を東場、二巡目を南場、三巡目を西場、四巡目を北場といいます。中国麻雀競技規則では一局ごとに荘家が変わるので、各場は４局です。</span>
<br>
<br><b>全荘制</b>
<br><span id='myfont'>中国麻雀競技規則では、東・南・西・北場（16局）でゲームが終わります。</span>
<br>
<br><b>場風</b>
<br><span id='myfont'>各場ごとに風が変わります。東場は東、南場は南、西場は西、北場が北の風となります。</span>
<br>
<br><b>自風</b>
<br><span id='myfont'>各プレイヤーの座る位置によりそれぞれの風が決まります。荘家が東、荘家の右が南、荘家の対面が西、荘家の左が北となります。自風はゲームの開始時にコンピュータによって自動的に決定されます（荘家は常に東風となります）。</span>
<br>
<br><b>花牌</b>
<br><span id='myfont'>配牌に花牌があったり、山からひいた牌が花牌だったりした場合には、それを横に晒し新たに山の最後から一枚取ります。雀友麻雀ではこの動作は自動的に行われます。</span>
<br>
<br><b>配牌に花牌があった場合</b>
<br><span id='myfont'>最初の配牌では13枚の牌が配られますが、複数のプレイヤーのもとに花牌が含まれていた場合には、荘家（東）から南・西・北の順に花牌を横に晒し新しい牌を取ります。この動作は自動的に行われます。</span>
<br>
<br><b>プレイ順</b>
<br><span id='myfont'>プレイの順番は荘家（東）から反時計回りで行います。プレイヤーは山から一枚取り（ツモ）、不要な牌を１枚捨てます（打牌）。</span>
<br>
<br><b>役</b>
<br><span id='myfont'>和了（ホーラ、あがり）するためには、決められた役を手牌で作らなければなりません。役は、ツモで完成させるか、または他のプレイヤーが捨てた牌を拾う（ロン）ことで完成させることができます。</span>
<br>
<br><b>対子（トイツ）</b>
<br><span id='myfont'>同一牌のペアを対子（トイツ）と呼びます。和了形には対子1組が必ず必要で、これを雀頭（ジャントウ）と呼びます（ただし特殊な役においては例外があります。詳しくは役の説明をご覧ください）。</span>
<br>
<br><b>副露（フーロ）</b>
<br><span id='myfont'>他のプレイヤーが捨てた牌について、下記の条件にあてはまる場合は宣言してそれを取得することができます。これによって完成した３枚組（面子、メンツ）は横に晒して公開します。</span>
<br>
<br><b>副露 - 吃（チー）</b>
<br><span id='myfont'>同種類で3連続の数牌による「順子（シュンツ）」という面子を作るための方法です。同種類で２連続の数牌を持っている時に自分の左側のプレイヤーが捨てた牌のみチーすることができます。たとえば、自分が筒子の2と3を持っていて、左側のプレイヤーが筒子の1を捨てた場合、「チー」と宣言してこの牌を取ります。できあがった筒子1～3の面子は横に晒します。また、手牌から要らない牌を1枚河に捨てます。</span>
<br>
<br><b>副露 -碰（ポン）</b>
<br><span id='myfont'>3つの同じ牌による「刻子（コーツ）」という面子を作るための方法です。同じ牌を2枚手牌に持っていて他のプレイヤーが同じ牌を捨てた場合、いつでも「ポン」と宣言してこれを取ることができます。ポンはチーよりも優先されます。ポンで完成した面子は横に晒し、手牌から要らない牌を1枚捨てます。</span> 
<br>
<br><b>副露 -槓（カン）</b>
<br><span id='myfont'>同じ4枚の牌による「槓子（カンツ）」という面子を作るための方法です。カンはポンと同様に、自分の3枚の手牌と同じ牌を他のプレイヤーが捨てた時いつでも「カン」と宣言して牌を取得できます。この方法を大明槓（ダイミンカン）と呼びます。
<br>二つ目の方法は、すでにポンした面子と同じ牌をツモってきた場合、または手の内に4枚目の同じ牌を持っている場合（新しくツモったものでなくても可）、「カン」と宣言してすでにポンした面子に加えて槓子とします。これを加槓（カカン）と呼びます。
<br>最後の方法は暗槓（アンカン）という手牌の中に同じ牌が4枚ある場合で、ツモした直後かつ打牌の前に「カン」と宣言します。通常、カンを宣言した後に槓子を公開し横に晒さなければなりませんが、暗槓の場合は牌を伏せたまま横に置いておくことができます。暗槓は一局が終了したときに他のプレイヤーに公開します。
<br>カンした後は、山の最後の牌を1枚取り不要な牌を1枚捨てます。
</span> 
<br>
<br><b>副露の後</b>
<br><span id='myfont'>副露を行ったプレイヤーはすでに1枚捨てているので、次のプレイヤーが山からツモします。
<br>たとえば、東家（荘家）が捨てた牌を北家がポンした場合、北家は手牌から1枚捨てますが、この牌を誰もポンやカンしなかった場合、北家の次の東家がツモの順番となります。</span>
<br>
<br><b>暗刻子と暗順子</b>
<br><span id='myfont'>チーやポンを使わず自分の手の内で作った刻子や順子を暗刻子（アンコーツ）、暗順子（アンシュンツ）と呼びます。</span>
<br>
<br><b>四面子一雀頭</b>
<br><span id='myfont'>麻雀であがるためには四面子一雀頭、つまり4組の刻子・順子・槓子と1組の雀頭をそろえる必要があります。四面子は手の内でそろえた暗手牌でも副露でそろえて晒した面子でもかまいません。一部例外がありますので、役の説明をご参照ください。</span>
<br>
<br><b>聴牌（テンパイ）</b>
<br><span id='myfont'>あと1枚であがり（和了）となる状態を聴牌といいます。</span>
<br>
<br><b>和了（ホーラ、あがり）</b>
<br><span id='myfont'>他のプレイヤーが和了牌（和了に必要な牌）を捨てたとき、和了を宣言してあがることができます。これを栄和（ロンあがり）と呼びます。または、山から和了牌をツモした場合も和了を宣言できます。これは自摸和（ツモあがり）といいます。</span>
<br>
<br><b>二家和・三家和</b>
<br><span id='myfont'>雀友麻雀では同時に複数のプレイヤーが和了を宣言した場合、その全員があがりとなります。ただし、実際の中国麻雀競技規則では打牌したプレイヤーから反時計まわりで一番近い（ツモ番が一番早い）プレイヤーのみが和了となります。</span>
<br>
<br><b>点数計算（雀友麻雀限定の数え方です）</b>
<br>
<table id='myfont'>
<tr><td valign='top'>a.)</td><td>ロンあがり：放銃者（和了牌を捨てたプレイヤー）は（手牌の点数+8）×2点、他のプレイヤーは16点支払う</td></tr> 
<tr><td valign='top'>b.)</td><td>ツモあがり：和了していないプレイヤーは（手牌の点数+8）×2点支払う</td></tr>
</table>