<b>雀友麻雀 - クイックスタートガイド</b><br>
<i>詳しいゲームの説明は「ルール」をご覧ください</i><br>
<br>
<table id='myfont'>
<tr><td valign='top'><li /></td><td>ゲームは逆時計回りの順番で進行します。</td></tr>
<tr><td valign='top'><li /></td><td><b>チー</b>：同じ種類の数牌で三連続になれば、前のプレイヤーが捨てた牌を拾うことができます。</td></tr>
<tr><td valign='top'><li /></td><td><b>ポン</b>：手元に持っている2つの牌と同じ牌が捨てられたら、それを拾うことができます。</td></tr>
<tr><td valign='top'><li /></td><td><b>カン</b>：手元に持っている（或いはすでにポンした）3つの牌と同じ牌が捨てられたら、または自分でツモってきたら「カン」と言って4枚1組の手にできます。</td></tr>
<tr><td valign='top'><li /></td><td>同種類で三連続の手を順子（シュンツ）、3枚同じ牌の手を刻子（コーツ）といいます。</td></tr>
<tr><td valign='top'><li /></td><td>チー、ポン、カン、暗順子、暗刻子はいずれも得点になる組合せです。</td></tr>
<tr><td valign='top'><li /></td><td>チーまたはポンした後には、不要な牌を一枚捨てます。</td></tr>
<tr><td valign='top'><li /></td><td>カンした後は、山から一つ取って、さらに一枚不要な牌を捨てます。</td></tr>
<tr><td valign='top'><li /></td><td>通常あがりの形は四面子一雀頭（3枚組4つとペア1組）です。</td></tr>
</table>
<br>
<img id='help_img' src="file:///android_asset/help/qs_help_jp.jpg">