<b>Mahjong & Friends - Guide de démarrage rapide</b>
<br>Cf. la section “Règles” pour une référence complète
<br>
<br>Le Mah-jong est un jeu chinois traditionnel de chance, tactique et bluf, l’un des plus joués en asie. Il se joue à 4 joueurs à l’aide d’un jeu fait de 144 tuiles représentant différents types de motifs. Au début de chaque partie les joueurs reçoivent 13 tuiles. Chacun son tour, chaque joueur pioche une tuile et en défausse une, le but final étant d’obtenir 4 combinaisons de 3 tuiles plus une paire.
<br>Les combinaisons de 3 tuiles sont soit des suites de tuiles consécutives, on les nomme alors “Chow” ou 3 tuiles identiques, on les nommes alors Pung.
<br>Les joueurs peuvent aussi prendre les tuiles défaussées par l’adversaire principalement dans deux cas :
<br>Chow : pour compléter un Chow un joueur peut prendre la tuile défaussée par le joueur précédent, si aucun autre joueur n’a fait de Pung
<br>Pung : pour compléter un Pung, n’importe quel joueur peut prendre la tuile qui est défaussée
<br>
<br><b>Combinaisons spéciales</b>
<br>Certaines combinaisons sont traitées de manière particulière :
<br>Kong : quatre tuiles identiques, mais qui comptent quand même comme une “combinaison à 3 tuiles”. Le joueur peut déclarer un Kong quand il en a un, les quatre tuiles sont alors bloquées et le joueur pioche une tuile supplémentaire en remplacement.
<br>Combinaison cachée : un Chow ou un Pung présent dans votre main est considéré comme “Caché”, un kong déclaré est considéré caché, bien que bloqué.
<br>Combinaison exposée : lorsqu’un joueur termine un chow, un pung ou un kong en prenant une défausse de l’adversaire, la combinaison est considérée Exposée, elle est bloquée jusqu’à la fin de la partie.
<br>
<br><b>En résumé</b>
<table id='myfont'>
<tr><td valign='top'><li /></td><td>Prenez une tuile, si elle ne vous permet pas de gagner défaussez une tuile</td></tr>
<tr><td valign='top'><li /></td><td>Structure 4+1 : pour gagner il faut 4 combinaisons et 1 paire</td></tr>
<tr><td valign='top'><li /></td><td>Défaussez une tuile après avoir déclaré un Chow ou Pung.</td></tr>
<tr><td valign='top'><li /></td><td>Tirer une tuile puis défaussez-en une après un Kong.</td></tr>
<tr><td valign='top'><li /></td><td>Les joueurs sont nommés par leur siège : Est, Sud, Ouest, Nord</td></tr>
<tr><td valign='top'><li /></td><td>L’Est est le Donneur et joue en premier</td></tr>
</table>
<br><b>Indicateurs du jeu</b>
<br><u>Indicateur du Donneur</u> : [D.]
<br>L’Est est le donneur, et inversement
<br><u>Indivateur de Main</u>
<br>Après chaque partie, l’indicateur se décale d’un vent : E > S > O > N > E > ...
<br>Un tour de jeu se termine lorsque l’indicateur revient à Est
<br><u>Indicateur du Vent dominant</u>
<br>Similaire au vent de la Main mais se décale d’un cran à chaque tour de jeu. Une partie complète de Mah-jong contient 2 ou 4 tours de jeu selon les conventions.
<br><img id='help_img' src="file:///android_asset/help/qs_help_fr.jpg">