<script type="text/javascript">
var imgs = [
["1T","2T","3T","4T","5T","6T","7T","8T","9T"],
["1S","2S","3S","4S","5S","6S","7S","8S","9S"],
["1M","2M","3M","4M","5M","6M","7M","8M","9M"],
["ET","SH","WS","NR"],
["CN","FT","PK"],
["S1","S2","S3","S4","F1","F2","F3","F4"]
];
function init()
{
/*	document.getElementById("points").innerHTML=min_points; */
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (tiles[a]=="")
			{
				o.push("&nbsp;");
			}
			else
			{
				o.push('<img id="tile_img" src="file:///android_asset/help/');
				var t = tiles[a];
				o.push(t);
				if (tile_style=="en" || tile_style=="mix")
				{
					if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
					{
						o.push("_" + tile_style);
					}
				}
				o.push('.png">');
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>雀友麻雀(国标版)
<br>(麻将竞赛规则)</b>
<br>
<br><b>麻雀牌:</b>
<br>
<table id='myfont'>
<tr><td valign='top'>(1)</td><td>一副完整麻雀牌共有六种类，四十二种图案，合共144只。</td></tr> 
<tr><td valign='top'>(2)</td><td>序数牌有三种，分别为筒子丶索子及万子，每种由4只序数1至9组成，合共108只。</td></tr>
<tr><td valign='top'>(3)</td><td>番子牌有七种，分别为东丶南丶西丶北丶中丶发丶白，每种4只，合共28只。 </td></tr>
<tr><td valign='top'>(4)</td><td>花牌分别为春丶夏丶秋丶冬丶梅丶兰丶菊丶竹，共8只。</td></tr>
</table>
<table style="border-style: dotted;border-width: 3px; border-color:teal;">
<tr><td valign='center' align='right'><span id='myfont'>筒子:</span></td><td>
<div id='tiles1'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>索子:</span></td><td>
<div id='tiles2'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>万子:</span></td><td>
<div id='tiles3'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>风牌:</span></td><td>
<div id='tiles4'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>三元牌:</span></td><td>
<div id='tiles5'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>花牌:</span></td><td>
<div id='tiles6'></div></td><td><span id='myfont'> x1</span>
</td></tr></table>
<br><b>牌墙:</b>
<br><span id='myfont'>牌墙就是玩家抓牌的地方，当所有在牌墙的牌被抓光，而又没有人胡牌，则此局为荒牌。</span>
<br>
<br><b>牌池:</b>
<br><span id='myfont'>牌池就是玩家打出的牌所放置的地方。</span>
<br>
<br><b>牌的分配:</b>
<br><span id='myfont'>游戏开始时，每位参与者会被分配13只牌，这13只牌称为“手牌”。</span> 
<br>
<br><b>一盘:</b>
<br><span id='myfont'>由分牌开始，直到有人胡牌或荒牌，称为一盘。</span>
<br>
<br><b>风:</b>
<br><span id='myfont'>麻雀游戏有四个风，分别为东丶南丶西丶北。</span>
<br>
<br><b>庄家:</b>
<br><span id='myfont'>庄家就是第一个抓牌的人，新开始游戏时庄家由电脑自动编配，当一盘结束后，就会由位下一位玩家(右方的一位)做庄。</span>
<br>
<br><b>一圈:</b>
<br><span id='myfont'>当四位玩家都做过庄，就称为一圈。</span>
<br>
<br><b>一局:</b>
<br><span id='myfont'>在现实麻将竞赛规则中，一局为四圈(16盘)。<!--但本游戏定义一局为两圈(8盘)。--></span>
<br>
<br><b>圈风:</b>
<br><span id='myfont'>每一圈都以风命名，第一圈为东圈，第二圈为南圈，第三圈为西圈，第四圈为北圈。<!--由於雀友麻雀一局只有两圈，所以没有西圈和北圈。--></span>
<br>
<br><b>门风:</b>
<br><span id='myfont'>每一位玩家都有一个门风，和圈风一样以东南西北命名，庄家为东风，庄家右方玩家为南风，对面玩家为西风，左方玩家为北风。</span>
<br>
<br><b>花牌:</b>
<br><span id='myfont'>当抓到花牌时，你必需把它放到“亮牌处”，然后在牌墙的最后方再抓一只(称之为补花)，在雀友麻雀中，补花会自动进行。</span>
<br>
<br><b>开始时补花:</b>
<br><span id='myfont'>开始时，玩家所分配的13只牌中，如有任何花牌，需把它们放到“亮牌处”，然后依玩家门风顺东丶南丶西丶北这次序补花。</span>
<br>
<br><b>行牌:</b>
<br><span id='myfont'>游戏依逆时针方向进行，由庄家(东风)开始，从牌墙抓一只牌，再打出一只不要的牌到牌池，然后到南风玩家，如此类推。但当有碰牌或杠牌情况出现时，则由组牌人下一风位玩家抓牌(下详述)。</span>
<br>
<br><b>胡牌:</b>
<br><span id='myfont'>要胜出一盘，你手中的牌必需为合法的胡牌，胡牌可以是他人打出(出充)或自己在牌墙抓进(自摸)。</span>
<br>
<br><b>眼(将):</b>
<br><span id='myfont'>合法的胡牌中，通常都会有两只相同，称为“眼”(或将)的牌(特殊牌型 - 七对和不靠除外，详情可参考牌型)。</span>
<br>
<br><b>组牌:</b>
<br><span id='myfont'>当其他玩家所打出的牌能与你手中的牌组合成一组(下详述)，你可以宣告组牌，组合了的牌必需放到亮牌处。</span>
<br>
<br><b>组牌 - 上(或吃):</b>
<br><span id='myfont'>上牌(亦称顺子)为三只同花色，序数相连的牌。你只可以上上家(左方玩家)的牌，例如上家打出1筒，而你手中有2和3筒，你就可以宣告上牌，上牌后，你必需把1筒和手中的2,3筒一拼放到亮牌处中，然后再打出一只不要的牌到牌池。</span>
<br>
<br><b>组牌 - 碰:</b>
<br><span id='myfont'>碰牌(亦称刻子)为三只相同的牌。当其他玩家打出一只牌是和你手上所拥有的两只相同的时候，你可以宣告碰牌，碰牌比上牌拥有较高的优先次序。当碰牌完成后，你需把三只牌放到亮牌处，然后再打出一只不要的牌到牌池。</span> 
<br>
<br><b>组牌 - 杠:</b>
<br><span id='myfont'>杠是四只相同的牌。“开杠”(宣告杠)可以用几种不同的方式达成。首先是和碰一样，当其他玩家打出一只牌是和你手上所拥有的三只相同的时候，你可以宣告杠，用这方式达成的杠称为“明杠”。第二种方式是，当你从牌墙抓牌时，你的亮牌处已有三只碰牌(刻子)，而你手中又拥有第四只相同的牌(这牌不必为你刚才从牌墙处抓回来的一只)，你可宣告杠，这种方式同样称为“明杠”。最后一种方式为，当你从牌墙抓牌时，你手中同时拥有四只相同的牌，你也可宣告杠，这种方式达成的杠称为“暗杠”。开杠后你需把四只牌放到亮牌处，牌面向上，但如果所开的是暗杠，你不必亮牌(牌面向下)，直到一盘结束后你才需要亮牌给其他玩家查看。开杠完成后，你需要从牌墙的未端抓一只牌，然后再打出一只不要的牌到牌池。</span>
<br>
<br><b>组牌后的行牌顺序:</b>
<br><span id='myfont'>当组牌完成后，而组牌玩家亦已打出一只牌到牌池，位於组牌玩家的下一风位玩家会成为下一个抓牌的人。举列：东风玩家打出的牌被北风玩家碰，当北风玩家打出一只牌到牌池后，而又没有其他人宣告碰或杠，则下一位抓牌的为东风玩家，而非南风玩家。</span>
<br>
<br><b>暗碰和上(刻子及顺子):</b>
<br><span id='myfont'>当你手上拥有三只上牌(顺子)或碰牌(刻子)，而这三只牌又非从他人手中组合而来。这些组合称为暗刻/顺。</span>
<br>
<br><b>完整胡牌的4 + 1结构:</b>
<br><span id='myfont'>一副完整胡牌通常由4组碰(刻子)丶上(顺子)丶杠和一对眼组成。而当中的4组可以是暗手牌或亮牌。然而也有一些例外，详情可以参考“牌型”。</span>
<br>
<br><b>叫胡(听牌):</b>
<br><span id='myfont'>当你手上的牌只差一只就能成为完整的胡牌，这情况称为叫胡(或听牌)。</span>
<br>
<br><b>胜出:</b>
<br><span id='myfont'><!--要宣告胡牌，你的牌必需最少达到<span id="points"></span>番。-->当你手中的牌可以和其他人打出(或开杠)的牌组成胡牌而又同时达到或超过指定番数。你可以宣告胡牌，这情况下的胡牌称为出充胡。而当你从牌墙抓的一只牌能和你手上的牌组成胡牌，而同时又达到或超过指定番数，你也可以宣告胡牌，这种情况称为自摸胡。</span>
<br>
<br><b>一炮多响:</b>
<br><span id='myfont'>在雀友麻雀中，是容许多人同时宣告胡牌的，这情况称为“一炮多响”。但在现实的竞技麻雀中，只容许一位玩家胡牌，如多人同时胡牌，只有最接近出充者风位那一位玩家可宣告胡牌。</span>
<br>
<br><b>分数计算(只限於雀友麻雀):</b>
<br>
<table id='myfont'>
<tr><td valign='top'>a.)</td><td>出充胡: 出充者输(胡牌番数 + 8) * 2, 其他玩家输 16。</td></tr> 
<tr><td valign='top'>b.)</td><td>自摸胡: 玩家输(胡牌番数 + 8) * 2。</td></tr>
</table>