<b>雀友麻雀(国标版) - 快速指南</b><br>
<i>于“规则“内有完整的游戏说明</i><br>
<br>
<table id='myfont'>
<tr><td valign='top'><li /></td><td>游戏以逆时针方向进行</td></tr>
<tr><td valign='top'><li /></td><td>上(或吃)牌: 三只序数相连的牌，你只可以上上家(左方玩家)打出的牌</td></tr >
<tr><td valign='top'><li /></td><td>碰牌: 三只相同的牌</td></tr>
<tr><td valign='top'><li /></td><td>杠牌: 四只相同的牌</td></tr>
<tr><td valign='top'><li /></td><td>三只序数相连或三只相同的牌，亦称为顺子及刻子</td></tr>
<tr><td valign='top'><li /></td><td>上牌、碰牌、杠牌、暗手顺子及暗手刻子，均为合法的组牌</td> </tr>
<tr><td valign='top'><li /></td><td>上牌或碰牌后，你需要打出一只不要的牌</td></tr>
<tr><td valign='top'><li /></td><td>杠牌后，你需要从牌墙摸一只牌，再打出一只不要的牌</td></tr >
<tr><td valign='top'><li /></td><td>4+1 结构: 通常胡牌牌型为4组加1对</td></tr>
</table>
<br>
<img id='help_img' src="file:///android_asset/help/qs_help_b5.jpg">