<script type="text/javascript">
var imgs = [
["1T","2T","3T","4T","5T","6T","7T","8T","9T"],
["1S","2S","3S","4S","5S","6S","7S","8S","9S"],
["1M","2M","3M","4M","5M","6M","7M","8M","9M"],
["ET","SH","WS","NR"],
["CN","FT","PK"],
["S1","S2","S3","S4","F1","F2","F3","F4"]
];
function init()
{
/*	document.getElementById("points").innerHTML=min_points; */
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (tiles[a]=="")
			{
				o.push("&nbsp;");
			}
			else
			{
				o.push('<img id="tile_img" src="file:///android_asset/help/');
				var t = tiles[a];
				o.push(t);
				if (tile_style=="en" || tile_style=="mix")
				{
					if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
					{
						o.push("_" + tile_style);
					}
				}
				o.push('.png">');
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>Mahjong & Friends
<br>(Mahjong Competition Rules)</b>
<br>
<br>
<table id='myfont'>
<tr><td valign='top'>(1)</td><td>A complete set of tiles is comprised of 6 types of 42 patterns, there are a total of 144 pieces.</td></tr> 
<tr><td valign='top'>(2)</td><td>There are 108 numbered suit tiles divided into 3 suits. Characters, from 1-9, 4 tiles each for a total of 36 tiles. Dots, from 1-9, 4 tiles each, for a total of 36 tiles. Bamboo or Bam, from 1-9, 4 tiles each, for a total of 36 tiles.</td></tr>
<tr><td valign='top'>(3)</td><td>There are 28 Honor Tiles divided into 2 suits. Winds: East, West, South, North: 4 tiles each, for a total of 16 tiles. Dragons: White, Green, and Red, 4 tiles each, for a total of 12 tiles.</td></tr>
<tr><td valign='top'>(4)</td><td>Flowers: Usually labeled Spring, Summer, Autumn, Winter and Plum, Orchid, Bamboo, Chrysanthemum. There is only 1 of each flower tile for a total of 8 tiles.</td></tr>
</table>
<table style="border-style: dotted;border-width: 3px; border-color:teal;">
<tr><td valign='center' align='right'><span id='myfont'>Dots:</span></td><td>
<div id='tiles1'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Bams:</span></td><td>
<div id='tiles2'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Characters:</span></td><td>
<div id='tiles3'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Winds:</span></td><td>
<div id='tiles4'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Dragons:</span></td><td>
<div id='tiles5'></div></td><td><span id='myfont'> x4</span>
</td></tr><tr><td valign='center' align='right'><span id='myfont'>Flowers:</span></td><td>
<div id='tiles6'></div></td><td><span id='myfont'> x1</span>
</td></tr></table>
<br><b>The Wall:</b>
<br><span id='myfont'>Stacks of unexposed tiles. This is the place where players draw tiles from during game play. When the wall is exhausted without a winner, the game is drawn.</span>
<br>
<br><b>Exposed tiles:</b>
<br><span id='myfont'>The place where players dispose their unwanted tiles.</span>
<br>
<br><b>Allotment of tiles:</b>
<br><span id='myfont'>At start, each player will be allotted 13 tiles, these 13 tiles are called the "concealed tiles".</span> 
<br>
<br><b>A Hand:</b>
<br><span id='myfont'>From tile allotment to either someone has won or draw game is called a hand. Points will be calculated at the end of each hand when there is a winner. A hand is also referred to the tiles belonging to a player, e.g. a "Winning Mahjong Hand" means a winning combination of Mahjong.</span>
<br>
<br><b>The Wind:</b>
<br><span id='myfont'>There are four "Winds" in a Mahjong game, East, South, West and North.</span>
<br>
<br><b>The Dealer:</b>
<br><span id='myfont'>The Dealer is the player who draws the first tile(After replacement of Flower Tiles) from the Wall. It is assigned by computer at the beginning of the game, when a hand is finished, next player (player to the right) will be the dealer of next hand.</span>
<br>
<br><b>A Round:</b>
<br><span id='myfont'>A Round means every player has been the dealer once(in Mahjong Competition Rules only, other rules like the Cantonese or Taiwanese rules, dealer will remain the dealer if he/she won the current hand).</span>
<br>
<br><b>A Complete Game:</b>
<br><span id='myfont'>In Mahjong Competition Rules, a complete game is referred to 4 rounds(16 hands).<!-- In MJ&F a complete game is 2 rounds(8 hands).--></span>
<br>
<br><b>Prevalent wind:</b>
<br><span id='myfont'>The first round is called the East Round, the second round the South round, the third round the West round, and the fourth round the North round.</span>
<br>
<br><b>Seat Wind:</b>
<br><span id='myfont'>The indicator of the player's seat in each round (also named according to the four winds). The dealer's Seat is called East, the player to the dealer's right is South, opposite to the dealer is called West, and to the dealer's left is called North. Seat Wind is determined by computer at game start, the dealer always has the Seat Wind of East.</span>
<br>
<br><b>Flowers:</b>
<br><span id='myfont'>If you see any Flower Tiles, you should place them in the "exposed tiles area", and get a replacement tile from the back end of the Wall. That said, you should get a replacement tile whenever you get a flower tile. Replacement is done automatically in MJ&F.</span>
<br>
<br><b>Flower replacement at start:</b>
<br><span id='myfont'>At start, each player will be allotted 13 tiles. If any of the 13 tiles consist of Flowers, replacement should be done according to the order of Seat Wind, East gets replacement first, and then South, West, finally North. Replacement is done automatically in MJ&F.</span>
<br>
<br><b>Turn:</b>
<br><span id='myfont'>Players take turn in counterclockwise order, starting with the dealer(the East Seat). Player will draw one tile from the wall and discard one unwanted tile.</span>
<br>
<br><b>The Mahjong Hand:</b>
<br><span id='myfont'>To win a game, you must have a valid Mahjong Hand(or simply "Hand"), a valid Hand can be formed by melding(combine your concealed tiles with the one discarded by another player) or drawing from the wall.</span>
<br>
<br><b>The Pair:</b>
<br><span id='myfont'>Any valid Hand consists of a pair of same tile(with exception of Honors and Knitted Tiles and Seven Pairs, see Types for more.).</span>
<br>
<br><b>Melding:</b>
<br><span id='myfont'>If the tile discarded by another player can be combined with the concealed tiles in your hand, you can meld your tiles with that tile, melded tiles should be placed in the exposed tiles area.</span>
<br>
<br><b>Melding - Chow:</b>
<br><span id='myfont'>A Chow is referred to three sequentially-numbered tiles of the same suit. You can Chow only when the tile is discarded by the player to the left. For example, player to the left discarded a 1 of Dots and you have 2 and 3 of Dots in your concealed tiles, you can declare a Chow, players have to place the melded tiles to the exposed tiles area after a Chow.</span>
<br>
<br><b>Melding - Pung:</b>
<br><span id='myfont'>A Pung is referred to three identical tiles. You can Pung whenever you see a tile discarded by another player that can form a Pung with the two in your concealed tiles. Pungs always have higher precedence than Chows. Players have to place the melded tiles to the exposed tiles area after a Pung.</span> 
<br>
<br><b>Melding - Kong:</b>
<br><span id='myfont'>A Kong is referred to four identical tiles. Like Pung, You can Kong whenever you see a tile discarded by another player that can form a Kong with the three in your concealed tiles. Kong declared in this way is called Melded Kong. 
There are 2 more ways to declare a Kong. The first way is, assuming that it's your turn and you already have a set of melded Pung, and you also have the last identical tile in your hand(not necessarily to be the one you already drawn from the wall), you can declare a Kong, Kong declared in this way is also called Melded Kong. And the second way is, you have all four identical tiles in your hand, you can declare Kong, Kong declared in this way is called "Concealed Kong", as it's name suggests, Concealed Kong have a special way of placement in the exposed tiles area - face down, that means you don't have to let other players know what they're. However, you're obliged to unveil all Concealed Kongs at the end of a Hand. You have to draw another tile from the other end of the wall and discard one after making a Kong.</span> 
<br>
<br><b>After Melding:</b>
<br><span id='myfont'>A player is obliged to discard one tile after melding. When a Pung or Kong is done by a player, the next player(to the right) will take the next turn.</span>
<br>
<br><b>Concealed Chows and Pungs:</b>
<br><span id='myfont'>Chow or Pung sets in your concealed tiles(i.e. not from melding) are called concealed Chows or Pungs.</span>
<br>
<br><b>The 4 + 1 structure(complete hand):</b>
<br><span id='myfont'>A complete Mahjong hand usually consist of 4 melded/concealed Chows, Pungs or Kongs and a Pair(usually called "Eyes" or "Head"). However, there're a few exceptions that you can see from the Types.</span>
<br>
<br><b>Waiting(or Ready Hand):</b>
<br><span id='myfont'>The state when there's one tile to make a complete Mahjong hand.</span>
<br>
<br><b>Winning:</b>
<br><span id='myfont'><!--Your Mahjong hand must score at least <span id="points"></span> points to win. -->You can declare win when your Mahjong hand is complete with the tile discarded/Kong(Rob the Kong) by another player(Win by-discard), or the one you drawn from the wall(Win by self-drawn).</span>
<br>
<br><b>Multiple-winner:</b>
<br><span id='myfont'>Multiple-winner is allowed in MJ&F, however, in real world Mahjong Competition Rules, only one winner is allowed.</span>
<br>
<br><b>Points calculation(MJ&F specific):</b>
<br>
<table id='myfont'>
<tr><td valign='top'>a.)</td><td>Win-by-discard: discarded player to lose (Points of the Hand + 8) * 2 points, other players to lose 16 points.</td></tr> 
<tr><td valign='top'>b.)</td><td>Win-by-self-drawn: players to lose (Points of the Hand + 8) * 2 points.</td></tr>
</table>
