<script type="text/javascript">
function init()
{
	var a, k;
	var o = new Array();
	for (k=0; k<imgs.length; k++)
	{
		o.length=0;
		var tiles = imgs[k];
		for (a=0; a<tiles.length; a++)
		{
			if (a==0)
			{
				var tname = document.getElementById("type" + eval(k+1));
				if (tname) tname.innerHTML="(" + eval(k+1) + ") <i><b>" + tiles[a] + "</b></i>";
			}
			else
			{
				if (tiles[a]=="")
				{
					o.push("&nbsp;");
				}
				else
				{
					o.push('<img id="tile_img" src="file:///android_asset/help/');
					var t = tiles[a];
					o.push(t);
					if (tile_style=="en" || tile_style=="mix")
					{
						if ((t.substr(-1,1)=="M") || t=="ET" || t=="SH" || t=="WS" || t=="NR")
						{
							o.push("_" + tile_style);
						}
					}
					o.push('.png">');
				}
			}
		}
		document.getElementById("tiles" + eval(k+1)).innerHTML=o.join("");
	}
};
</script>
<b>役の説明と例:</b>
<br>
<br><b><font color="red">88翻</font></b>:
<br><span id="type1"></span> - 東南西北全てが刻子または槓子となる手
<br><div id="tiles1"></div>
<br><span id="type2"></span> - 三元牌（白・發・中）を3枚ずつ集めた手
<br><div id="tiles2"></div>
<br><span id="type3"></span> - 緑色の牌（索子の2・3・4・6・8と發）だけの手
<br><div id="tiles3"></div>
<br><span id="type4"></span> - 副露をせずある一種類の数牌で1112345678999とそろえる手。同じ種類のどの牌が来ても和了となる
<br><div id="tiles4"></div>
<br><span id="type5"></span> - 槓子を4つつくる手。暗槓の場合は点数が加算される
<br><div id="tiles5"></div>
<br><span id="type6"></span> - ７つのつながる数字のペアのみの手
<br><div id="tiles6"></div>
<br><span id="type7"></span> - 全ての字牌と数牌の1と9のみの手。このうち1種類のみペアにして雀頭とする
<br><div id="tiles7"></div>
<br>
<br><b><font color="red">64翻</font></b>:
<br><span id="type8"></span> - 数牌の1と9だけで作る手
<br><div id="tiles8"></div>
<br><span id="type9"></span> - 東南西北のうち三種類を刻子または槓子にし、残り1種類を雀頭とする手
<br><div id="tiles9"></div>
<br><span id="type10"></span> - 三元牌（白・發・中）のうち2種類で刻子または槓子を作り、残り1種類を雀頭とする手
<br><div id="tiles10"></div>
<br><span id="type11"></span> - 字牌のみで作る手
<br><div id="tiles11"></div>
<br><span id="type12"></span> - 暗刻子を4つそろえる手
<br><div id="tiles12"></div>
<br><span id="type13"></span> - 123と789の順子各2組と5のペアを雀頭として揃えた手
<br><div id="tiles13"></div>
<br>
<br><b><font color="red">48翻</font></b>:
<br><span id="type14"></span> - 同色かつ同じ数の順子を4組そろえる手
<br><div id="tiles14"></div>
<br><span id="type15"></span> - 同色で連続する数の刻子または槓子を4組そろえる手
<br><div id="tiles15"></div>
<br>
<br><b><font color="red">32翻</font></b>:
<br><span id="type16"></span> - 同色で数字が1か2ずつずれた順子を4組そろえる手（234・345・456・567など）。ただし1つずれるか2つずれるかは一定でなければならず、混在はできない
<br><div id="tiles16"></div>
<br><span id="type17"></span> - 槓子を3つ作る手。暗槓の場合は加点される
<br><div id="tiles17"></div>
<br><span id="type18"></span> - 数牌の1と9と字牌のみで作る手
<br><div id="tiles18"></div>
<br>
<br><b><font color="red">24翻</font></b>:
<br><span id="type19"></span> - 7組の対子のみで作る手
<br><div id="tiles19"></div>
<br><span id="type20"></span> - 字牌7種類を1枚ずつと、数牌3種類の147・258・369の各組（たとえば索子の147、万子の258、筒子の369など）の中から7枚をそろえる手
<br><div id="tiles20"></div>
<br><span id="type21"></span> - 偶数の数牌のみで作られた手
<br><div id="tiles21"></div>
<br><span id="type22"></span> - 一種類の数牌のみで作られた手
<br><div id="tiles22"></div>
<br><span id="type23"></span> - 同色かつ同じ数の順子を3組そろえる手
<br><div id="tiles23"></div>
<br><span id="type24"></span> - 同色で連続する数の刻子または槓子を3組そろえる手
<br><div id="tiles24"></div>
<br><span id="type25"></span> - 数牌の789のみで作られた手
<br><div id="tiles25"></div>
<br><span id="type26"></span> - 数牌の456のみで作られた手
<br><div id="tiles26"></div>
<br><span id="type27"></span> - 数牌の123のみで作られた手
<br><div id="tiles27"></div>
<br>
<br><b><font color="red">16翻</font></b>:
<br><span id="type28"></span> - 同色の数牌で123・456・789とそろえる手
<br><div id="tiles28"></div>
<br><span id="type29"></span> - 2種類の数牌で123と789の順子を作り、残り1種類の5を雀頭とする手
<br><div id="tiles29"></div>
<br><span id="type30"></span> - 同色で数字が1ずつずれた順子を3組そろえる手
<br><div id="tiles30"></div>
<br><span id="type31"></span> - 全ての面子と雀頭に5を含む手
<br><div id="tiles31"></div>
<br><span id="type32"></span> - 3種類の数牌で同じ数字の刻子または槓子をそろえる手
<br><div id="tiles32"></div>
<br><span id="type33"></span> - 3組の暗刻または暗槓を含む手
<br><div id="tiles33"></div>
<br>
<br><b><font color="red">12翻</font></b>:
<br><span id="type34"></span> - 3種類の数牌で147・258・369の各組から1枚ずつと字牌各1枚の14枚で構成される手
<br><div id="tiles34"></div>
<br><span id="type35"></span> - 3種類の数牌の147・258・369の組を含む手
<br><div id="tiles35"></div>
<br><span id="type36"></span> - 6・7・8・9の数牌だけで作られた手
<br><div id="tiles36"></div>
<br><span id="type37"></span> - 1・2・3・4の数牌だけで作られた手
<br><div id="tiles37"></div>
<br><span id="type38"></span> - 3組の字牌の刻子または槓子を含む手
<br><div id="tiles38"></div>
<br>
<br><b><font color="red">8翻</font></b>:
<br><span id="type39"></span> - 3種類の数牌で123・456・789の順子3つを含む手
<br><div id="tiles39"></div>
<br><span id="type40"></span> - 上下の区別がない牌（筒子の1234589、索子の245689、白）のみで作られた手
<br><div id="tiles40"></div>
<br><span id="type41"></span> - 3種類の数牌で同数の順子3つを含む手
<br><div id="tiles41"></div>
<br><span id="type42"></span> - 3種類の数牌で数字の連続した刻子または槓子をそろえた手
<br><div id="tiles42"></div>
<br><span id="type43"></span> - 花牌以外に役がつかない場合
<br><div id="tiles43"></div>
（この例では、筒子の6は既に場に3枚さらされている牌ではならず、またツモでも役にならない）<br>
<br><span id="type44"></span> - 山の最後の牌でツモあがりした場合（ツモの点は加算されない）
<br><div id="tiles44"></div>
<br><span id="type45"></span> - 山の最後の牌を引いた人が捨てた牌でロンあがりした場合
<br><div id="tiles45"></div>
<br><span id="type46"></span> - カンをした時に不足した牌を補うために引いた牌で和了した場合。ただし、引いたのが花牌だったためさらに代わりの牌を引いた場合は嶺上開花にはならない（ツモとしては加算される）
<br><div id="tiles46"></div>
<br><span id="type47"></span> - 他のプレイヤーが加槓を宣言した際、その牌が自分の和了牌であれば和了となる。和絶張の点は加算されない
<br><div id="tiles47"></div>
<br><span id="type48"></span> - 2つの暗槓を含む手
<br><div id="tiles48"></div>
<br>
<br><b><font color="red">6翻</font></b>:
<br><span id="type49"></span> - 刻子と槓子のみの手
<br><div id="tiles49"></div>
<br><span id="type50"></span> - 字牌と1種類の数牌のみの手
<br><div id="tiles50"></div>
<br><span id="type51"></span> - 3種類の数牌で数字が1つずつ連続してずれた順子3つを含む手
<br><div id="tiles51"></div>
<br><span id="type52"></span> - 万子・筒子・索子・風牌・三元牌の5種類がそろっている手
<br><div id="tiles52"></div>
<br><span id="type53"></span> - 全ての面子をポン・チー・明槓で作りロンあがりした場合
<br><div id="tiles53"></div>
<br><span id="type54"></span> - 三元牌のうち2種類の刻子または槓子を含む手
<br><div id="tiles54"></div>
<br>
<br><b><font color="red">4翻</font></b>:
<br><span id="type55"></span> - 全ての面子と雀頭に1,9または字牌を含む手
<br><div id="tiles55"></div>
<br><span id="type56"></span> - ポン、チー、明槓をせずツモであがった場合
<br><div id="tiles56"></div>
<br><span id="type57"></span> - 槓子が2つ含まれている手。暗槓は6点加算
<br><div id="tiles57"></div>
<br><span id="type58"></span> - すでに他の3枚は場に晒されていて（チー・ポンした牌および河の牌も含む）最後の1枚で和了した場合
<br><div id="tiles58"></div>
<br>
<br><b><font color="red">2翻</font></b>:
<br><span id="type59"></span> - 三元牌のうち1種類の刻子または槓子を含む手
<br><div id="tiles59"></div>
<br><span id="type60"></span> - 場風牌の刻子または槓子
<br><div id="tiles60"></div>
<br><span id="type61"></span> - 自風牌の刻子または槓子
<br><div id="tiles61"></div>
<br><span id="type62"></span> - ポン、チー、明槓をせずロンであがった場合
<br><div id="tiles62"></div>
<br><span id="type63"></span> - 面子が全て順子で雀頭が字牌でない手
<br><div id="tiles63"></div>
<br><span id="type64"></span> - 槓子にせず同種の牌4枚を使った手
<br><div id="tiles64"></div>
<br><span id="type65"></span> - 同じ数で種類の違う刻子または槓子が2組ある手
<br><div id="tiles65"></div>
<br><span id="type66"></span> - 2つの暗刻・暗槓を含む手
<br><div id="tiles66"></div>
<br><span id="type67"></span> - 暗槓を含む手
<br><div id="tiles67"></div>
<br><span id="type68"></span> - 数牌の１と9がない手
<br><div id="tiles68"></div>
<br>
<br><b><font color="red">1翻</font></b>:
<br><span id="type69"></span> - 同色同数の順子を2つ含む手 
<br><div id="tiles69"></div>
<br><span id="type70"></span> - 違う種類で同じ数の順子を2つ含む手 
<br><div id="tiles70"></div>
<br><span id="type71"></span> - 同じ種類で連続した順子を2つ含む手
<br><div id="tiles71"></div>
<br><span id="type72"></span> - 同じ種類で123と789両方の順子を含む手
<br><div id="tiles72"></div>
<br><span id="type73"></span> - 1、9または風牌の刻子・槓子を含む手
<br><div id="tiles73"></div>
<br><span id="type74"></span> - 他のプレイヤーが捨てた牌、または刻子に自牌を加えて作った槓子 
<br><div id="tiles74"></div>
<br><span id="type75"></span> - 万子・筒子・索子のうち1種類を含まない手 
<br><div id="tiles75"></div>
<br><span id="type76"></span> - 字牌を含まない手
<br><div id="tiles76"></div>
<br><span id="type77"></span> - 123の順子で3を待つか、789の順子で7を待つか、待ちがどちらか一つの手。多面待ちには付かない
<br><div id="tiles77"></div>
<br><span id="type78"></span> - 待ちが順子の真ん中の数牌一つだけの手。多面待ちには付かない
<br><div id="tiles78"></div>
<br><span id="type79"></span> - 待ちが雀頭の1枚だけの手。多面待ちには付かない
<br><div id="tiles79"></div>
<br><span id="type80"></span> - 自分が山からツモった牌であがった場合
<br><div id="tiles80"></div>
<br><span id="type81"></span> - 春夏秋冬梅蘭菊竹はいずれも1点となる。ただし花牌以外の手の合計が8点に満たない場合は上がれない
<br><div id="tiles81"></div>