<b><span style="font-size:110%">Network mode(over LAN/TCP):</span></b>
<br>(Free version supports 2-player only.)
<br>
<br>
<table width="100%"><tr><td colspan="2">
<b>A. Play over LAN: (both of the devices are under the same network)</b>
</td></tr><tr><td valign="top">
1.</td><td>For the Host device, select the appropriate LAN IP address from the list(usually starts with 192.168). Tap "Host a game" when done.
</td></tr><tr><td valign="top">
2.</td><td>Optionally enter a password.
</td></tr><tr><td valign="top">
3.</td><td>For the Guest device, enter the Host's LAN IP address from the list. Tap "Connect" when done.
</td></tr><tr><td valign="top">
4.</td><td>Enter the password if any. 
</td></tr><tr><td valign="top">
5.</td><td>When connection is made. Tap "Start" on the Host device.
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B. Play over Internet: (At least one device should be publicly accessible over the Internet)</b>
</td></tr><tr><td valign="top">
1.</td><td>For the Host device, make sure your IP address is publicly accessible, if you're behind a router/firewall, make sure you know your public IP address and have port 7889 enabled and forwarded to this device.
</td></tr><tr><td valign="top">
2.</td><td>Tap "Host a game" and optionally enter a password.
</td></tr><tr><td valign="top">
3.</td><td>For the Guest device, enter the Host's public IP address.
</td></tr><tr><td valign="top">
4.</td><td>Tap "Connect" and enter the password if any.
</td></tr><tr><td valign="top">
5.</td><td>When connection is made. Tap "Start" on the Host device.
</td></tr></table>
</br>
<table width="100%"><tr><td colspan="2">
<b>C. Play over "Hotspot" feature: (Android 2.2+ is required for the host device)</b>
</td></tr><tr><td valign="top">
1.</td><td>For the Host device, enable tethering.
</td></tr><tr><td valign="top">
2.</td><td>Select the Hotspot IP address from the list(Usually 192.168.XX.1).
</td></tr><tr><td valign="top">
3.</td><td>Tap "Host a game" and optionally enter a password.
</td></tr><tr><td valign="top">
4.</td><td>For the Guest device, connect to the host's Hotspot network.
</td></tr><tr><td valign="top">
5.</td><td>Enter the host's Hotspot IP address.
</td></tr><tr><td valign="top">
6.</td><td>Tap "Connect" and enter the password if any.
</td></tr><tr><td valign="top">
7.</td><td>When connection is made. Tap "Start" on the Host device.
</td></tr></table>