<b><span style="font-size:110%">连线模式(透过LAN/TCP):</span></b>
<br>(Free版只限二人连线对战)
<br>
<br>
<table width="100%"><tr><td colspan="2">
<b>A. 透过LAN来连线: (两部装置需在同一个子网络上)</b>

</td></tr><tr><td valign="top">
1.</td><td>在主机中，从选单上选择一个适当的LAN IP地址(通常是192.168开首的)。完成后按一下“主持游戏”。
</td></tr><tr><td valign="top">
2.</td><td>选择性地填上密码。
</td></tr><tr><td valign="top">
3.</td><td>在客机中，输入主机的LAN IP地址。完成后按一下“连线”。
</td></tr><tr><td valign="top">
4.</td><td>输入主机所设立的密码(如有)。 
</td></tr><tr><td valign="top">
5.</td><td>当连接成功时，按一下主机上的“开始”按钮。
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B. 透过互联网来连线: (最少有一部装置需能接受外来连线要求)</b>
</td></tr><tr><td valign="top">
1.</td><td>在主机中，请确认你的IP地址是能接受外来的连线要求。如果你的装置是透过路由器或防火墙连接互联网，请确认你知道你的公共IP地址，并确认PORT 7889已开启及已转接至此装置。
</td></tr><tr><td valign="top">
2.</td><td>按一下“主持游戏”，选择性地填上密码。
</td></tr><tr><td valign="top">
3.</td><td>在客机中，输入主机的公共IP地址。
</td></tr><tr><td valign="top">
4.</td><td>按一下“连线”，填上密码(如有)。
</td></tr><tr><td valign="top">
5.</td><td>当连接成功时，按一下主机上的“开始”按钮。
</td></tr></table>
</br>
<table width="100%"><tr><td colspan="2">
<b>C. 透过“Hotspot”功能连线:(主机需要Android 2.2或以上)</b>
</td></tr><tr><td valign="top">
1.</td><td>在主机中，启动Tethering功能。
</td></tr><tr><td valign="top">
2.</td><td>再从IP选单上选择Hotspot的IP地址(通常为192.168.XX.1)。
</td></tr><tr><td valign="top">
3.</td><td>按一下“主持游戏”，选择性地填上密码。
</td></tr><tr><td valign="top">
4.</td><td>在客机中，连接到主机的Hotspot网络。
</td></tr><tr><td valign="top">
5.</td><td>再输入主机的Hotspot IP地址。
</td></tr><tr><td valign="top">
6.</td><td>按一下“连线”，填上密码(如有)。
</td></tr><tr><td valign="top">
7.</td><td>当连接成功时，按一下主机上的“开始”按钮。
</td></tr></table>