<b><span style="font-size:110%">連線模式(透過伺服器):</span></b>
<br>(Free版只限二人連線對戰)
<br>*如果你未能成功連接或於遊戲中途斷線，請稍後再嘗試，伺服器會不定時關閉進行維護。
<br>
<br>
<table width="100%">
<tr><td valign="top">
1.</td><td>在主機中，按一下“主持遊戲”。
</td></tr><tr><td valign="top">
2.</td><td>選擇性地填上密碼。
</td></tr><tr><td valign="top">
3.</td><td>成功連到伺服器後，你會得到一個Game Key。
</td></tr><tr><td valign="top">
4.</td><td>在客機中，輸入主機的Game Key。完成後按一下“連線”。
</td></tr><tr><td valign="top">
5.</td><td>當連接成功時，按一下主機上的“開始”按鈕。
</td></tr></table>