<b><span style="font-size:110%">Mode Réseau Bluetooth, requiert Android 2.1 et +:</span></b>
<br>La version gratuite ne supporte que 2 joueurs
<br>
<br><i>* si les appareils sont déjà appairés aller à l’Étape B.</i>
<table width="100%"><tr><td colspan="2">
<b>Étape A - Appareils non encore appairés</b>
</td></tr><tr><td valign="top">
1.</td><td>N’importe lequel des appareils peut être désigné comme hôte ou comme invité, il est recommandé de désigner l’appareil le plus performant comme hôte.
</td></tr><tr><td valign="top">
2.</td><td>Assurez-vous de connaître le nom Bluetooth de l’appareil hôte. Ce nom peut être défini depuis votre appareil dans le panneau “Paramètres > Sans fil et réseaux > Paramètres bluetooth > Nom du périphérique”
	<br>Ce nom n’est pas celui défini dans les paramètres de MJ & Amis ! 
</td></tr><tr><td valign="top">
3.</td><td>Sur l’appareil hôte : cliquer sur le bouton “Permettre l’identification de l’appareil” afin que les invités puissent le trouver, puis valider l’invite suivante en cliquant sur “Oui”
	<br>Une fois que l’appareil est Idenfiable, cliquer sur “Héberger un jeu”.
</td></tr><tr><td valign="top">
4.</td><td>Sur les périphériques invités, cliquer sur “Rechercher des périphériques”, attendre que l’appareil hôte apparaisse dans la liste puis cliquer sur “Arrêter le scan”.
</td></tr><tr><td valign="top">
5.</td><td>Cliquer l’appareil hôte dans la liste puis cliquer “Oui” pour vous connecter.
</td></tr><tr><td valign="top">
6.</td><td>Cliquer sur “Oui” sur l’appareil hôte et l’appareil invité lorsque le système demande si vous souhaitez vous apparairer. Si vous ne voyez pas le dialogue vérifiez la barre de notifications système.
</td></tr><tr><td valign="top">
7.</td><td>Répéter à partir de l’étape 4 pour rajouter des joueurs, cliquer sur “Démarrer” sur l’appareil hôte pour démarrer la partie.
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>Étape B - Appareils déjà appairés<b>
</td></tr><tr><td valign="top">
1.</td><td>Sur l’appareil hôte, cliquer sur “Héberger un jeu”
</td></tr><tr><td valign="top">
2.</td><td>Sur l’appareil invité, cliquer sur le nom de l’appareil hôte dans la liste des appareils, puis cliquez sur “Oui” pour autoriser la connexion.
</td></tr><tr><td valign="top">
3.</td><td>Répéter l’étape précédente pour rajouter des joueurs.
	<br>Cliquer sur “Démarrer” sur le périphérique hôte une fois que les joueurs sont prêts, pour démarrer la partie.
</td></tr></table>
