<b><span style="font-size:110%">連線模式(透過藍牙, 需要 Android 2.1 或以上):</span></b>
<br>(Free版只限二人連線對戰)
<br>
<br><i>*如果兩部裝置已配對好，請跳到B部份。</i>
<table width="100%"><tr><td colspan="2">
<b>A.</b>
</td></tr><tr><td valign="top">
1.</td><td>任何裝置都可以是主機(接受連線一方)或客機(主動連線一方)，建議使用速度比效快的一部作主機。
</td></tr><tr><td valign="top">
2.</td><td>請確認你已清楚知道主機的藍牙裝置名稱，你可以在系統的“設定”中的“無線及網絡”中看到（請注意，並不是“雀友麻雀”中的“設定”！）。 
</td></tr><tr><td valign="top">
3.</td><td>在主機中，按一下“使裝置可被偵測”，系統詢問時再按“是”來確認，當主機在可被偵測狀能時，再按“主持遊戲”。
</td></tr><tr><td valign="top">
4.</td><td>在客機中，按“偵測新裝置”，當偵測到主機時，再按“停止偵測”。
</td></tr><tr><td valign="top">
5.</td><td>按一下主機的名稱，再按“是”來確認連線。
</td></tr><tr><td valign="top">
6.</td><td>當系統詢問是否要配對時，按“是”來確認(如果你看不到系統詢問，請檢查你的“系統通知區域”)。
</td></tr><tr><td valign="top">
7.</td><td>當連接成功時，按一下主機上的“開始”按鈕。
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B.<b>
</td></tr><tr><td valign="top">
1.</td><td>在主機中，按一下“主持遊戲”。
</td></tr><tr><td valign="top">
2.</td><td>在客機中，按一下主機的名稱，再按“是”來確認連線。
</td></tr><tr><td valign="top">
3.</td><td>當連接成功時，按一下主機上的“開始”按鈕。
</td></tr></table>
