<b><span style="font-size:110%">連線模式(透過LAN/TCP):</span></b>
<br>(Free版只限二人連線對戰)
<br>
<br>
<table width="100%"><tr><td colspan="2">
<b>A. 透過LAN來連線: (兩部裝置需在同一個子網絡上)</b>

</td></tr><tr><td valign="top">
1.</td><td>在主機中，從選單上選擇一個適當的LAN IP地址(通常是192.168開首的)。完成後按一下“主持遊戲”。
</td></tr><tr><td valign="top">
2.</td><td>選擇性地填上密碼。
</td></tr><tr><td valign="top">
3.</td><td>在客機中，輸入主機的LAN IP地址。完成後按一下“連線”。
</td></tr><tr><td valign="top">
4.</td><td>輸入主機所設立的密碼(如有)。 
</td></tr><tr><td valign="top">
5.</td><td>當連接成功時，按一下主機上的“開始”按鈕。
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B. 透過互聯網來連線: (最少有一部裝置需能接受外來連線要求)</b>
</td></tr><tr><td valign="top">
1.</td><td>在主機中，請確認你的IP地址是能接受外來的連線要求。如果你的裝置是透過路由器或防火牆連接互聯網，請確認你知道你的公共IP地址，並確認PORT 7889已開啟及已轉接至此裝置。
</td></tr><tr><td valign="top">
2.</td><td>按一下“主持遊戲”，選擇性地填上密碼。
</td></tr><tr><td valign="top">
3.</td><td>在客機中，輸入主機的公共IP地址。
</td></tr><tr><td valign="top">
4.</td><td>按一下“連線”，填上密碼(如有)。
</td></tr><tr><td valign="top">
5.</td><td>當連接成功時，按一下主機上的“開始”按鈕。
</td></tr></table>
</br>
<table width="100%"><tr><td colspan="2">
<b>C. 透過“Hotspot”功能連線:(主機需要Android 2.2或以上)</b>
</td></tr><tr><td valign="top">
1.</td><td>在主機中，啟動Tethering功能。
</td></tr><tr><td valign="top">
2.</td><td>再從IP選單上選擇Hotspot的IP地址(通常為192.168.XX.1)。
</td></tr><tr><td valign="top">
3.</td><td>按一下“主持遊戲”，選擇性地填上密碼。
</td></tr><tr><td valign="top">
4.</td><td>在客機中，連接到主機的Hotspot網絡。
</td></tr><tr><td valign="top">
5.</td><td>再輸入主機的Hotspot IP地址。
</td></tr><tr><td valign="top">
6.</td><td>按一下“連線”，填上密碼(如有)。
</td></tr><tr><td valign="top">
7.</td><td>當連接成功時，按一下主機上的“開始”按鈕。
</td></tr></table>