<b><span style="font-size:110%">ネットワークモード（Bluetooth接続、Android2.1以上が必要です）</span></b>
<br>(Free version supports 2-player only.)
<br>
<br><i>*すでにペアリングしてある場合は、Bをご覧ください。</i>
<table width="100%"><tr><td colspan="2">
<b>A.</b>
</td></tr><tr><td valign="top">
1.</td><td>どのデバイスもホスト／ゲストのどちらにも使えますが、ホストには速度の速いデバイスをおすすめします。
</td></tr><tr><td valign="top">
2.</td><td>ホストのBluetoothデバイス名を確認し、お使いのシステムの「設定＞ワイヤレス＆ネットワーク」でデバイス名を設定してください（ゲームの「設定」ではありません）。 
</td></tr><tr><td valign="top">
3.</td><td>ホストのデバイスで、「デバイスを発見可能にする」をタップし、リクエストダイアログが表示されたら「Yes」をタップします。デバイスが発見可能になっている間に「ゲームを主催する」をタップします。
</td></tr><tr><td valign="top">
4.</td><td>ゲストのデバイスで、「新しいデバイスを検索」をタップし、検索が完了するまで待ちます。ホストのデバイスがリストに表示されたら、「検索を中止」をタップします。
</td></tr><tr><td valign="top">
5.</td><td>ホストのデバイスをタップし、「Yes」をタップして接続します。
</td></tr><tr><td valign="top">
6.</td><td>「ペアリングしますか？」という表示がされたら、「Yes」をタップします（ダイアログが表示されない場合は、システムの通知領域を確認してください）。
</td></tr><tr><td valign="top">
7.</td><td><!--3人以上でプレイする場合は、4-6を繰り返します。全員が接続したら、-->ホストのデバイスで「スタート」をタップします。
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B.<b>
</td></tr><tr><td valign="top">
1.</td><td>ホストのデバイスで、「ゲームを主催する」をタップします。
</td></tr><tr><td valign="top">
2.</td><td>ゲストのデバイスでリストからホストのデバイスをタップし、「Yes」をタップして接続します。
</td></tr><tr><td valign="top">
3.</td><td><!--3人以上でプレイする場合は、2を繰り返します。全員が接続したら、-->ホストのデバイスで「スタート」をタップします。
</td></tr></table>