<b><span style="font-size:110%">ネットワーク・モード（LAN/TCP経由）:</span></b>
<br>(Free version supports 2-player only.)
<br>
<table width="100%"><tr><td colspan="2">
<b>A. LAN接続で遊ぶ：（全てのデバイスを同じネットワークに接続）</b>
</td></tr><tr><td valign="top">
1.</td><td>ホストのデバイスには、リストから適切なLANのIPアドレス（通常192.168で始まります）を選択してください。選択したら「ゲームを主催する」をタップします。
</td></tr><tr><td valign="top">
2.</td><td>必要に応じてパスワードを入力してください。
</td></tr><tr><td valign="top">
3.</td><td>ゲストのデバイスには、リストからホストのLAN IPアドレスを入力してください。入力したら「接続」をタップします。
</td></tr><tr><td valign="top">
4.</td><td>必要に応じてパスワードを入力してください。
</td></tr><tr><td valign="top">
5.</td><td><!--3人以上でプレイする場合は3-4を繰り返してください。全員が接続したら、-->ホストのデバイスで「スタート」をタップします。
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B. インターネット接続で遊ぶ（1つ以上のデバイスを外部インターネットに接続）</b>
</td></tr><tr><td valign="top">
1.</td><td>ホストのデバイスには、外部からアクセス可能なIPアドレスを設定してください。ルーターやファイアウォールがある場合には、パブリックIPアドレスとポート番号7889が有効になっていることを確認し、デバイスに転送してください。
</td></tr><tr><td valign="top">
2.</td><td>「ゲームを主催する」をタップし、必要に応じてパスワードを入力してください。
</td></tr><tr><td valign="top">
3.</td><td>ゲストのデバイスには、ホストのパブリックIPアドレスを入力してください。
</td></tr><tr><td valign="top">
4.</td><td>「接続」をタップし、必要に応じてパスワードを入力してください。
</td></tr><tr><td valign="top">
5.</td><td><!-- 3人以上でプレイする場合は3-4を繰り返してください。全員が接続したら、-->ホストのデバイスで「スタート」をタップします。
</td></tr></table>
</br>
<table width="100%"><tr><td colspan="2">
<b>C. “ホットスポット”で接続して遊ぶ：（ホストのデバイスにAndroid 2.2以上が必要です）</b>
</td></tr><tr><td valign="top">
1.</td><td>ホストのデバイスで、テザリングを有効にします。
</td></tr><tr><td valign="top">
2.</td><td>リストからホットスポットのIPアドレス（通常、192.168.XX.1となります。Xの数字は変動します）を選びます。
</td></tr><tr><td valign="top">
3.</td><td>「ゲームを主催する」をタップし、必要に応じてパスワードを入力してください。
</td></tr><tr><td valign="top">
4.</td><td>ゲストのデバイスを、ホストのホットスポット・ネットワークに接続します。
</td></tr><tr><td valign="top">
5.</td><td>ホストのホットスポットIPアドレスを入力します。
</td></tr><tr><td valign="top">
6.</td><td>「接続」をタップし、必要に応じてパスワードを入力してください。
</td></tr><tr><td valign="top">
7.</td><td><!--3人以上でプレイする場合は4-6を繰り返してください。全員が接続したら、-->ホストのデバイスで「スタート」をタップします。
</td></tr></table>