<b><span style="font-size:110%">Mode Réseau (Internet ou réseau local):</span></b>
<br>La version gratuite ne supporte que le mode 2 joueurs
<br>
<br>Quel que soit le mode de jeu retenu, le principe est le même :
<br>Les joueurs désignent l’un d’entre eux qui hébergera le jeu sur son appareil
<br>Le joueur désigné sera appelé “hôte”, les autres joueurs “invités”
<br>Chaque joueur devra effectuer les opérations décrites ci-dessous, le joueur “hôte” réalisant les opérations le concernant en premier, suivi des invités.
<br>Le choix du joueur hôte n’a aucun impact sur le déroulement de la partie, il est cependant recommandé de désigner le joueur dont l’appareil est le plus performant et le plus stable.
<br>
<br>
<table width="100%"><tr><td colspan="2">
<b>A. Jeu en réseau local : (tous les joueurs sont connectés au même réseau)</b>
</td></tr><tr><td valign="top">
1.</td><td>L’hôte vérifiera la validité de l’adresse inscrite dans le champ “Adresse IP” voire la modifiera au besoin (cette adresse commence généralement par 192.168.)
	<br>Cette adresse <b>doit</b> être celle de l’appareil
	<br>Ceci fait, cliquer sur “Héberger un jeu”.
</td></tr><tr><td valign="top">
2.</td><td>A l’invite, saisir éventuellement un mot de passe. Cette étape est optionnelle, laisser vide pour ne pas mettre de mot de passe.
</td></tr><tr><td valign="top">
3.</td><td>Chaque invité saisira, dans le champ “Adresse IP”, l’adresse fournie par l’hôte. Cliquer sur “Connecter” une fois fait.
</td></tr><tr><td valign="top">
4.</td><td>Si un mot de passe a été saisi à l’étape 2, le saisir lorsqu’il est demandé. 
</td></tr><tr><td valign="top">
5.</td><td>Chaque invité réalise la procédure décrite aux points 3 et 4 ci-dessus.
</td></tr><tr><td valign="top">
6.</td><td>Au cours de la procédure, l’hôte peut cliquer à tout moment sur “Arrêter l’hébergement” pour interrompre la création du jeu.
</td></tr><tr><td valign="top">
7.</td><td>Une fois tous les invités connectés, l’hôte clique sur le bouton “Démarrer”
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B. Jeu par Internet: (au moins l’un des joueurs doit pouvoir rendre son appareil accessible depuis Internet)</b>
</td></tr><tr><td valign="top">
1.</td><td>L’hôte vérifiera la validité de l’adresse inscrite dans le champ “Adresse IP” voire la modifiera au besoin.
	<br>Ceci fait, cliquer sur “Héberger un jeu”.
	<br><i>Si l’appareil de l’hôte se situe derrière un routeur ou pare-feu (box internet ou autre), faire en sorte de router le port 7889 vers l’appareil. Il faudra dans ce cas récupérer l’adresse publique de la connexion internet, qui est dans ce cas différente de l’adresse de l’appareil, et la communiquer aux invités.
	<br>La méthode de routage d’un port est différente selon le fournisseur d’accès.</i>
</td></tr><tr><td valign="top">
2.</td><td>A l’invite, saisir éventuellement un mot de passe. Cette étape est optionnelle, laisser vide pour ne pas mettre de mot de passe.
</td></tr><tr><td valign="top">
3.</td><td>Chaque invité saisira, dans le champ “Adresse IP”, l’adresse public fournie par l’hôte. Cliquer sur “Connecter” une fois fait.
</td></tr><tr><td valign="top">
4.</td><td>Si un mot de passe a été saisi à l’étape 2, le saisir lorsqu’il est demandé.
</td></tr><tr><td valign="top">
5.</td><td>Chaque invité réalise la procédure décrite aux points 3 et 4 ci-dessus.Repeat from step 3 for more players.
</td></tr><tr><td valign="top">
6.</td><td>Au cours de la procédure, l’hôte peut cliquer à tout moment sur “Arrêter l’hébergement” pour interrompre la création du jeu.
</td></tr><tr><td valign="top">
7.</td><td>Une fois tous les invités connectés, l’hôte clique sur le bouton “Démarrer”
</td></tr></table>
</br>
<table width="100%"><tr><td colspan="2">
<b>C. Jeu à l’aide de la fonction “Point d’accès Wi-Fi” portable
	<br>Attention : Android 2.2 et + et un appareil compatible sont requis pour héberger un jeu de cette manière</b>
</td></tr><tr><td valign="top">
1.</td><td>L’hôte active le “Point d’accès Wi-Fi portable” sur son appareil depuis : “Paramètres -> Sans fil et réseaux” et fournira aux invités le nom du réseau wifi ainsi créé ainsi que le mot de passe de ce dernier.
</td></tr><tr><td valign="top">
2.</td><td>Dans Mahjong & amis
	<br>L’hôte vérifiera que l’adresse inscrite dans le champ “Adresse IP” est bien celle du point d’accès, en générale 192.168.xxx.1
	<br>Cette adresse <b>doit</b> être celle de l’appareil
	<br>Ceci fait, cliquer sur “Héberger un jeu”.
</td></tr><tr><td valign="top">
3.</td><td>A l’invite, saisir éventuellement un mot de passe. Cette étape est optionnelle, laisser vide pour ne pas mettre de mot de passe.
</td></tr><tr><td valign="top">
4.</td><td>Chaque invité se connecte sur le point d’accès créé par l’hôte
</td></tr><tr><td valign="top">
5.</td><td>Dans Mahjong & amis
	<br>Chaque invité saisira, dans le champ “Adresse IP”, l’adresse fournie par l’hôte. Cliquer sur “Connecter” une fois fait.
</td></tr><tr><td valign="top">
6.</td><td>Si un mot de passe a été saisi à l’étape 2, le saisir lorsqu’il est demandé.
</td></tr><tr><td valign="top">
7.</td><td>Chaque invité réalise la procédure décrite aux points 5 et 6 ci-dessus.
</td></tr><tr><td valign="top">
8.</td><td>Au cours de la procédure, l’hôte peut cliquer à tout moment sur “Arrêter l’hébergement” pour interrompre la création du jeu.
</td></tr><tr><td valign="top">
9.</td><td>Une fois tous les invités connectés, l’hôte clique sur le bouton “Démarrer”
</td></tr></table>