<b><span style="font-size:110%">Network mode(Over Bluetooth, requires Android 2.1+):</span></b>
<br>(Free version supports 2-player only.)
<br>
<br><i>*If both of the devices are already Paired, go to B.</i>
<table width="100%"><tr><td colspan="2">
<b>A.</b>
</td></tr><tr><td valign="top">
1.</td><td>Either of the device can be Host or Guest, it's recommended to use the faster device as Host.
</td></tr><tr><td valign="top">
2.</td><td>Make sure you know the Host's Bluetooth device name, you can set the name under "Settings > Wireless & Networks" of your system(not the name in MJ&F's Settings!). 
</td></tr><tr><td valign="top">
3.</td><td>For the Host device, make it discoverable by tapping the "Make device discoverable" button, tap "Yes" when you see the request dialog. While the device is in discoverable state, tap "Host a game" button.
</td></tr><tr><td valign="top">
4.</td><td>Now for the Guest device, tap "Scan for new devices" button, wait while scanning is in progress, once you see the Host's device appears on the list, tap "Stop scanning".
</td></tr><tr><td valign="top">
5.</td><td>Tap the Host's device, and then "Yes" to connect.
</td></tr><tr><td valign="top">
6.</td><td>Tap "Yes" on both devices when the system asks if you'd like to pair-up(if you can't see the dialog, you may need to check your System Notifications).
</td></tr><tr><td valign="top">
7.</td><td>When connection is made. Tap "Start" on the Host device.
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B.<b>
</td></tr><tr><td valign="top">
1.</td><td>For the Host device, tap "Host a game".
</td></tr><tr><td valign="top">
2.</td><td>For the Guest device, tap the Host's device from the list, and then "Yes" to connect.
</td></tr><tr><td valign="top">
3.</td><td>When connection is made. Tap "Start" on the Host device.
</td></tr></table>
