<b><span style="font-size:110%">连线模式(透过伺服器):</span></b>
<br>(Free版只限二人连线对战)
<br>*如果你未能成功连接或于游戏中途断线，请稍后再尝试，伺服器会不定时关闭进行维护。
<br>
<br>
<table width="100%">
<tr><td valign="top">
1.</td><td>在主机中，按一下“主持游戏”。
</td></tr><tr><td valign="top">
2.</td><td>选择性地填上密码。
</td></tr><tr><td valign="top">
3.</td><td>成功连到伺服器後，你会得到一个Game Key。
</td></tr><tr><td valign="top">
4.</td><td>在客机中，输入主机的Game Key。完成後按一下“连线”。
</td></tr><tr><td valign="top">
5.</td><td>当连接成功时，按一下主机上的“开始”按钮。
</td></tr></table>