<b><span style="font-size:110%">Network mode (Server)</span></b>
<br>(Free version supports 2-player only.)
<br>*If you can't connect to server or experienced dropped connection, please try again later. Server may down for maintenance any time.
<br>
<br>
<table width="100%"><tr><td colspan="2">
</td></tr><tr><td valign="top">
1.</td><td>For the Host device, tap "Host a game".
</td></tr><tr><td valign="top">
2.</td><td>Optionally enter a password.
</td></tr><tr><td valign="top">
3.</td><td>You will receive a Game Key from server once connection is established.
</td></tr><tr><td valign="top">
4.</td><td>For the Guest device, enter the Host's Game Key. Tap "Connect" when done.
</td></tr><tr><td valign="top">
5.</td><td>When connection is made. Tap "Start" on the Host device.
</td></tr></table>