<b><span style="font-size:110%">连线模式(透过蓝牙, 需要 Android 2.1 或以上):</span></b>
<br>(Free版只限二人连线对战)
<br>
<br><i>*如果两部装置已配对好，请跳到B部份。</i>
<table width="100%"><tr><td colspan="2">
<b>A.</b>
</td></tr><tr><td valign="top">
1.</td><td>任何装置都可以是主机(接受连线一方)或客机(主动连线一方)，建议使用速度比效快的一部作主机。
</td></tr><tr><td valign="top">
2.</td><td>请确认你已清楚知道主机的蓝牙装置名称，你可以在系统的“设定”中的“无线及网络”中看到（请注意，并不是“雀友麻雀”中的“设定”！）。 
</td></tr><tr><td valign="top">
3.</td><td>在主机中，按一下“使装置可被侦测”，系统询问时再按“是”来确认，当主机在可被侦测状能时，再按“主持游戏”。
</td></tr><tr><td valign="top">
4.</td><td>在客机中，按“侦测新装置”，当侦测到主机时，再按“停止侦测”。
</td></tr><tr><td valign="top">
5.</td><td>按一下主机的名称，再按“是”来确认连线。
</td></tr><tr><td valign="top">
6.</td><td>当系统询问是否要配对时，按“是”来确认(如果你看不到系统询问，请检查你的“系统通知区域”)。
</td></tr><tr><td valign="top">
7.</td><td>当连接成功时，按一下主机上的“开始”按钮。
</td></tr></table>
<br>
<table width="100%"><tr><td colspan="2">
<b>B.<b>
</td></tr><tr><td valign="top">
1.</td><td>在主机中，按一下“主持游戏”。
</td></tr><tr><td valign="top">
2.</td><td>在客机中，按一下主机的名称，再按“是”来确认连线。
</td></tr><tr><td valign="top">
3.</td><td>当连接成功时，按一下主机上的“开始”按钮。
</td></tr></table>