@charset "UTF-8";
html, body { margin: 0; padding: 0; border: 0; min-height: 100%; }

body, button { font-family: 'STHeiti','Microsoft Yahei', sans-serif; }

html { font-size: 100px; }

body { line-height: 1.5; font-size: 16px; background: #fafafa; padding: 0; position: relative; color: #000; word-wrap: break-word; font-size-adjust: none; -webkit-text-size-adjust: none; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

p img { float: left; padding: 0; }

img { border: 0; max-width: 100%; }

table { width: auto; border-collapse: collapse; border-spacing: 0; }

p { font-size: 1em; line-height: 1.6; }

ul { list-style: none; padding: 0; margin: 0; }

a { text-decoration: none; -webkit-tap-highlight-color: transparent; }

@media screen and (min-width: 768px) and (max-width: 1000px) { html { font-size: 120px; } }
@media screen and (min-width: 1001px) and (max-width: 1200px) { html { font-size: 140px; } }
@media screen and (min-width: 1201px) { html { font-size: 160px; } }
/* 通用 */
hr { display: none; }

.center { text-align: center; }

.vam { vertical-align: middle; }

.px9 { font-size: 9px; }

.px10 { font-size: 10px; }

.px12 { font-size: 12px; }

.px13 { font-size: 13px; }

.px14 { font-size: 14px; }

.px15 { font-size: 15px; }

.px16 { font-size: 16px; }

.px22 { font-size: 22px; }

.fltl { float: left; }

.fltr { float: right; }

.clearfix:after { content: "\200B"; display: block; height: 0; clear: both; }

/* 通栏按钮 */
.cross-column-button { display: block; color: rgba(0, 0, 0, 0.54); text-decoration: none; background: #f2f2f2; line-height: 3; text-align: center; font-size: 12px; }

.cross-column-button:active { background: #ebebeb; }

.separator { display: none; height: 1px; line-height: 1px; margin: 2em auto; }
@media (-webkit-min-device-pixel-ratio: 2) { .separator { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .separator { border-bottom: 1px solid #e1e1e1; } }

.separator3 { display: none; height: 1px; line-height: 1px; margin: 20px auto; }
@media (-webkit-min-device-pixel-ratio: 2) { .separator3 { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .separator3 { border-bottom: 1px solid #e1e1e1; } }

.separator2 { display: none; height: 1px; line-height: 1px; margin: 2em 16px; }
@media (-webkit-min-device-pixel-ratio: 2) { .separator2 { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .separator2 { border-bottom: 1px solid #e1e1e1; } }

.separator4 { display: none; height: 1px; margin: 2em 16px; }
@media (-webkit-min-device-pixel-ratio: 2) { .separator4 { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .separator4 { border-bottom: 1px solid #e1e1e1; } }

.line { content: ""; height: 1px; display: inline-block; width: 100%; z-index: -1; }
@media (-webkit-min-device-pixel-ratio: 2) { .line { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .line { border-bottom: 1px solid #e1e1e1; } }

.custom-border { height: 1px; overflow: hidden; width: 100%; }
@media (-webkit-min-device-pixel-ratio: 2) { .custom-border { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .custom-border { border-bottom: 1px solid #e1e1e1; } }

.relative { position: relative; }

.gap { height: 16px; display: block; width: 100%; }

.part { position: relative; margin-bottom: 1.25em; }
.part:not(:first-of-type) { padding-top: 1.25em; }
.part:not(:first-of-type):before { content: ""; position: absolute; top: 0; height: 1px; left: 16px; right: 16px; }
@media (-webkit-min-device-pixel-ratio: 2) { .part:not(:first-of-type):before { border-top: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .part:not(:first-of-type):before { border-top: 1px solid #e1e1e1; } }

.part h2 { font-size: 0.9375em; }

.part h2.title { overflow: hidden; text-align: left; color: rgba(0, 0, 0, 0.54); margin-top: 0; }

.part .photo[src=''] { content: ''; display: inline-block; text-align: center; background: url(../images/img-placeholder.png) no-repeat center center, linear-gradient(0deg, #fafafa 0%, #fafafa 100%); background: url(../images/img-placeholder.png) no-repeat center center, -webkit-linear-gradient(0deg, #fafafa 0%, #fafafa 100%); background-size: 50px 38px; }

.part .photo-desc { color: rgba(0, 0, 0, 0.54); font-size: 0.75em; margin: 0.25em 0em 0.25em; text-align: left; }
.part .photo-desc.center { text-align: center; }

.part .photo.error { content: ''; display: inline-block; text-align: center; background: url(../images/img-placeholder-error.png) no-repeat center center, linear-gradient(0deg, #fafafa 0%, #fafafa 100%); background: url(../images/img-placeholder-error.png) no-repeat center center, -webkit-linear-gradient(0deg, #fafafa 0%, #fafafa 100%); background-size: 50px 38px; }

.part .photo:not([src='']) { display: inline-block; }

.circle-button { border-radius: 50%; width: 36px; height: 36px; line-height: 36px; border: 1px solid #ddd; display: inline-block; text-align: center; text-decoration: none; color: #a1a1a1; font-size: 12px; }

.drip { display: inline-block; background: url(../images/icon-drip.png) no-repeat; background-size: 36px 44px; width: 36px; height: 44px; font-size: 12px; text-align: center; text-decoration: none; color: white; }

/* 页面元素 */
.wrapper { padding-top: 1px; margin-top: -1px; margin-bottom: 60px; }
.wrapper.joke .article.part p, .wrapper.gif .article.part p { color: rgba(0, 0, 0, 0.6); }

section { padding: 0 16px; }

/* 字体大小调整 */
.small .article.part { font-size: 14.11765px; }

.big .article.part { font-size: 17.88235px; }

.extra-big .article.part { font-size: 19.76471px; }

.article.part { text-align: center; }
.article.part h1 { font-size: 1.25em; margin: 16px 0 5px 0; font-weight: bold; text-align: left; color: rgba(0, 0, 0, 0.87); }
.article.part h2 { font-size: 1.125em; text-align: left; }
.article.part h3 { font-size: 1em; color: #b1b0b0; text-align: left; }
.article.part cite { font-style: normal; }
.article.part .article-info { color: rgba(0, 0, 0, 0.54); font-size: 0.75em; margin-bottom: 1em; text-align: left; }
.article.part .editor-info { color: rgba(0, 0, 0, 0.54); font-size: 0.75em; line-height: 2.08333em; margin-bottom: 1em; text-align: left; }
.article.part .editor-info time { float: right; }
.article.part .editor-info .editor-avatar { float: left; height: 2.08333em; width: 2.08333em; margin-right: 0.75em; -webkit-border-radius: 50%; border-radius: 50%; }
.article.part .editor-info .editor-name { float: left; }
.article.part .editor-info .editor-desc { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: relative; padding-left: 0.83333em; }
.article.part .editor-info .editor-desc:before { content: ","; display: block; position: absolute; left: 0.41667em; }
.article.part p { font-size: 1.0625em; line-height: 1.6; text-align: justify; margin: 0.88235em 0em; color: rgba(0, 0, 0, 0.87); }
.article.part p a { color: #e35552; text-decoration: underline; }
.article.part strong.editor-custom-title, .article.part strong.editor-custom-title a, .article.part b.editor-custom-title, .article.part b.editor-custom-title a { font-size: 1.05882em; line-height: 1; font-weight: bold; display: block; margin-top: 0.55556em; }
.article.part .tags-wrap { margin: 1.0625em 0em; }
.article.part .tags { display: block; overflow: hidden; text-align: left; margin: -0.6875em 0em 0em 0em; }
.article.part .tags li { float: left; margin: 0.6875em 1em 0em 0em; }
.article.part .tags li a { font-size: 0.9375em; display: block; height: 1.86667em; line-height: 1.86667em; border: 1px solid #dbdbdb; border-radius: 1em; padding: 0em 1.26667em; color: rgba(0, 0, 0, 0.87); text-decoration: none; }
.article.part .declare { color: rgba(0, 0, 0, 0.26); margin: 1.41667em 0em; text-align: left; }
.article.part .declare a { color: #e35552; }
.article.part .view-original-article { color: rgba(0, 0, 0, 0.26); margin: 1.0625em 0em; }
.article.part .qkw, .article.part .normal .qkw, .article.part .caption .qkw, .article.part .head .qkw { color: inherit !important; text-decoration: none; }
.article.part .caption { text-align: center; text-indent: 0; font-size: 0.75em; margin-top: 0.41667em; }
.article.part .mod { margin: 0.9375em 0em; padding: 13px 16px; overflow: hidden; position: relative; background: #eee; }
.article.part .mod .mod-flag { position: absolute; display: block; width: 80px; -webkit-transform: rotate(45deg); right: -20px; top: 10px; background: #b0b0b0; font-size: 14px; color: #fff; }
.article.part .mod h1 { font-size: 0.875em; font-weight: normal; margin: 0; color: #ff5a00; }
.article.part .mod .bottom-line { display: none; height: 1px; margin-top: 3px; }
@media (-webkit-min-device-pixel-ratio: 2) { .article.part .mod .bottom-line { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #f8bfad 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #f8bfad 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .article.part .mod .bottom-line { border-bottom: 1px solid #f8bfad; } }
.article.part .mod li { text-align: left; }
.article.part .mod a { color: #e35552; font-size: inherit; }
.article.part .mod .cont { overflow: hidden; }
.article.part .mod .scroller { font-size: 16px; white-space: nowrap; }
.article.part .mod .scroller a { display: inline-block; }
.article.part .mod p:first-child { margin-top: 0; }
.article.part .mod p:last-child { margin-bottom: 0; }
.article.part .gallery.mod .gallery-wrap .gallery, .article.part .weibo.mod .weibo-item .gallery, .article.part .video.mod .photo { margin-left: -6px; margin-right: -6px; }
.article.part .block.mod { background: none; padding: 0; }
.article.part .blockquote.mod { overflow: visible; }
.article.part .blockquote.mod:before { position: absolute; content: ""; width: 0px; height: 0px; border-width: 6px; border-style: solid; border-color: transparent; border-bottom-color: #eee; left: 6px; top: -12px; }
.article.part .blockquote.mod.has-editor:before { display: none; }
.article.part .blockquote.mod .editor-info { margin-top: -3px; line-height: 1; }
.article.part .blockquote.mod .editor-info .editor-avatar { height: 2.66667em; width: 2.66667em; margin-top: -1.5em; }
.article.part .blockquote.mod p { color: rgba(0, 0, 0, 0.54); font-size: 0.875em; }
.article.part .dajiasou.mod { background: none; padding: 0; }
.article.part .dajiasou.mod p { font-size: 0.875em; margin: 0; color: rgba(0, 0, 0, 0.54); }
.article.part .dajiasou.mod p strong { color: #ff5a00; }
.article.part .dajiasou.mod h3 { margin: 0; font-size: 0.875em; color: #ff5a00; }
.article.part .dajiasou.mod ul { margin: 0.3125em 0em 0em 0em; }
.article.part .dajiasou.mod ul li { position: relative; padding-left: 20px; font-size: 1em; line-height: 1.875em; color: rgba(0, 0, 0, 0.87); word-break: break-all; }
.article.part .dajiasou.mod ul li:before { content: " "; position: absolute; top: 0.9375em; left: 6px; width: 4px; height: 4px; margin-top: -2px; border-radius: 4px; background-color: #ff5a00; }
.article.part .kandian.mod { margin-top: 1.5625em; padding: 0; background: none; }
.article.part .kandian.mod h2 { position: relative; font-size: 1.125em; margin: 0em 0em 0.83333em 0em; font-weight: 700; color: rgba(0, 0, 0, 0.87); overflow: hidden; }
.article.part .kandian.mod h2 .sequence { display: none; float: left; margin-right: 6px; position: relative; overflow: hidden; padding-right: 8px; }
.article.part .kandian.mod h2 .sequence:before { content: " "; position: absolute; height: 24px; width: 24px; right: -15px; top: 50%; margin-top: -11px; border-left: 1px solid #f97144; background-color: #fff; -webkit-transform-origin: left center; transform-origin: left center; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.article.part .kandian.mod h2 .desc { display: none; }
.article.part .kandian.mod > img { display: block; width: 100%; margin-bottom: 0.9375em; }
.article.part .kandian.mod h1.ex-news-title { color: rgba(0, 0, 0, 0.54); font-weight: 700; }
.article.part .kandian.mod .ex-news { position: relative; }
@media (-webkit-min-device-pixel-ratio: 2) { .article.part .kandian.mod .ex-news li:not(:first-child) { border-top: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .article.part .kandian.mod .ex-news li:not(:first-child) { border-top: 1px solid #e1e1e1; } }
.article.part .kandian.mod .ex-news li { padding: 0.9375em 0em; overflow: hidden; }
.article.part .kandian.mod .ex-news li:last-child { padding-bottom: 0; }
.article.part .kandian.mod .ex-news li .media-body { display: block; overflow: hidden; }
.article.part .kandian.mod .ex-news li .media-body:active { background-color: #f2f2f2; }
.article.part .kandian.mod .ex-news li .media-body .media-heading { margin: 0; font-size: 0.9375em; color: rgba(0, 0, 0, 0.87); }
.article.part .kandian.mod .ex-news li .media-body .media-heading .key { display: inline-block; height: 16px; font-size: 9px; line-height: 16px; vertical-align: 2px; color: #fff; border-radius: 2px; padding: 0 3px; }
.article.part .kandian.mod .ex-news li .media-body .media-heading .recommend { background-color: #63a5f0; }
.article.part .kandian.mod .ex-news li .media-body .media-heading .hot { background-color: #ff5a00; }
.article.part .kandian.mod .ex-news li .media-body .source { font-size: 0.75em; margin-top: 0.41667em; color: rgba(0, 0, 0, 0.54); }
.article.part .kandian.mod .ex-news li .media-right { float: left; width: 25%; margin-right: 0.9375em; }
.article.part .gallery.mod { padding-top: 10px; }
.article.part .gallery.mod h3 { font-size: 0.75em; margin: 0.83333em 0em 0em 0em; color: rgba(0, 0, 0, 0.54); overflow: hidden; }
.article.part .gallery.mod h3 span:first-child { float: right; margin-left: 20px; }
.article.part .gallery.mod .gallery-more { position: absolute; font-size: 12px; text-align: center; color: #FFF; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8); }
.article.part .gallery.mod .gallery-wrap { padding: 0.9375em 0em; }
@media (-webkit-min-device-pixel-ratio: 2) { .article.part .gallery.mod .gallery-wrap:not(:last-child) { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .article.part .gallery.mod .gallery-wrap:not(:last-child) { border-bottom: 1px solid #e1e1e1; } }
.article.part .gallery.mod .gallery-wrap:first-child { padding-top: 0; }
.article.part .gallery.mod .gallery-wrap:last-child { padding-bottom: 0; }
.article.part .wiki.mod { padding-top: 10px; padding-bottom: 6px; }
@media (-webkit-min-device-pixel-ratio: 2) { .article.part .wiki.mod li:not(:first-child) { border-top: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .article.part .wiki.mod li:not(:first-child) { border-top: 1px solid #e1e1e1; } }
.article.part .wiki.mod li a { border-width: 0; }
.article.part .wiki.mod li a h4 { margin: 0em 0em 0.41176em 0em; }
.article.part .wiki.mod a, .article.part .further-reading a { overflow: hidden; display: block; font-size: 0.9375em; padding: 0.66667em 0em; text-align: justify; color: rgba(0, 0, 0, 0.54); }
.article.part .wiki.mod a h4, .article.part .further-reading a h4 { color: rgba(0, 0, 0, 0.87); font-size: 1.13333em; margin: 0.23529em 0em; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.article.part .wiki.mod a img, .article.part .further-reading a img { float: right; padding: 0em 0em 0em 0.66667em; }
.article.part .further-reading .cont { width: 100%; overflow: hidden; }
.article.part .further-reading .scroller { overflow: hidden; }
.article.part .further-reading a { float: left; text-align: left; display: inline-block; }
.article.part .further-reading a span { text-overflow: ellipsis; height: 4.5em; display: inline-block; overflow: hidden; line-height: 1.5em; }
.article.part .further-reading .dots-indicator { width: 100%; height: 5px; line-height: 5px; }
.article.part .further-reading .dots-indicator i { width: 5px; height: 5px; display: inline-block; background: #d7d7d7; border-radius: 50%; margin: 0 2px; vertical-align: top; }
.article.part .further-reading .dots-indicator i.current { background: #fa7a50; }
.article.part .weibo.mod { padding-top: 1em; padding-bottom: 0.875em; }
.article.part .weibo.mod .weibo-info { text-align: left; overflow: hidden; margin: 0em 0em 0.75em 0em; }
.article.part .weibo.mod .weibo-info .avatar { float: left; -webkit-border-radius: 50%; border-radius: 50%; margin-right: 0.75em; }
.article.part .weibo.mod .weibo-info .date { color: rgba(0, 0, 0, 0.54); font-size: 12px; }
.article.part .weibo.mod .weibo-info .username { font-size: 1.0625em; color: rgba(0, 0, 0, 0.87); position: relative; top: -4px; }
.article.part .weibo.mod .weibo-info a:after { content: ""; background: url(../images/icon-weibo-bigV.png) no-repeat 0 0; width: 12px; height: 12px; background-size: 12px 12px; display: inline-block; margin-left: 4px; }
.article.part .weibo.mod cite { text-align: left; font-size: 0.9375em; color: rgba(0, 0, 0, 0.87); display: block; margin: 0em 0em 0.8em 0em; }
.article.part .weibo.mod .weibo-item { padding: 0.9375em 0em; }
@media (-webkit-min-device-pixel-ratio: 2) { .article.part .weibo.mod .weibo-item:not(:last-child) { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .article.part .weibo.mod .weibo-item:not(:last-child) { border-bottom: 1px solid #e1e1e1; } }
.article.part .weibo.mod .weibo-item:first-of-type { padding-top: 0; }
.article.part .weibo.mod .weibo-item:last-of-type { padding-bottom: 0; }
.article.part .weibo.mod .stat { font-size: 0.75em; color: rgba(0, 0, 0, 0.54); text-align: left; }
.article.part .weibo.mod .stat span { padding: 0 5px; }
.article.part .weibo.mod .stat span:first-child { border-right: 1px solid rgba(0, 0, 0, 0.12); }
.article.part .video.mod { padding-top: 10px; padding-bottom: 10px; }
.article.part .video.mod h4 { font-size: 0.75em; color: rgba(0, 0, 0, 0.54); text-align: left; margin: 0.5em 0em 0.16667em 0em; }
.article.part .video.mod .photo { margin-top: 10px; background: black; }
.article.part .video.mod .photo:first-child { margin-top: 0; }
.article.part .video.mod .play { left: 50%; top: 50%; position: absolute; width: 40px; height: 40px; -webkit-transform: translate3d(-50%, -50%, 0); }
.article.part .video.mod .snapshot { display: block; opacity: 0.74; }
.article.part .video.mod a:active .snapshot { opacity: 1; }
.article.part .music.mod { padding-top: 0; padding-bottom: 0; }
.article.part .music.mod .title { position: relative; padding: 1.25em 0em; overflow: hidden; }
@media (-webkit-min-device-pixel-ratio: 2) { .article.part .music.mod .title:not(:last-child) { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .article.part .music.mod .title:not(:last-child) { border-bottom: 1px solid #e1e1e1; } }
.article.part .music.mod .title .play-button { width: 24px; height: 24px; background: url(../images/music-play-start.png) no-repeat 0 0 scroll transparent; background-size: 24px 24px; float: right; }
.article.part .music.mod .title .play-button.playing { background: url(../images/music-play.png) no-repeat 0 0 scroll transparent; background-size: auto 24px; -webkit-animation: music-play 0.3s steps(1) infinite; }
.article.part .music.mod .title .song { display: block; font-size: 1.0625em; color: rgba(0, 0, 0, 0.87); text-align: left; overflow: hidden; }
.article.part .music.mod .title:last-child { border-bottom: none; }
.article.part .n-slash-total { text-align: left; position: relative; clear: both; margin-bottom: -4px; }
.article.part .n-slash-total span { position: absolute; top: 2px; left: 0; }
.article.part .n-slash-total a { font-size: 16px; color: #31cb3b; text-decoration: none; background: white; }
.article.part .n-slash-total b { font-size: 13px; font-weight: normal; background: white; padding-right: 2px; color: #939393; }
.article.part .editor-comment { text-align: left; background-color: #f3f3f3; border-radius: 5px; border-top-left-radius: 0; padding: 9px 30px 9px 30px; margin-top: 12px; margin-bottom: 11px; position: relative; }
.article.part .editor-comment:before { content: ""; display: inline-block; position: absolute; left: 30px; top: -10px; background: url(../images/bubble-left-top-arrow.png) no-repeat 0 1px; width: 14px; height: 10px; }
.article.part .editor-comment h1 { color: #a1a1a1; font-size: 11px; margin: 0; font-weight: normal; }
.article.part .editor-comment cite { color: #3c3c3c; font-size: 14px; }
.article.part .feature-head .relative { margin: 0 -16px; }
.article.part .feature-head .relative img { display: block; width: 100%; }
.article.part .feature-head .gradient { width: 100%; height: 50px; position: absolute; bottom: 0; background: -moz-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0) 1%, rgba(0, 0, 0, 0.45) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(1%, rgba(125, 185, 232, 0)), color-stop(100%, rgba(0, 0, 0, 0.45))); background: -webkit-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0) 1%, rgba(0, 0, 0, 0.45) 100%); background: -o-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0) 1%, rgba(0, 0, 0, 0.45) 100%); background: -ms-linear-gradient(top, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0) 1%, rgba(0, 0, 0, 0.45) 100%); background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0%, rgba(125, 185, 232, 0) 1%, rgba(0, 0, 0, 0.45) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#73000000',GradientType=0 ); }
.article.part .feature-head h1 { margin: 0 16px; position: absolute; bottom: 12px; color: #FFF; font-size: 18px; }
.article.part .feature-head p:before { content: ""; display: inline-block; background: url(../images/double-quote-begin.png) no-repeat 0 0; background-size: 8px 8px; position: absolute; width: 8px; height: 8px; left: 9px; top: 11px; }
.article.part .feature-head p { background-color: #f5f5f5; position: relative; padding: 10px 14px 14px 26px; font-size: 14px; color: #585858; text-indent: 0; }
.article.part .feature-head p:after { content: ""; display: inline-block; background: url(../images/double-quote-end.png) no-repeat 0 0; background-size: 8px 8px; position: absolute; width: 8px; height: 8px; right: 9px; bottom: 9px; }

.timeline { position: relative; }
.timeline li { margin-left: 1em; position: relative; }
.timeline li:before { background-image: url(../images/timeline-dot.png); content: ""; position: absolute; left: -8px; top: 11px; width: 6px; height: 6px; display: inline-block; background-size: 6px 6px; }
.timeline li:not(:last-child):after { content: ""; display: inline-block; border-left: 1px solid #e6e6e6; width: 1px; position: absolute; left: -6px; top: 20px; bottom: -8px; z-index: -1; }
@media (-webkit-min-device-pixel-ratio: 2) { .timeline li:not(:last-child):after { border-left: none; background-image: linear-gradient(180deg, #e6e6e6, #e6e6e6 50%, #fff 50%); background-image: -webkit-linear-gradient(180deg, #e6e6e6, #e6e6e6 50%, #fff 50%); background-size: 1px 100%; background-repeat: no-repeat; background-position: left; } }
.timeline li:first-child:after { top: 16px; }
.timeline .date { display: block; padding-bottom: 8px; position: relative; }
.timeline .date span { background-image: url(../images/timeline-label.png); font-size: 12px; color: #fff; background-size: 65px 15px; padding: 2px; border-radius: 4px; width: 65px; padding-left: 10px; padding-right: 5px; background-position: 0px center; background-repeat: no-repeat; display: inline-block; line-height: 15px; height: 15px; font-size: 10px; }
.timeline .item { font-size: 16px; margin: 0 0 0 .75em; margin-bottom: 6px; display: block; }
@media (-webkit-min-device-pixel-ratio: 2) { .timeline .item { border-bottom: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: bottom; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .timeline .item { border-bottom: 1px solid #e1e1e1; } }
.timeline .item .title { white-space: nowrap; display: inline-block; width: 96%; overflow: hidden; text-overflow: ellipsis; }
.timeline .item:after { content: ""; display: block; height: 5px; }
.timeline a { text-decoration: none; color: #000; }
.timeline p { margin-top: 14px; padding: 0 0 14px 14px; display: none; font-size: 14px; }

.timeline-clock { background-image: url(../images/timeline-clock.png); content: ""; display: inline-block; background-size: 19px 19px; position: absolute; top: 4px; width: 19px; height: 19px; z-index: 10; -webkit-transform: translateX(0.5px); }

.part .grid { text-align: center; margin: 0 auto; }
.part .grid img { vertical-align: middle; }

.share-buttons-wrap.part { text-align: center; }
.share-buttons-wrap.part .share-buttons ul { margin-top: 20px; }
.share-buttons-wrap.part .share-buttons ul li { display: inline-block; margin: 0 12px; }
.share-buttons-wrap.part .share-buttons ul li a { display: block; width: 43px; height: 43px; position: relative; margin-bottom: 6px; }
.share-buttons-wrap.part .share-buttons ul li img { display: block; width: 100%; height: 100%; }
.share-buttons-wrap.part .share-buttons ul li a:after { content: ''; position: absolute; opacity: 0; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; border-radius: 21.5px; }
.share-buttons-wrap.part .share-buttons ul li a:active:after { opacity: .2; }
.share-buttons-wrap.part .share-buttons ul li span { display: block; font-size: 12px; color: rgba(0, 0, 0, 0.54); }

.comments.part.has-more { margin-bottom: 0; }
.comments.part .comment-list li:after { content: " "; display: table; clear: both; }
.comments.part .comment-list li .avatar { float: left; border-radius: 50%; width: 1.25em; height: 1.25em; line-height: 1.25em; }
.comments.part .comment-list li .info-text { font-size: 0.875em; color: rgba(0, 0, 0, 0.87); margin-left: 2.28571em; }
.comments.part .comment-list li .text { padding: 1.14286em; margin: 0.71429em 0em 0em 0em; background: #eee; }
.comments.part .comment-list li .time { font-size: 0.75em; color: rgba(0, 0, 0, 0.54); margin-top: 0.75em; }
.comments.part .comment-list li .info:after { content: " "; display: table; clear: both; }
.comments.part .comment-list li .info .liked, .comments.part .comment-list li .info .thumbup, .comments.part .comment-list li .info .thumbup-active { font-size: 0.75em; color: rgba(0, 0, 0, 0.54); float: right; }
.comments.part .comment-list li .info .thumbup, .comments.part .comment-list li .info .thumbup-active { padding: 0em 0em 0em 0.66667em; }
.comments.part .comment-list li .info .thumbup img, .comments.part .comment-list li .info .thumbup-active img { width: 1em; height: 1em; position: relative; top: 1px; }
.comments.part .comment-list li:not(:last-child) { margin-bottom: 1em; }
.comments.part .more-comments { display: block; font-size: 0.875em; color: #df2b26; margin-top: 1.14286em; padding: 1.14286em 0em; text-align: center; }
@media (-webkit-min-device-pixel-ratio: 2) { .comments.part .more-comments { border-top: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .comments.part .more-comments { border-top: 1px solid #e1e1e1; } }
.comments.part .no-comments { color: rgba(0, 0, 0, 0.54); background: url(../images/icon-no-comments.png) no-repeat center center; background-size: 62px 62px; height: 135px; width: 100%; line-height: 260px; text-align: center; vertical-align: middle; display: inline-block; font-size: 12px; }

.comments-compose.part { margin-top: 1em; padding-top: 0; overflow: hidden; }
.comments-compose.part:before { display: none; }

.vote-simple.part { padding-top: 0.625em; }
.vote-simple.part:before { border: none; background: none !important; }
.vote-simple.part ul { overflow: hidden; text-align: center; white-space: nowrap; font-size: 0; }
.vote-simple.part ul li { display: inline-block; width: 25%; overflow: hidden; }
.vote-simple.part ul li:last-child .button { color: #df2b26; }
.vote-simple.part ul.has-page-btn li { text-align: left; }
.vote-simple.part .thumb { color: rgba(0, 0, 0, 0.3); background: none; height: 24px; line-height: 22px; border: 1px solid #dbdbdb; border-radius: 12px; width: auto; padding: 0 10px; -webkit-box-sizing: border-box; box-sizing: border-box; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; vertical-align: middle; }
.vote-simple.part .thumb img { height: 12px; width: 12px; vertical-align: middle; margin-right: 2px; }
.vote-simple.part .thumb span { font-size: 12px; display: inline-block; vertical-align: middle; }
.vote-simple.part .thumb.up.tapped.selected0 span, .vote-simple.part .thumb.down.tapped.selected0 span { color: #f69a11; }
.vote-simple.part .thumb.selected img { -webkit-animation: beat .8s ease; }
.vote-simple.part .thumb.selected0 img { -webkit-animation: beat 0s ease; }
.vote-simple.part .button { display: inline-block; width: 100%; font-size: 16px; color: rgba(0, 0, 0, 0.3); text-align: center; line-height: 24px; }

.recommend-articles.part { display: none !important; }
.recommend-articles.part .more { font-size: 14px; color: #484747; text-align: center; display: block; text-decoration: none; margin: 3em auto; position: relative; }
.recommend-articles.part .more:before { content: ""; display: block; height: 1px; border-bottom: 1px solid #e6e6e6; -webkit-transform: translate3d(0, 6px, 0) scaleY(0.5); }
.recommend-articles.part .more:after { content: ""; display: block; height: 1em; background: #fff; -webkit-transform: translate3d(0, 0px, 0); margin: 0 auto; width: 13em; }
.recommend-articles.part .more span { z-index: 1; position: absolute; left: 50%; top: -14px; width: 180px; margin-left: -90px; line-height: 26px; }
.recommend-articles.part .more img { width: 26px; height: 26px; position: relative; bottom: -8px; left: -4px; margin: 0 6px; }
.recommend-articles.part li div { font-size: 12px; color: #9c9c9c; margin: .5em 0; }
.recommend-articles.part li a { text-decoration: none; color: #333; font-size: 17px; }
.recommend-articles.part li b { font-weight: normal; }
.recommend-articles.part li b:before { content: ""; background-image: url(../images/icon-msg.png); background-size: 9px 9px; width: 9px; height: 9px; margin: auto 10px; display: inline-block; }
.recommend-articles.part li i { font-style: normal; }
.recommend-articles.part li s { text-decoration: none; }
.recommend-articles.part li p { font-size: 14px; text-indent: 0; }
.recommend-articles.part .articles-list .column-name { color: #41c249; font-size: 11px; }
.recommend-articles.part .articles-list .title { font-size: 15px; }

.editor-article-list.part { margin-bottom: 0.25em; }
.editor-article-list.part h2.title { margin: 0; }
.editor-article-list.part li { position: relative; }
.editor-article-list.part li:not(:last-child):after { content: ""; position: absolute; height: 1px; bottom: 0; left: 0; right: 0; margin: 0 -16px; }
@media (-webkit-min-device-pixel-ratio: 2) { .editor-article-list.part li:not(:last-child):after { border-top: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .editor-article-list.part li:not(:last-child):after { border-top: 1px solid #e1e1e1; } }
.editor-article-list.part .article-item { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; padding: 1em 0em; }
.editor-article-list.part .article-item .img-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; margin: 0em 1em 0em 0em; }
.editor-article-list.part .article-item .detail { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; }
.editor-article-list.part .article-item h3 { font-size: 1em; color: rgba(0, 0, 0, 0.87); margin: 0; }
.editor-article-list.part .article-item .info { overflow: hidden; font-size: 0.75em; color: rgba(0, 0, 0, 0.54); }
.editor-article-list.part .article-item .info s, .editor-article-list.part .article-item .info i, .editor-article-list.part .article-item .info span { text-decoration: none; font-style: normal; }
.editor-article-list.part .article-item .info span { float: right; padding-left: 1.41667em; background: url(../images/icon-comment.png) no-repeat 0 center; background-size: 1em 1em; }
.editor-article-list.part .article-item .info i { padding-left: 0.33333em; }

.news-detail-ad.part { margin-bottom: 0.25em; }
.news-detail-ad.part:before { display: none; }
.news-detail-ad.part .ad-item { position: relative; }
.news-detail-ad.part .ad-item:before { content: ""; position: absolute; height: 1px; top: 0; left: 0; right: 0; margin: 0 -16px; }
@media (-webkit-min-device-pixel-ratio: 2) { .news-detail-ad.part .ad-item:before { border-top: none; background-image: -webkit-linear-gradient(-90deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-image: linear-gradient(180deg, transparent 0%, transparent 50%, #e1e1e1 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; } }
@media (-webkit-max-device-pixel-ratio: 1.99) { .news-detail-ad.part .ad-item:before { border-top: 1px solid #e1e1e1; } }
.news-detail-ad.part .ad-item-inner { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; padding: 1em 0em; }
.news-detail-ad.part .ad-item-inner .img-wrap { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; margin: 0em 1em 0em 0em; }
.news-detail-ad.part .ad-item-inner .detail { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -webkit-flex: 1; -moz-box-flex: 1; -moz-flex: 1; -ms-flex: 1; flex: 1; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; -moz-justify-content: space-between; justify-content: space-between; }
.news-detail-ad.part .ad-item-inner .title { font-size: 1em; color: rgba(0, 0, 0, 0.87); margin: 0; }
.news-detail-ad.part .ad-item-inner .info { overflow: hidden; font-size: 0.75em; margin: 0em 0em 0.25em 0em; color: rgba(0, 0, 0, 0.54); }
.news-detail-ad.part .ad-item-inner .info span { display: inline-block; padding: 0.16667em 0.33333em; line-height: 1; background-color: #cdcdcd; color: #fff; }

.top-button.part { height: 45px; margin-top: 25px; }

.thumb-beat { background-size: 12px 12px !important; -webkit-animation: beat 1s ease; }

.thumb { display: inline-block; position: relative; width: 20px; height: 20px; background: url(../images/icon-thumbup.png); }

@-webkit-keyframes beat { 0% { -webkit-transform: scale(1); }
  10% { -webkit-transform: scale(1.5); }
  100% { -webkit-transform: scale(1); } }
@-webkit-keyframes beat-rotate { 0% { -webkit-transform: scale(1); }
  10% { -webkit-transform: scale(1.3) rotate(15deg); }
  100% { -webkit-transform: scale(1); } }
@-webkit-keyframes music-play { 0% { background-position: 0 0; }
  25% { background-position: -24px 0; }
  50% { background-position: -48px 0; }
  75% { background-position: -72px 0; }
  100% { background-position: -96px 0; } }
@-webkit-keyframes loading { 0% { -webkit-transform: rotate(0deg) translateZ(0); transform: rotate(0deg) translateZ(0); }
  100% { -webkit-transform: rotate(360deg) translateZ(0); transform: rotate(360deg) translateZ(0); } }
@keyframes loading { 0% { -webkit-transform: rotate(0deg) translateZ(0); transform: rotate(0deg) translateZ(0); }
  100% { -webkit-transform: rotate(360deg) translateZ(0); transform: rotate(360deg) translateZ(0); } }
.open-in-browser-tip { display: none; color: #3c3c3c; font-family: 'STHeiti','Microsoft Yahei', sans-serif; font-size: 14px; position: fixed; top: 0; right: 0; left: 0; border: 10px solid #f5f5f5; background: #F5F5F5; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); height: 35px; z-index: 12; }

.open-in-browser-tip a { width: 18px; height: 18px; background-size: 18px 18px; display: inline-block; position: absolute; right: 0; bottom: 0; }

.open-in-browser-tip a img { width: 18px; height: 18px; }

.open-in-browser-tip p { margin: 0; background: url(../images/arrow_.png) top right no-repeat; background-size: 28px 29px; margin-right: 18px; color: #39c743; line-height: 35px; margin-left: -10px; }

#mask { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: black; opacity: .3; display: none; z-index: 11; }

.download-button.part a { background: #39C743; color: #FFF; text-decoration: none; font-size: 14px; text-align: center; width: 100%; display: inline-block; line-height: 3em; border-radius: 3px; margin-top: 85px; }
