body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
q:before, q:after { content:''; }
abbr, acronym { border:0; }
body, button, input, select, textarea { font:12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif; }
.clearfix:after { visibility:hidden; clear:both; content:""; height:0; display:block; }
.clearfix { zoom:1 }
body {background:#fff }
#wrap { width:540px; height:562px; position:relative; overflow:hidden; margin:0 auto; border:1px solid #ccc; }
#wbox ul li { float:left;  text-align:center; overflow:hidden; margin-left:4px; background:#fff; cursor:pointer;margin-top:4px; }
#wbox ul li img { width:70px; height:70px; margin-top:7px; }
#wbox ul a{ display:block; border:1px solid #ececec;width:83px; height:83px; overflow:hidden; }
#wbox ul a:hover{ border:1px solid red;}
#wbox ul h3{ margin:5px 0 10px; color:#646464}
#wbox #imglist { position:relative; top:26px; width:538px; height:468px; margin-left:1px; overflow:hidden; float:left; }
#wbox #imglist ul { position:absolute; z-index:2; }
#wrap #wbox { width:5000px; position:relative; margin-top:5px }
#wrap #con { position:relative; float:left; height:600px; width:540px; }
#bigimg { height:auto; text-align:center }
#leftinfo { }
.btitle { color:#717171; padding-left:10px;background: url("bita_pic.jpg") repeat-x top right; height:35px; line-height:35px;}
.btitle h3{ font-size:14px; font-weight:bold; float:left}
.btitle a{ display:block; float:right; padding-right:10px; text-decoration:none; color:#afafaf;}
#infobox{ height:auto; overflow:auto; padding:0 10px;}
#leftinfo p { margin:10px 0px; line-height:20px; text-indent:20px; color:#646464}
#showtitle { position:absolute; width:93px; height:93px; background:#acd598; display:none; z-index:1; }
#showtext { position:absolute; z-index:99; background:#acd598; line-height:30px; text-align:center; width:93px; height:30px; display:none; }
#nav ul li { float:left; background: #F5F7F9; border-bottom: 1px solid #D1DDEA; border-right: 1px solid #D1DDEA; color: #164A84; cursor: pointer; height: 28px; text-align: center; width:59px; line-height:28px }
.nav ul li span { background: url("bita_pic.jpg") no-repeat; display: block; height: 16px; line-height: 15px; margin: 5px auto; padding-left: 27px; width: 24px; }
#cnzz span { background-position: -166px -70px }
#de span { background-position: -166px -86px; }
#yi span { background-position: -166px -182px; }
#en span { background-position: -166px -166px; }
#fa span { background-position: -166px -150px; }
#me span { background-position: -166px -118px; }
#ri span { background-position: -166px -102px; }
#ha span { background-position: -166px -134px; }
#qi span { border-right: medium none; padding: 0 5px; }
#nav ul li.cur { background: #fff; border-bottom: 1px solid #fff; }
#next {  background:url(bita_pic.jpg) -93px -159px no-repeat; width:48px; height:24px; text-indent:-9999px;margin:0 auto; position:absolute; top:497px; z-index:999; left:250px; cursor:pointer; text-align:center }
#prev { background:url(bita_pic.jpg) -31px -132px no-repeat; width:48px; height:24px; text-indent:-9999px; margin:0 auto; position:absolute; top:0px; left:250px; cursor:pointer; text-align:center }
#mes { position:absolute; top:34px; left:10px ; z-index:999}
#zzpp{ position:absolute; top:0px; left:70px; height:25px; width:57px;text-indent:-9999px;background:url(bita_pic.jpg) -93px -67px no-repeat; cursor:pointer}
#zzpp.nom{ position:absolute; top:0px; left:70px; height:25px; width:57px;text-indent:-9999px;background:url(bita_pic.jpg) -27px -67px no-repeat; cursor:pointer}
#hzpp.cur{ position:absolute; top:0px; left:420px; height:25px; width:57px;text-indent:-9999px;background:url(bita_pic.jpg) -93px -99px no-repeat; cursor:pointer}
#hzpp{ position:absolute; top:0px; left:420px; height:25px; width:57px;text-indent:-9999px;background:url(bita_pic.jpg) -27px -99px no-repeat; cursor:pointer}
#goback{background:url(bita_pic.jpg) -28px -36px no-repeat; height:30px; width:80px; margin:10px auto; text-align:center; color:#fff; line-height:30px; font-size:14px; cursor:pointer}
#error{ display:none}
#cont{ position:absolute; top:500px; left:10px; color:#ccc;}