*{padding:0px;margin:0px;font-family:Arial;/*color:#fff;*/font-size:14px;/*background-color:transparent;*//*-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);*/}
body{padding:0px;margin:1px 0px 0px 0px;font-family:Arial;color:#000;font-size:14px;}
table{border-spacing:0;}
#content{margin:0px auto;overflow:hidden;}
.centertext{text-align:center;}
h1{font-size:16px;}

.list_menu{border-top:solid 1px #ccc;}
.list_menu li{list-style-type: none;border-bottom:solid 1px #CCC;padding:10px 10px 14px 10px;overflow:hidden;}
.list_menu li i{width:40px;float:right;color:#888;font-style:normal;font-size:12px;}
.list_menu li span{display:inline-block;margin-left:15px;}

.number{
    display:inline-block;
    height:30px;
    width:20px;
    background:url("../images/clew.png") no-repeat -1px 8px;
    color:#000;
    font-weight:bold;
    font-style:normal;
    text-align:center;
    margin:-5px 0 0 2px;
    font-size:12px;
    position:absolute;
}
#tabcontent,.tabcontent{
    width: 100%;
    padding:5px;
    -webkit-box-sizing: border-box;
    clear:both;
}
.newsbtn{
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 0px 5px 0px 20px;
}
.modal_background, #modal_background{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index: 100;
}
.warning,.success{
    margin: 150px auto;
    width: 250px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 15px #888;
    padding: 10px 0px 10px 0px;
    z-index:150;
}
.warning{background:url("../images/warning.png") no-repeat 10px 12px rgba(0,0,0,0.8);}
.success{background:url("../images/correct.png") no-repeat 10px 12px rgba(0,0,0,0.8);}
.warning p,.success p{color:#eee;padding:5px 5px 5px 40px;}
.absolutely{position: absolute;}
.hidden{display:none}
.topleft{ top:0px; left: 6px; right: auto;}
.topright{ top:0px; right: 6px; left: auto;}
.right{float: right;}
.left{float:left;}
.fixedwidth{ width:100px;}

.prepage{position:absolute;left:-60px;}
.nextpage{position:absolute;right:-60px;}
.firstpage{position:absolute;left:5px;margin-top:5px;}
.lastpage{position:absolute;right:5px;margin-top:5px;}
.edit{background:url("../images/pencil.png") no-repeat right;}
.slide{background:url("../images/android_139/arrow.png") no-repeat right;}
.handshake{background:url("../images/handshake.png") no-repeat left}
.newphoto{background:url("../images/newphoto.png") no-repeat left;}
.newhp{background:url("../images/newhpbtn.png") no-repeat left;}
.newphotocmt{background:url("../images/newphotocmtbtn.png") no-repeat left;}
.newuser{background:url("../images/newuser.png") no-repeat left;}
h3{line-height:30px;padding-left:5px;}
input[type='text'],input[type='password']{
    color:#000;
    height:38px;
    -webkit-box-sizing: border-box;
}
textarea{
    color:#000;
    height:80px;
    -webkit-box-sizing: border-box;
}
.btn{
    -webkit-border-image: url("../images/android_143/btn.png") 7;
    border-width: 7px;
    -webkit-box-sizing: border-box;
    display: inline-block;
    text-align: center;
    height: 40px;
    line-height: 26px;
    color: #444;
    font-weight: normal;
    text-shadow: 0 0px 0px #CCC;
    padding:0 10px;
}
.info{
  font-size:12px;
  font-weight:normal;
  -webkit-border-image:none;
  -webkit-border-radius:8px;
  border:solid 1px #ccc;
  padding:0 8px;
}
.userbtn{
    text-decoration:none;
  font-size: 16px;
  color:#000;
  font-weight:bold;
}

.rc_tl{-webkit-border-top-left-radius:10px;}
.rc_tr{-webkit-border-top-right-radius:10px;}
.userframe{
    width:310px;
    -webkit-box-sizing: border-box;
    -webkit-border-radius:8px;
    -webkit-box-shadow: 0px 0px 5px #666;
    padding:5px;
    overflow:hidden;
    background-color:#eee;
    margin:10px 5px;
    position:absolute;
    border:solid 1px #ccc;
}
/*.weaken {color:#ACA39B;}*/
.userframe .close{float:right;background-color:white;-webkit-border-radius:10px;display:block;height:10px;width:10px;padding:5px;border:solid 1px #aaa;}
.flash{text-align:center;color:blue;width:95%;padding:10px 5px;-webkit-border-radius:8px;border:solid 1px #ccc;background-color: #fCf9D2;margin:5px auto;}
