/* CSS Document */
*{margin:0; padding:0;}
body {
	font-family:Verdana;
	color:#F6F6F6;
	line-height:150%;
	margin:0;
	padding:4px;
	background-color: #0E4879;
	font-size: 14px;
}
.blue {
	font-weight: normal;
	color: #00CCFF;
	text-decoration: none;
}
h2{font-size: 18px; text-align:center; line-height:30px;}
dt {
	font-size: 14px;
	font-weight: bold;
}
dd,p{margin:0 0 20px 0;}
dd img{margin:5px auto; display:block;}
ul{list-style:none;}
.t_bold{font-weight:bold;}
.yellow {color: #FFFF00}
a.a_blue{color: #00CCFF;; text-decoration:underline;}
.t_ind2{text-indent:2em;}
