
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	margin-bottom: 20px;
	padding: 20px;
	background: #A9C3CE url(gfx/bg1.jnn) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #4260AA;
}

h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #4E6FAF;
}

h1 { font-size: 28px; }

h2 { font-size: 24px; }

h3 { font-size: 20px;}

p, ul, ol, {
	margin-top: 10px;
	line-height: 150%;
	text-align: justify;
}

li a {
	font-size:20px;
	}

ul, ol { }

blockquote { }

a { color: #4E6FAF; }


a img {
	border: none;
}

.email {
	margin-left:3px;
	font-size: 24px;	
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}
