书讯<br>　　<br>　　系列名：身心整合<br>　　书名：妈妈的佛法书之育儿篇<br>　　作者：〔澳大利亚〕萨拉·娜塔莉著　<br>　　译者：潘曙光？译<br>　　出版：译林出版社　2012。7<br>　　书号：978-7-5447-2801-0<br>　　定价：28。00元<br>　　分类：心灵励志　人生哲学　亲子<br>　　首本以佛法角度关注育儿领域，佛法智慧融入母性，让现代社会压力巨大的妈妈们更快乐、更平静。<br>　　孩子是妈妈最好的上师，育儿即是修行。<br>　　<br>　　<br><br>