div{margin:0px;padding:0px;}
.col-main {
	WIDTH: 300px
}
.col-sub {
	WIDTH: 235px
}
#about_tool {
	MARGIN-BOTTOM: 5px
}
.safe-day-box {
	margin:0px;
	padding:0px;
}
.sd-txt {
	LINE-HEIGHT: 1.4; WIDTH: 300px; FLOAT: right; COLOR: #666
}
.safe-day-tab {
	OVERFLOW-Y: auto; ZOOM: 1
}
.tab-box {
	WIDTH: 300px; FLOAT: left
}
.tab-box TABLE {
	BORDER-BOTTOM: #c0d9f2 1px solid; BORDER-LEFT: #c0d9f2 1px solid; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-TOP: #c0d9f2 1px solid; BORDER-RIGHT: #c0d9f2 1px solid
}
.tab-box TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1.4; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #afafaf; PADDING-TOP: 4px
}
.tab-box TD B {
	DISPLAY: block; COLOR: #000
}
.tab-box THEAD TH {
	BORDER-BOTTOM: #c0d9f2 1px solid; BACKGROUND: #f4fafe; HEIGHT: 25px
}
.tab-box TBODY TH {
	BORDER-BOTTOM: #d7d7d7 1px solid; WIDTH: 50px; HEIGHT: 25px
}
TH.rd {
	COLOR: #ac0000
}
TD.rd B {
	COLOR: #ac0000
}
.fd {
	BORDER-BOTTOM: #76baf5 1px solid; BORDER-LEFT: #76baf5 1px solid; MARGIN: -1px 5px; BACKGROUND: #d6edff; BORDER-TOP: #76baf5 1px solid; BORDER-RIGHT: #76baf5 1px solid
}
.safe-day-bot {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 14px/1.5 Verdana; CLEAR: both; PADDING-TOP: 10px
}
.safe-day-bot EM {
	MARGIN: 0px 5px -4px 10px; WIDTH: 19px; DISPLAY: inline-block; HEIGHT: 19px; OVERFLOW: hidden
}
.safe-day-bot I {
	FONT: 12px/1.5 Verdana; COLOR: #999
}
.calendar-pe {
	margin-top:5px;
	WIDTH: 300px;
}
.calendar-datail{margin-top:-10px;}
.calendar-datail SPAN {
	BORDER-BOTTOM: #eee 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #eee 1px solid; LINE-HEIGHT: 30px; WIDTH: 40px; FLOAT: left; HEIGHT: 30px; FONT-SIZE: 14px; BORDER-TOP: #eee 1px solid; BORDER-RIGHT: #eee 1px solid
}
.calendar-datail .safe {
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BACKGROUND: #009933; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid
}
.safe-day-bot .safe {
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BACKGROUND: #009933; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid
}
.calendar-datail .danger {
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BACKGROUND: #ff3300; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid
}
.safe-day-bot .danger {
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BACKGROUND: #ff3300; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid
}
.calendar-datail .month {
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BACKGROUND: #ffd86d; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid
}
.safe-day-bot .month {
	BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BACKGROUND: #ffd86d; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid
}
.calendar-pe h6 {
	margin-top:5px;
	BORDER-BOTTOM: #bbd6f1 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #bbd6f1 1px solid; BACKGROUND: #f4fafe; HEIGHT: 24px; FONT-SIZE: 14px; BORDER-TOP: #bbd6f1 1px solid; BORDER-RIGHT: #bbd6f1 1px solid; PADDING-TOP: 5px
}
.calendar-week {
	BORDER-LEFT: #eee 1px solid; DISPLAY: block; HEIGHT: 18px; BORDER-RIGHT: #eee 1px solid;text-align:left;margin-left:-35px;margin-top:-28px;
}
.calendar-pe .calendar-week LI {
	list-style-type:none;TEXT-ALIGN: center; LINE-HEIGHT: 18px; WIDTH: 40px; FLOAT: left; VERTICAL-ALIGN: middle;
}
.calendar-pe .other-day {
	COLOR: #ccc
}
.calendar-pe .calendar-datail SPAN.focus {
	BACKGROUND: #36c; COLOR: #fff
}

#surf {
	WIDTH: 710px; HEIGHT: 265px
}
#city_search FORM {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 20px
}
#city_search .text {
	WIDTH: 130px
}
#city_search P {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; HEIGHT: 72px; COLOR: #666; PADDING-TOP: 10px
}
#city_near TABLE {
	TEXT-ALIGN: center; WIDTH: 100%
}
#city_near TD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.low {
	COLOR: #4899be
}
.high {
	COLOR: #ff0000
}
#messages {
	POSITION: absolute; ZOOM: 1
}
#messages TABLE {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none
}
.month {
	BORDER-BOTTOM: #dfc200 1px solid; BORDER-LEFT: #dfc200 1px solid; BACKGROUND: #ffd86d; BORDER-TOP: #dfc200 1px solid; BORDER-RIGHT: #dfc200 1px solid
}
.safe {
	BORDER-BOTTOM: #a1dd69 1px solid; BORDER-LEFT: #a1dd69 1px solid; BACKGROUND: #009933; BORDER-TOP: #a1dd69 1px solid; BORDER-RIGHT: #a1dd69 1px solid
}
.danger {
	BORDER-BOTTOM: #fb9b8d 1px solid; BORDER-LEFT: #fb9b8d 1px solid; BACKGROUND: #FF0000; BORDER-TOP: #fb9b8d 1px solid; BORDER-RIGHT: #fb9b8d 1px solid
}
