BODY {
	MARGIN: 0px auto; FONT: 12px/1.5em simsun,verdana,arial,"lucida grande",lucida,sans-serif; COLOR: #666666; paading: 0
}
.main {
	PADDING-BOTTOM: 10px; MARGIN: 5px;BACKGROUND: #fde3eb;width: 400px; 
}
.boxtb {
	BACKGROUND: #fff
}
.boxtb TABLE {
	BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-COLLAPSE: collapse; BORDER-TOP-STYLE: none; MARGIN-BOTTOM: 8px; BORDER-LEFT-STYLE: none
}
.boxtb TD {
	BORDER-BOTTOM: #f7b3cc 1px solid; BORDER-LEFT: #f7b3cc 1px solid; PADDING: 5px; BORDER-TOP: #f7b3cc 1px solid; BORDER-RIGHT: #f7b3cc 1px solid;
}
.boxtb TD  p{
	line-height:15px;
}
.ts {
	BORDER-BOTTOM: #f7b3cc 2px dashed; TEXT-ALIGN: left; BORDER-LEFT: #f7b3cc 2px dashed; PADDING-BOTTOM: 5px; LINE-HEIGHT: 13px; MARGIN: 0px;  BORDER-TOP: #f7b3cc 2px dashed; BORDER-RIGHT: #f7b3cc 2px dashed;padding:5px;
}
.ts SPAN {
	COLOR: #cc3366; FONT-WEIGHT: bold
}