*{padding:0px;margin:0px;font-family:Arial;/*color:#fff;*/font-size:14px;/*background-color:transparent;*//*-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0);*/}
body{padding:0px;margin:1px 0px 0px 0px;font-family:Arial;color:#000;font-size:14px;/*background-image:url("../images/android/androidbg.png");background-repeat: no-repeat;background-attachment:fixed;*/}
table{border-spacing:0;}
#content{margin:0px auto;overflow:hidden;}
.centertext{text-align:center;}
h1{font-size:16px;}
#tabs{height:40px;width:100%;padding:0px;background:url("../images/android/tabborder.png") bottom repeat-x;clear:both;overflow:hidden;}
/*#tabs .active{background-color:#EFEDE7;}*/
/*#tabs .active b{border-bottom:solid 3px #8FB400;color:#5a4d42;text-shadow:none;}*/
#tabs span{
    line-height:32px;
    height:32px;
    text-align:center;
    width:33%;
    display:block;
    float:left;
    background:url("../images/android/tabbg_1.png"),url("../images/android/tabbg_3.png"),url("../images/android/tabbg_2.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position:top left,top right,top center;
    background-color:#fff;
}
#tabs span[class="active"]{
    background:url("../images/android/tabbg_hover_1.png"),url("../images/android/tabbg_hover_3.png"),url("../images/android/tabbg_hover_2.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position:top left,top right,top center;
}
#tabs span[class="active"] b{
    color:#fff;
    text-shadow:0 1px 1px #000;
}
/*#tabs span:last-child,li img{float:right}*/
#tabs b{
    text-align:center;
    color:#E6E6E6;
    padding-bottom:0px;
    text-decoration:none;
    text-shadow:0 1px 1px #333333;
}

.number{
    display:inline-block;
    height:30px;
    width:20px;
    background:url("../images/clew.png") no-repeat -1px 8px;
    color:#000;
    font-weight:bold;
    font-style:normal;
    text-align:center;
    margin:-5px 0 0 2px;
    font-size:12px;
    position:absolute;
}
#tabcontent,.tabcontent{
    width: 100%;
    padding:5px;
    -webkit-box-sizing: border-box;
    clear:both;
}
.newsbtn{
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 0px 5px 0px 20px;
}
.modal_background, #modal_background{
    position:absolute;
    top:0;left:0;
    width:100%;
    height:100%;
    z-index: 100;
}
.warning,.success{
    margin: 150px auto;
    width: 250px;
    -webkit-border-radius: 8px;
    -webkit-box-shadow: 0px 0px 15px #888;
    padding: 10px 0px 10px 0px;
    z-index:150;
}
.warning{background:url("../images/warning.png") no-repeat 10px 12px rgba(0,0,0,0.8);}
.success{background:url("../images/correct.png") no-repeat 10px 12px rgba(0,0,0,0.8);}
.warning p,.success p{color:#eee;padding:5px 5px 5px 40px;}
.absolutely{position: absolute;}
.hidden{display:none}
.topleft{ top:0px; left: 6px; right: auto;}
.topright{ top:0px; right: 6px; left: auto;}
.right{float: right;}
.left{float:left;}
.fixedwidth{ width:100px;}
.pagenum{
    padding:0px 8px;
    margin:5px 55px;
    height:27px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: 27px;
    color:#fff;
    text-shadow:0 -1px 1px #000;
    font-weight:bold;
    -webkit-border-image:url("../images/android/page.png") 4 10 4 10;
    border-width: 4px 10px 4px 10px;
    white-space: nowrap;
    background-color:transparent;
    position:relative;
}
.prepage{position:absolute;left:-60px;}
.nextpage{position:absolute;right:-60px;}
.firstpage{position:absolute;left:5px;margin-top:5px;}
.lastpage{position:absolute;right:5px;margin-top:5px;}
ul{/*background-color: white;-webkit-border-radius: 8px;*/border-top:solid 1px #B3B3B3;}
li{list-style-type: none;border-bottom:solid 1px #E6E6E6;padding:10px 10px 14px 10px;/*color: #555;*/overflow:hidden;}
/*li:first-child{border:0;}*/
li i{width:40px;float:right;color:#888;font-style:normal;font-size:12px;}
li span{display:inline-block;margin-left:15px;}
.edit{background:url("../images/pencil.png") no-repeat right;}
.slide{background:url("../images/rightarrow.png") no-repeat right;}
.handshake{background:url("../images/handshake.png") no-repeat left}
.newphoto{background:url("../images/newphoto.png") no-repeat left;}
.newhp{background:url("../images/newhpbtn.png") no-repeat left;}
.newphotocmt{background:url("../images/newphotocmtbtn.png") no-repeat left;}
.newuser{background:url("../images/newuser.png") no-repeat left;}
h3{line-height:30px;padding-left:5px;}
input[type='text'],input[type='password']{
    color:#000;
    /*-webkit-border-image:url("../images/android/inputbg.png") 6 6 6 6;
	border-width: 6px 6px 6px 6px;*/
	height:38px;
	-webkit-box-sizing: border-box;
}
textarea{
    color:#000;
    /*-webkit-border-image:url("../images/android/textareabg.png") 6 7 6 7;
    border-width: 6px 7px 6px 7px;*/
    height:80px;
    -webkit-box-sizing: border-box;
}
.btn{
    padding:0px 3px;
    display:inline-block;
    height:31px;
    text-decoration: none;
	text-align: center;
	font-size: 14px;
	line-height: 31px;
	color:#000;
	font-weight:bold;
	-webkit-border-image:url("../images/android/btnbg.png") 3 4 3 4;
	border-width: 3px 4px 3px 4px;
	white-space: nowrap;
	background-color:transparent;
}
.greenbtn{
    padding:0px 3px;
    display:inline-block;
    height:30px;
    text-decoration: none;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	font-weight:bold;
	-webkit-border-image:url("../images/android/greenbtn.png") 4 6 4 6;
	border-width: 4px 6px 4px 6px;
	white-space: nowrap;
	background-color:transparent;
}
.greybtn{
    padding:0px 3px;
    display:inline-block;
    height:30px;
    text-decoration: none;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	font-weight:bold;
	-webkit-border-image:url("../images/android/greybtn.png") 4 6 4 6;
	border-width: 4px 6px 4px 6px;
	white-space: nowrap;
	background-color:transparent;
}
.orangebtn{
    padding:0px 3px;
    display:inline-block;
    height:30px;
    text-decoration: none;
	text-align: center;
	font-size: 16px;
	line-height: 30px;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	font-weight:bold;
	-webkit-border-image:url("../images/android/orangebtn.png") 4 6 4 6;
	border-width: 4px 6px 4px 6px;
	white-space: nowrap;
	background-color:transparent;
}
/*a[class="btn"]:hover{
    -webkit-border-image:url("../images/android/btnbg_hover.png") 3 4 3 4;
	border-width: 3px 4px 3px 4px;
}*/
.info{
	font-size:12px;
	font-weight:normal;
	-webkit-border-image:none;
	-webkit-border-radius:8px;
	border:solid 1px #ccc;
	padding:0 8px;
}
.userbtn{
    text-decoration:none;
	font-size: 16px;
	color:#000;
	font-weight:bold;
}
/*.back{
	-webkit-border-image:url("../images/backbtnbg.png") 3 11 3 21;
	border-width: 3px 11px 3px 21px;
}
.fwd{
    -webkit-border-image:url("../images/nextbtnbg.png") 3 21 3 11;
	border-width: 3px 21px 3px 11px;
}*/
.back{
    -webkit-border-image:url("../images/android/backbtn.png") 3 4 3 18;
	border-width: 3px 4px 3px 18px;
}
.fwd{
    -webkit-border-image:url("../images/android/fwdbtn.png") 3 22 3 4;
	border-width: 3px 22px 3px 4px;
}
.addbtn{
    -webkit-border-image:url("../images/android/addbtn.png") 3 11 3 25;
	border-width: 3px 11px 3px 25px;
}
.pmailbtn{
    -webkit-border-image:url("../images/android/pmailbtn.png") 3 11 3 25;
	border-width: 3px 11px 3px 25px;
}
.chatbtn{
    -webkit-border-image:url("../images/chatbtn.png") 3 11 3 25;
	border-width: 3px 11px 3px 25px;
}
.replybtn{
    -webkit-border-image:url("../images/android/replybtn.png") 3 4 3 22;
	border-width: 3px 4px 3px 22px;
}
.sendmailbtn{
    -webkit-border-image:url("../images/android/mailbtn.png") 3 11 3 25;
	border-width: 3px 11px 3px 25px;
}
.changehpbtn{
    -webkit-border-image:url("../images/changehp.png") 3 11 3 25;
	border-width: 3px 11px 3px 25px;
}
.editbtn{
    -webkit-border-image:url("../images/android/edit_btn.png") 3 4 3 22;
	border-width: 3px 4px 3px 22px;
}
.editbtn_hover{
    -webkit-border-image:url("../images/android/edit_btn_hover.png") 3 4 3 22;
	border-width: 3px 4px 3px 22px;
}
.cmtbtn{
    -webkit-border-image:url("../images/android/cmtbtn.png") 3 4 3 22;
	border-width: 3px 4px 3px 22px;
}
/*.editbtn_hover{
    -webkit-border-image:none;
	-webkit-border-radius: 8px;
	margin:1px;
	border:solid 2px #aaa;
	padding: 0 8px 0 22px;
	background:#E8EEF7 url("../images/gear.png") no-repeat 4px;
}*/
.delbtn{
    -webkit-border-image:url("../images/android/deletebtn.png") 3 4 3 22;
	border-width: 3px 4px 3px 22px;
}
.savetoalbumbtn{
    -webkit-border-image:url("../images/savetoalbum.png") 3 11 3 25;
	border-width: 3px 11px 3px 25px;
}
.savetophonebtn{
    -webkit-border-image:url("../images/android/sav2phonebtn.png") 3 4 3 22;
	border-width: 3px 4px 3px 22px;
}
.rc_tl{-webkit-border-top-left-radius:10px;}
.rc_tr{-webkit-border-top-right-radius:10px;}
.userframe{
    width:310px;
    -webkit-box-sizing: border-box;
    -webkit-border-radius:8px;
    -webkit-box-shadow: 0px 0px 5px #666;
    padding:5px;
    overflow:hidden;
    background-color:#eee;
    margin:10px 5px;
    position:absolute;
    border:solid 1px #ccc;
}
/*.weaken {color:#ACA39B;}*/
.userframe .close{float:right;background-color:white;-webkit-border-radius:10px;display:block;height:10px;width:10px;padding:5px;border:solid 1px #aaa;}
/*.flash{text-align:center;color:blue;width:95%;padding:10px 5px;-webkit-border-radius:8px;border:solid 1px #ccc;background-color: #fCf9D2;margin:5px auto;}*/