<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GIF详情页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link href="styles/common.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="scripts/libs/zepto.js"></script>
    <script type="text/javascript" src="scripts/libs/fastclick.js"></script>
    <script type="text/javascript" src="scripts/libs/fx.js"></script>
    <script type="text/javascript" src="scripts/libs/touch.js"></script>
    <script type="text/javascript" src="scripts/libs/selector.js"></script>
    <script type="text/javascript" src="scripts/libs/ejs.js"></script>
    <script type="text/javascript" src="scripts/utils.js"></script>

    
<!--templates/article.html-->
<script id="article-tmpl" type="text/html">
<section class="article part" data-name="正文">
				{% if(typeof title != 'undefined'){ %}
					<h1>{%=title%}</h1>
				{% } %}

				{% if(typeof editor_name != 'undefined') { %}
					{% // 有小编信息 %}
					<div class="editor-info">
						{% if(time) { %}<time>{%=time%}</time> {%}%}
						<img class="editor-avatar" src="{%=editor_pic%}" width="42" height="42" />
						<div class="editor-name">{%=editor_name%}</div>
						{% if(locals.editor_desc) { %}
							<div class="editor-desc">{%=editor_desc%}</div>
						{% } %}
					</div>
				{% } else { %}
					{% if(typeof source != 'undefined'){ %}
						<div class="article-info">
							{% if(source) { %}<cite class="source">{%=source%}</cite>{% } %}
							{% if(time) { %}<time>{%=time%}</time> {%}%}
							<span class="readCount" data-fmt="{0} 阅读" style="display:none;"></span>
						</div>
					{% } %}
				{% } %}

				{% //正文内容 %}
				{% var contentLen = content.length, openTag = false; %}
				{% content.forEach(function(d, i){ %}

					{% /* 2014-12-04 看点2.0.1，对于文本和图片实现自动分块处理 */ %}
					{% if (openTag && d.type != 'txt' && d.type != 'img') { %}
						{% openTag = false; %}
						</div>
					{% } else if (!openTag && (d.type == 'txt' || d.type == 'img')) { %}
						{% openTag = true; %}
						<div class="block mod">
					{% } %}
					
					{%  if(d.type == 'txt' && d.value){  -%}
						{% if(d.noPTag){ %}
							{%-d.value%}
						{% }else{ %}
							<p class="{%=d.cssClass%}">{%-d.value%}</p>
						{% } %}
					{%  } else if(d.type == 'img'){  -%}
						<div class="photo-mod">
							<div class="photo-wrap">
								<img class="photo lazy native-call" data-native="news.showFullImage" 
								data-param1="{%=d.originalValue%}" 
								data-src="{%=d.value%}" 
								width="{%=d.width%}" 
								height="{%=d.height%}"/>
							</div>
							{% if(d.title) { %}
							<div class="photo-desc {% if(d.descAlignCenter) { %}center{% } %}">{%= d.title %}</div>
							{% } %}
						</div>
					{%  } else if(d.type == 'html'){  -%}
						{%-d.value%}
					{%  } -%}
					
					{% if (i === contentLen - 1 && openTag && (d.type == 'txt' || d.type == 'img')) { %}
						{% openTag = false; %}
						</div>
					{% } %}
				{% }); -%}

				{% // 声明 %}
				{% if(locals.origin) { %}
				<div class="center px12 declare">
					文章内容由搜索引擎自动发现并源于第三方网站，
					不代表看点的立场和观点。如有版权问题，请<a href="http://www.so.com/help/help_right.html">联系我们</a>
				</div>
				{% } %}

				{% //标签 %}
				{% // 2014-12-04 搜索标签需要调用app接口，所以，在wap版隐藏掉 %}
				{% if(!window.$wap && typeof tags != 'undefined' && tags.length > 0) { %}
				<div class="tags-wrap">
					<ul class="tags">
						{% tags.forEach(function(tag){ %}
						<li><a href="javascript:;" class="native-call" data-native="news.searchTag" data-param1="{%=tag%}">{%=tag%}</a></li>
						{% }); %}
					</ul>
				</div>
				{% } %}

				{% //查看原文 %}
				{% if(locals.origin) { %}
					<div class="view-original-article">
						<a class="cross-column-button" href="{%=origin%}">查看原文</a>
					</div>
				{% } %}
			</section>
</script>
    
<!--templates/vote-simple.html-->
<script id="vote-simple-tmpl" type="text/html">
<section class="vote-simple part">
				<ul class="{%= hasPageButton && 'has-page-btn' %}">
					<li>
					{% if(typeof dingType != 'undefined' && dingType === 1) { %}
					<a class="thumb up native-call selected0 tapped" data-native="news.digg" href="javascript:;">
						<img src="images/icon-thumbup-active.png" />
						<span>{%=digg%}</span>
					</a>
					{% } else { %}
					<a class="thumb up native-call {% if(dingType != 0){ %}tapped{% } %}" data-native="news.digg" href="javascript:;">
						<img src="images/icon-thumbup.png" />
						<span>{%=digg%}</span>
					</a>
					{% } %}
					</li>
					<li>
					{% if(typeof dingType != 'undefined' && dingType === 2) { %}
					<a class="thumb down native-call selected0 tapped" data-native="news.bury" href="javascript:;">
						<img src="images/icon-thumbdown-active.png" />
						<span>{%=bury%}</span>
					</a>
					{% } else { %}
					<a class="thumb down native-call {% if(dingType != 0){ %}tapped{% } %}" data-native="news.bury" href="javascript:;">
						<img src="images/icon-thumbdown.png" />
						<span>{%=bury%}</span>
					</a>
					{% } %}
					</li>
					{% if(hasPageButton){ %}
						<li><a class="button native-call" data-native="news.prev" href="javascript:;">上一篇</a></li>
						<li><a class="button native-call" data-native="news.next" href="javascript:;">下一篇</a></li>
					{% } %}
				</ul>
			</section>
</script>
</head>

<body>
    <div class="wrapper gif">
        <section class="top-button part" style="direction:rtl;">
            <a href="javascript:;" class="circle-button native-call" data-native="news.showComments">评论</a>
            <a href="javascript:;" class="drip">
                <span style="line-height:37px;">GIF</span>
            </a>
        </section>
    </div>

    <script type="text/javascript" src="scripts/contentRender.js"></script>
    <script type="text/javascript" src="scripts/nativeApi.js"></script>
    
    
    
    
    
    
</body>

</html>
