<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="http://p0.qhimg.com/d/inn/731a323c/48.png">
    
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link href="styles/common.css" type="text/css" rel="stylesheet">
    
    
    

    <script type="text/javascript" src="scripts/libs/zepto.js"></script>
    <script type="text/javascript" src="scripts/libs/fastclick.js"></script>
    <script type="text/javascript" src="scripts/libs/fx.js"></script>
    <script type="text/javascript" src="scripts/libs/slidefx.js"></script>
    <script type="text/javascript" src="scripts/libs/touch.js"></script>
    <script type="text/javascript" src="scripts/libs/selector.js"></script>
    <script type="text/javascript" src="scripts/libs/iscroll.js"></script>
    <script type="text/javascript" src="scripts/libs/ejs.js"></script>
    
    <script type="text/javascript" src="scripts/utils.js"></script>

    <!-- third party sections -->
    
<!--templates/third-party-zhushou.html-->
<script id="third-party-zhushou-tmpl" type="text/html">

                <a href="javascript:;" class="more" data-content="点击展开全文"></a>
                <div class="item item-kandian app-item" data-sid="{%=kandian.soft_id%}" data-pname="{%=kandian.apkid%}">
                    <img src="images/logo_84x84.png" class="app-logo">
                    <button class="app-btn btn_download js-app-btn" data-app="{%=kandian.name%}">立即下载</button>
                    <div class="app-info">
                        <h3 class="app-name">{%=kandian.name || '看点'%}</h3>
                        <p class="app-brief">我就是好看，下载看点看热点</p>
                    </div>
                </div>
                {% if(data.length) { %}
                    <div class="recommend-apps">
                        <div class="recommend-slogan">
                            <h2 class="recommend-name">爱{%=kandian.name || '看点'%}的人也喜欢这些</h2>
                            <p class="recommend-brief">{%= locals.brief || '冷空气逼近，小编对好玩好用的软件的热情可冷不下来！专注于挖掘及引爆新酷应用' %}</p>
                        </div>
                        <ul class="item-wrap">
                            {% data.forEach(function(item){ %}
                            <li class="item app-item" data-sid="{%=item.soft_id%}" data-pname="{%=item.apkid%}" data-size="{%=item.size%}">
                                <img src="{%=item.logo_url%}" class="app-logo">
                                <h3 class="app-name">{%=item.name%}</h3>
                                <button class="app-btn btn_download js-app-btn" data-app="{%=item.name%}">下载</button>
                                <p class="app-brief">{%=item.brief%}</p>
                            </li>
                            {% }); %}
                        </ul>
                    </div>
                {% } %}
            
</script>

    <!-- extended sections -->
    
<!--templates/article.html-->
<script id="article-tmpl" type="text/html">
<section class="article part" data-name="正文">
				{% if(typeof title != 'undefined'){ %}
					<h1>{%=title%}</h1>
				{% } %}

				{% if(typeof editor_name != 'undefined') { %}
					{% // 有小编信息 %}
					<div class="editor-info">
						{% if(time) { %}<time>{%=time%}</time> {%}%}
						<img class="editor-avatar" src="{%=editor_pic%}" width="42" height="42" />
						<div class="editor-name">{%=editor_name%}</div>
						{% if(locals.editor_desc) { %}
							<div class="editor-desc">{%=editor_desc%}</div>
						{% } %}
					</div>
				{% } else { %}
					{% if(typeof source != 'undefined'){ %}
						<div class="article-info">
							{% if(source) { %}<cite class="source">{%=source%}</cite>{% } %}
							{% if(time) { %}<time>{%=time%}</time> {%}%}
							<span class="readCount" data-fmt="{0} 阅读" style="display:none;"></span>
						</div>
					{% } %}
				{% } %}

				{% //正文内容 %}
				{% var contentLen = content.length, openTag = false; %}
				{% content.forEach(function(d, i){ %}

					{% /* 2014-12-04 看点2.0.1，对于文本和图片实现自动分块处理 */ %}
					{% if (openTag && d.type != 'txt' && d.type != 'img') { %}
						{% openTag = false; %}
						</div>
					{% } else if (!openTag && (d.type == 'txt' || d.type == 'img')) { %}
						{% openTag = true; %}
						<div class="block mod">
					{% } %}
					
					{%  if(d.type == 'txt' && d.value){  -%}
						{% if(d.noPTag){ %}
							{%-d.value%}
						{% }else{ %}
							<p class="{%=d.cssClass%}">{%-d.value%}</p>
						{% } %}
					{%  } else if(d.type == 'img'){  -%}
						<div class="photo-mod">
							<div class="photo-wrap">
								<img class="photo lazy native-call" data-native="news.showFullImage" 
								data-param1="{%=d.originalValue%}" 
								data-src="{%=d.value%}" 
								width="{%=d.width%}" 
								height="{%=d.height%}"/>
							</div>
							{% if(d.title) { %}
							<div class="photo-desc {% if(d.descAlignCenter) { %}center{% } %}">{%= d.title %}</div>
							{% } %}
						</div>
					{%  } else if(d.type == 'html'){  -%}
						{%-d.value%}
					{%  } -%}
					
					{% if (i === contentLen - 1 && openTag && (d.type == 'txt' || d.type == 'img')) { %}
						{% openTag = false; %}
						</div>
					{% } %}
				{% }); -%}

				{% // 声明 %}
				{% if(locals.origin) { %}
				<div class="center px12 declare">
					文章内容由搜索引擎自动发现并源于第三方网站，
					不代表看点的立场和观点。如有版权问题，请<a href="http://www.so.com/help/help_right.html">联系我们</a>
				</div>
				{% } %}

				{% //标签 %}
				{% // 2014-12-04 搜索标签需要调用app接口，所以，在wap版隐藏掉 %}
				{% if(!window.$wap && typeof tags != 'undefined' && tags.length > 0) { %}
				<div class="tags-wrap">
					<ul class="tags">
						{% tags.forEach(function(tag){ %}
						<li><a href="javascript:;" class="native-call" data-native="news.searchTag" data-param1="{%=tag%}">{%=tag%}</a></li>
						{% }); %}
					</ul>
				</div>
				{% } %}

				{% //查看原文 %}
				{% if(locals.origin) { %}
					<div class="view-original-article">
						<a class="cross-column-button" href="{%=origin%}">查看原文</a>
					</div>
				{% } %}
			</section>
</script>
    
<!--templates/timeline.html-->
<script id="timeline-tmpl" type="text/html">
<section class="timeline part" data-name="时间轴">
				<span class="timeline-clock"></span>
				<ul class="timeline">
					{% items.forEach(function(item){ %}
					<li>
						<a href="javascript:;" class="item">
							<div class="date"><span>{%=item.time%}</span></div>
							<span class="title">{%=item.title%}</span>
						</a>
						<p>
							{%=item.summary%}
							<a class="cross-column-button native-call" 
								style="text-indent:0;color:#b7b7b7;margin-top:7px;"
								data-native="timeline.showFullText" 
								data-param1="{%=item.url%}" 
								href="javascript:;">
								查看详情
							</a>
						</p>
					</li>
					{% }); %}
				</ul>
			</section>
</script>
    
<!--templates/recommend-articles.html-->
<script id="recommend-articles-tmpl" type="text/html">
<section class="recommend-articles part" data-name="推荐" {% if(style){ %}style="{%=style%}"{% } %}>
				<a class="more" href="javascript:;">
					<span><img src="images/icon-more-related-news-anchor.png" />再看点儿同类内容</span>
				</a>
				<ul class="articles-list">
					{% related.forEach(function(item){ %}
					<li class="native-call" data-native="related.viewRelatedArticel" data-param1="{%=item.url%}">
						{% if(item.lanmu) { %}
						<div class="column-name">{%=item.lanmu%}</div>
						{% } %}
						<a class="title-link" href="javascript:;" data-href="{%=item.url%}">{%=item.title%}</a>
						<div>
							{% if (typeof item.source == 'string') { %}
								<s>{%=item.source%}</s>
							{% } %}

							{% if (typeof item.elapse == 'string') { %}
								 · <i>{%=item.elapse%}</i>
							{% } %}

							{% if (typeof item.commentsnum == 'number') { %}
								<b>{%=item.commentsnum%}</b>
							{% } %}

							{% if(item.paper){ %}
							有料 {% for(var i = 0; i < item.paper; ++i) { %}·{% } %}
							{% } %}
						</div>
						{% if(item.img){ %}
						<img class="photo lazy" data-src="{%=item.img%}" width="{%=item.width%}" height="{%=item.height%}" />
						{% } else if(item.summary){ %}
						<p>{%=item.summary%}</p>
						{% } %}
					</li>
					
					{% if(item.separator){ %}
					<li class="separator3"></li>
					{% } %}

					{% }); %}
				</ul>
			</section>
</script>
    
<!--templates/editor-article-list.html-->
<script id="editor-article-list-tmpl" type="text/html">
<section class="editor-article-list part" data-name="小编的更多作品">
				{% if(locals.length) { %}
				<h2 class="title">{%= locals[0].editor_name %}的更多作品</h2>
				<ul>
					{% locals.forEach(function(item){ %}
					<li class="native-call" data-native="related.viewEditorArticle" data-param1="{%=window.$wap ? item.h5url : item.url%}">
						<a class="article-item" href="javascript:;" data-href="{%=window.$wap ? item.h5url : item.url%}">
							{% if(item.img){ %}
							<div class="img-wrap">
								<img class="photo" src="{%=item.img%}" width="{%=item.width%}" height="{%=item.height%}" />
							</div>
							{% } %}
							<div class="detail">
								<h3>{%=item.title%}</h3>
								<div class="info">
									{% if (!isNaN(+item.cmt_cnt)) { %}
										<span>{%=item.cmt_cnt%}</span>
									{% } %}
									{% if (typeof item.source == 'string') { %}
										<s>{%=item.source%}</s>
									{% } %}

									{% if (typeof item.elapse == 'string') { %}
										<i>{%=item.elapse%}</i>
									{% } %}
								</div>
							</div>
						</a>
					</li>
					{% }); %}
				</ul>
				{% } %}
			</section>
</script>
    
<!--templates/share-buttons.html-->
<script id="share-buttons-tmpl" type="text/html">
<section class="share-buttons-wrap part" data-name="分享模块">
				<div class="share-buttons">
					<h2 class="title">分享</h2>
					<ul>
						<li class="button circle">
							<a class="native-call" href="javascript:;" data-native="news.share" data-param1="circle"><img src="images/share-circle.png" /></a>
							<span>朋友圈</span>
						</li>
						<li class="button weixin">
							<a class="native-call" href="javascript:;" data-native="news.share" data-param1="weixin"><img src="images/share-weixin.png"/></a>
							<span>微信</span>
						</li>
						{% if(typeof window.$_news != 'undefined'){ %}
						<li class="button weibo">
							<a class="native-call" href="javascript:;" data-native="news.share" data-param1="weibo"><img src="images/share-weibo.png" /></a>
							<span>微博</span>
						</li>
						{% } %}
					</ul>
				</div>
			</section>
</script>
    
<!--templates/comments.html-->
<script id="comments-tmpl" type="text/html">
<section class="comments part {% if(typeof more != 'undefined' && !window.$wap) { %} has-more {% } %}" data-name="评论">
				{% if(typeof title != 'undefined'){ %}
				<h2 class="title">{%=title%}</h2>
				{% } else { %}
				<h2 class="title">热门评论</h2>
				{% } %}

				{% if(_comments.length > 0){ //有评论%}
					<!-- comment-items-begin -->
					<ul class="comment-list">
						{% _comments.forEach(function(item){ %}
							{% if(!item.text || item.text.length == 0) return; %}
						<li>
							{% if(item.avatarUrl) {%}
							<img class="avatar" src="{%=item.avatarUrl%}" />
							{% } else { %}
							<img class="avatar" src="images/icon-default-avatar.png" />
							{% } %}
							<div class="info-text">
								<div class="info">
									<a class="thumbup native-call" href="javascript:;" data-native="news.likeThisComment" data-param1="{%=item.cid%}">
										<img src="images/icon-thumbup.png" />
									</a>
									<a class="thumbup-active" style="display:none;" href="javascript:;">
										<img src="images/icon-thumbup-active.png" />
									</a>
									<span class="liked">{%=item.liked%}</span>
									<span class="username">{%=item.username%}</span>
								</div>
								<div class="text">
									{%=item.text%}
								</div>
								<div class="time">
									{%=item.time%}
								</div>
							</div>
						</li>
						{% }); %}
					</ul>
					<!-- comment-items-end -->
				{% } else { //没有评论%}
					<ul class="comment-list" style="display:none;"></ul>
					<div class="no-comments native-call" data-native="news.comment">
						{% if(window.$wap) { %}
							还没评论呢...
						{% } else { %}
							还没评论呢，你来吧
						{% } %}
					</div>
				{% } %}

				{% if(typeof more != 'undefined' && !window.$wap){ %}
					<a class="more-comments native-call" 
					data-native="news.showComments"
					href="javascript:;">{%=more%}</a>
				{% } %}
			</section>
</script>
    

    <!-- templates of modules and parts that are inserted into article -->
    
<!--templates/article-mod-dajiasou.html-->
<script id="mod-dajiasou-tmpl" type="text/html">

				<div class="dajiasou mod{%if(typeof type != 'undefined' && type == 'normal'){ %} normal{% } %}">
				{%if(typeof type != 'undefined' && type == 'normal'){ %}
					<p>
						<strong>{%= title %}</strong>
						{%= content %}
					</p>
				{% } else { %}
					<h3><span>{%= title %}</span></h3>
					<ul>
						{% items.forEach(function(item) { %}
						<li>{%= item %}</li>
						{% }); %}
					</ul>
				{% } %}
				</div>
			
</script>
    
<!--templates/article-mod-kandian.html-->
<script id="mod-kandian-tmpl" type="text/html">

				<div class="kandian mod">
					<h2>
						{% if (sequence) { %}<div class="sequence">{%= sequence %}</div>{% } %}
						<span class="title">{%= title %}</span>
						{% if (desc) { %}<div class="desc"><span>{%= desc %}%</span><div>的人搜过</div></div>{% } %}
					</h2>
					{% if (imgurl) { %}
						<img src="{%= imgurl %}">
					{% } %}
					<p class="summary">{%- summary %} {% if (url) { %}<a href="{%= url %}" target="_blank">详情</a>{% } %}</p>
					{% if (items && items.length > 0) { %}
						<h1 class="ex-news-title">相关新闻</h1>
						<ul class="ex-news">
							{% for (var i = 0; i < items.length; ++i) { %}
								{% var item = items[i]; %}
								<li>
									{% if (item.imgurl) { %}
										<img src="{%= item.imgurl %}" class="media-right">
									{% } %}
									<a href="{%= item.url %}" class="media-body">
										<h4 class="media-heading">
											{%= item.title %}
											{% if (item.rank == 'recommend') { %}
												<span class="key recommend">荐</span>
											{% } else if (item.rank == 'hot') { %}
												<span class="key hot">热</span>
											{% } %}
										</h4>
										{% if (item.src) { %}<div class="source">{%= item.src %}</div>{% } %}
								    </a>
								</li>
							{% }; %}
						</ul>
					{% } %}
				</div>
			
</script>
    
<!--templates/article-mod-gallery.html-->
<script id="mod-gallery-tmpl" type="text/html">

				<div class="gallery mod">
					{% items.forEach(function(item){ %}
					<div class="gallery-wrap">
						<div class="cont gallery relative" data-itemperpage="{%=item.itemPerPage%}" data-trans-url="{%=item.transUrl%}" data-allqimg="{%=item.allqimg%}">
							<div class="scroller" style="width:{%=item.scrollerWidth%}px">
								{% item.items.forEach(function(url, i){ %}<a href="javascript:;" 
									{% if(!window.$wap){ %}
									class="native-call relative" 
									data-param1="{%=item.originalPhotos[i]%}"
									data-param2="{%=item.data%}"
									data-native="photo.showFullImage"
									{% } %}
									data-mfp-src="{%=item.originalPhotos[i]%}">{% if(!window.$pc && i == item.items.length - 1 && item.allqimg > item.items.length){ %}<span class="gallery-more" style="width:{%=item.imgWidth%}px;line-height:{%=item.imgHeight%}px;">查看剩余{%=(item.allqimg - item.items.length)%}张</span>{% } %}<img class="lazy" data-src="{%=url%}" width="{%=item.imgWidth%}" height="{%=item.imgHeight%}"/></a>
								{% }); %}
							</div>
						</div>
						<h3><span>多图</span><span>{%=item.title|| ' '%}</span></h3>
					</div>
					{% }); %}
				</div>
			
</script>
    
<!--templates/article-mod-music.html-->
<script id="mod-music-tmpl" type="text/html">

				{% if(!window.$wap){ %}
				<div class="music mod">
					{% items.forEach(function(music){ %}
					<div class="title">
						<a id="{%=music.music_id%}" class="mp3audio play-button stop" data-music="{%=music.url%}" data-musicid="{%=music.music_id%}" href="javascript:;">
						</a>
						<span class="song">{%=music.title%}</span>
					</div>
					{% }); %}
				</div>
				{% } %}
			
</script>
    
<!--templates/article-mod-weibo.html-->
<script id="mod-weibo-tmpl" type="text/html">

				<div class="weibo mod">
					<span class="mod-flag">{%=title%}</span>
					{% items.forEach(function(weibo){ %}
					<div class="weibo-item">
						<div class="weibo-info pseudo-a" data-href="{%=weibo.src%}">
							<img class="avatar lazy" data-src="{%=weibo.user_avatar%}" width="40" height="40"/>
							<a href="javascript:void(0);" class="username">{%=weibo.user_name%}</a>
							<div class="date">{%=weibo.date%}</div>
						</div>
						<a href="{%=weibo.src%}">
							<cite>
								{%=weibo.text%}
								{% if(weibo.hasPic){ %}<img src="images/icon-weibo-pic.png" class="vam" width="14" height="12"/>{% } %}
								{% if(weibo.hasVid){ %}<img src="images/icon-weibo-vid.png" class="vam" width="14" height="12"/>{% } %}
							</cite>
						</a>
						{% if(typeof weibo.photos != 'undefined' && weibo.photos.length > 0){ %}
						<div class="cont gallery pseudo-a relative" data-href="{%=weibo.src%}" data-itemperpage="{%=weibo.itemPerPage%}">
							<div class="scroller" style="width:{%=weibo.scrollerWidth%}px">
								{% weibo.photos.forEach(function(url,i){ %}
								<a href="javascript:;" 
									class="native-call"
									data-native="photo.showFullImage" 
									data-param1="{%=weibo.originalPhotos[i]%}"
									data-param2="{%=weibo.data%}"
									data-mfp-src="{%=weibo.originalPhotos[i]%}">
									<img class="lazy" data-src="{%=url%}" width="{%=imgWidth%}" height="{%=imgHeight%}"/>
								</a>
								{% }); %}
							</div>
						</div>
						{% } %}
						<div class="stat"><span>转发 {%=weibo.reposts_count%}</span><span>评论 {%=weibo.comments_count%}</span></div>
					</div>
					{% }); %}
				</div>
			
</script>
    
<!--templates/article-mod-wiki.html-->
<script id="mod-wiki-tmpl" type="text/html">

				<div class="wiki mod">
					<span class="mod-flag">{%= title %}</span>
					<ul>
						{% items.forEach(function(item){ %}
						<li class="clearfix" title="{%=item.rawSummary%}">
							<a href="{%=item.url%}">
								<h4>{%=item.title%}</h4>	
								{% if(item.imgurl){ %}
									<img class="lazy" data-src="{%=item.imgurl%}" width="62" height="65"/>
								{% } %}
								{%=item.summary%}
							</a>
						</li>
						{% }); %}
					</ul>
				</div>
			
</script>
    
<!--templates/article-mod-video.html-->
<script id="mod-video-tmpl" type="text/html">

				<div class="video mod">
					{% items.forEach(function(item){ %}
						<div class="photo" height="{%=h%}" width="{%=w%}">
							<a href="javascript:;" data-url="{%=item.url%}" 
								class="native-call"
								style="position:relative;display:block;" 
								data-native="video.play" 
								data-param1="{%=item.url%}">
								<img class="snapshot lazy" data-src="{%=item.imgurl%}" width="{%=w%}" height="{%=h%}"/>
								<img class="play" src="images/icon-video-play.png" />
							</a>
						</div>
						<h4>{%=item.title%}</h4>
					{% }); %}
				</div>
			
</script>
    
<!--templates/article-mod-further-reading.html-->
<script id="mod-further-reading-tmpl" type="text/html">

				<div class="further-reading mod">
					<h1>{%=title%}</h1>
					<div class="bottom-line"></div>
					<div class="cont">					
						<div class="scroller" style="width:{%=scrollerWidth%}px">
							{% items.forEach(function(item){ %}
							<a href="{%=item.url%}" style="width:{%=itemWidth%}px">
								<h4>{%=item.title%}</h4>
								<span>{%=item.summary%}</span>
							</a>
							{% }); %}
						</div>
						{% if(items.length > 1){ %}
						<div class="dots-indicator">
							{% items.forEach(function(item, i ){ %}
								{% if(i == 0){ %}
									<i class="current"></i>
								{% } else { %}
									<i></i>
								{% } %}
							{% }); -%}
						</div>
						{% } %}
					</div>
				</div>
				
			
</script>
    
<!--templates/article-mod-blockquote.html-->
<script id="mod-blockquote-tmpl" type="text/html">

				<div class="blockquote mod {% if(locals._editorData) { %}has-editor{% } %}">
					{% if(locals._editorData) { %}
					<div class="editor-info">
						<img class="editor-avatar" src="{%=_editorData.editor_pic%}" width="42" height="42" />
						<div class="editor-name">{%=_editorData.editor_name%}</div>
						{% if(_editorData.editor_desc) { %}
							<div class="editor-desc">{%=_editorData.editor_desc%}</div>
						{% } %}
					</div>
					{% } %}
					<p>{%=content%}</p>
				</div>
			
</script>

    
<!--templates/article-part-editor-comment.html-->
<script id="part-editor-comment-tmpl" type="text/html">

				<div class="editor-comment">
					<h1>{%=title%}</h1>
					<cite>{%=content%}</cite>
				</div>
			
</script>
    
<!--templates/article-part-n-slash-total.html-->
<script id="part-n-slash-total-tmpl" type="text/html">

				<div class="n-slash-total">
					<div class="line"></div>
					<span><a>{%=n%}</a><b>/{%=total%}</b></span>
				</div>
			
</script>
    
<!--templates/article-part-headimg.html-->
<script id="part-headimg-tmpl" type="text/html">

				<div class="feature-head">
					<div class="relative headimg"><img src="{%=url%}"/><div class="gradient"></div><!-- <h1>{%=title%}</h1> --></div>
				</div>
			
</script>
</head>
<body>
    <div class="wrapper">
        
    </div>
    
    
    
    <!-- v2.1.4 移除轻互动表情，by zhangdaiping 2015-03-23
    <script wap type="text/html" nowrapper="true" src="templates/express-feeling-about-news.html"></script>
    -->
    <script type="text/javascript" src="scripts/contentRender.js"></script>
    <script type="text/javascript" src="scripts/nativeApi.js"></script>
    
    
    
    
    

    
    

</body>
</html>
