<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>普通新闻详情页</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta name="article-type" content="news">
    <link href="styles/common.css" type="text/css" rel="stylesheet">
    
    
    <script type="text/javascript" src="scripts/libs/zepto.js"></script>
    <script type="text/javascript" src="scripts/libs/fastclick.js"></script>
    <script type="text/javascript" src="scripts/libs/fx.js"></script>
    <script type="text/javascript" src="scripts/libs/slidefx.js"></script>
    <script type="text/javascript" src="scripts/libs/touch.js"></script>
    <script type="text/javascript" src="scripts/libs/selector.js"></script>
    <script type="text/javascript" src="scripts/libs/ejs.js"></script>
    <script type="text/javascript" src="scripts/utils.js"></script>
    
    
<!--templates/article.html-->
<script id="article-tmpl" type="text/html">
<section class="article part" data-name="正文">
				{% if(typeof title != 'undefined'){ %}
					<h1>{%=title%}</h1>
				{% } %}

				{% if(typeof editor_name != 'undefined') { %}
					{% // 有小编信息 %}
					<div class="editor-info">
						{% if(time) { %}<time>{%=time%}</time> {%}%}
						<img class="editor-avatar" src="{%=editor_pic%}" width="42" height="42" />
						<div class="editor-name">{%=editor_name%}</div>
						{% if(locals.editor_desc) { %}
							<div class="editor-desc">{%=editor_desc%}</div>
						{% } %}
					</div>
				{% } else { %}
					{% if(typeof source != 'undefined'){ %}
						<div class="article-info">
							{% if(source) { %}<cite class="source">{%=source%}</cite>{% } %}
							{% if(time) { %}<time>{%=time%}</time> {%}%}
							<span class="readCount" data-fmt="{0} 阅读" style="display:none;"></span>
						</div>
					{% } %}
				{% } %}

				{% //正文内容 %}
				{% var contentLen = content.length, openTag = false; %}
				{% content.forEach(function(d, i){ %}

					{% /* 2014-12-04 看点2.0.1，对于文本和图片实现自动分块处理 */ %}
					{% if (openTag && d.type != 'txt' && d.type != 'img') { %}
						{% openTag = false; %}
						</div>
					{% } else if (!openTag && (d.type == 'txt' || d.type == 'img')) { %}
						{% openTag = true; %}
						<div class="block mod">
					{% } %}
					
					{%  if(d.type == 'txt' && d.value){  -%}
						{% if(d.noPTag){ %}
							{%-d.value%}
						{% }else{ %}
							<p class="{%=d.cssClass%}">{%-d.value%}</p>
						{% } %}
					{%  } else if(d.type == 'img'){  -%}
						<div class="photo-mod">
							<div class="photo-wrap">
								<img class="photo lazy native-call" data-native="news.showFullImage" 
								data-param1="{%=d.originalValue%}" 
								data-src="{%=d.value%}" 
								width="{%=d.width%}" 
								height="{%=d.height%}"/>
							</div>
							{% if(d.title) { %}
							<div class="photo-desc {% if(d.descAlignCenter) { %}center{% } %}">{%= d.title %}</div>
							{% } %}
						</div>
					{%  } else if(d.type == 'html'){  -%}
						{%-d.value%}
					{%  } -%}
					
					{% if (i === contentLen - 1 && openTag && (d.type == 'txt' || d.type == 'img')) { %}
						{% openTag = false; %}
						</div>
					{% } %}
				{% }); -%}

				{% // 声明 %}
				{% if(locals.origin) { %}
				<div class="center px12 declare">
					文章内容由搜索引擎自动发现并源于第三方网站，
					不代表看点的立场和观点。如有版权问题，请<a href="http://www.so.com/help/help_right.html">联系我们</a>
				</div>
				{% } %}

				{% //标签 %}
				{% // 2014-12-04 搜索标签需要调用app接口，所以，在wap版隐藏掉 %}
				{% if(!window.$wap && typeof tags != 'undefined' && tags.length > 0) { %}
				<div class="tags-wrap">
					<ul class="tags">
						{% tags.forEach(function(tag){ %}
						<li><a href="javascript:;" class="native-call" data-native="news.searchTag" data-param1="{%=tag%}">{%=tag%}</a></li>
						{% }); %}
					</ul>
				</div>
				{% } %}

				{% //查看原文 %}
				{% if(locals.origin) { %}
					<div class="view-original-article">
						<a class="cross-column-button" href="{%=origin%}">查看原文</a>
					</div>
				{% } %}
			</section>
</script>
    
<!--templates/recommend-articles.html-->
<script id="recommend-articles-tmpl" type="text/html">
<section class="recommend-articles part" data-name="推荐" {% if(style){ %}style="{%=style%}"{% } %}>
				<a class="more" href="javascript:;">
					<span><img src="images/icon-more-related-news-anchor.png" />再看点儿同类内容</span>
				</a>
				<ul class="articles-list">
					{% related.forEach(function(item){ %}
					<li class="native-call" data-native="related.viewRelatedArticel" data-param1="{%=item.url%}">
						{% if(item.lanmu) { %}
						<div class="column-name">{%=item.lanmu%}</div>
						{% } %}
						<a class="title-link" href="javascript:;" data-href="{%=item.url%}">{%=item.title%}</a>
						<div>
							{% if (typeof item.source == 'string') { %}
								<s>{%=item.source%}</s>
							{% } %}

							{% if (typeof item.elapse == 'string') { %}
								 · <i>{%=item.elapse%}</i>
							{% } %}

							{% if (typeof item.commentsnum == 'number') { %}
								<b>{%=item.commentsnum%}</b>
							{% } %}

							{% if(item.paper){ %}
							有料 {% for(var i = 0; i < item.paper; ++i) { %}·{% } %}
							{% } %}
						</div>
						{% if(item.img){ %}
						<img class="photo lazy" data-src="{%=item.img%}" width="{%=item.width%}" height="{%=item.height%}" />
						{% } else if(item.summary){ %}
						<p>{%=item.summary%}</p>
						{% } %}
					</li>
					
					{% if(item.separator){ %}
					<li class="separator3"></li>
					{% } %}

					{% }); %}
				</ul>
			</section>
</script>
    
<!--templates/news-detail-ad.html-->
<script id="news-detail-ad-tmpl" type="text/html">
<section class="news-detail-ad part" data-name="mediav 广告">
				<ul>
				{% locals.forEach(function(item, k){ %}
					<li class="ad-item">
						<a class="ad-item-inner native-call" href="javascript:;" data-native="news.clickAd" data-param1="{%=k%}">
							{% if(item.contentimg){ %}
							<div class="img-wrap">
								<img class="photo" src="{%=item.contentimg%}" width="{%=item._imgWidth%}" height="{%=item._imgHeight%}" />
							</div>
							{% } %}
							<div class="detail">
								<h3 class="title">{%=item._title%}</h3>
								<div class="info">
									<span>推广</span>
								</div>
							</div>
						</a>
					</li>
				{% }); %}
				</ul>
			</section>
</script>
    
<!--templates/comments.html-->
<script id="comments-tmpl" type="text/html">
<section class="comments part {% if(typeof more != 'undefined' && !window.$wap) { %} has-more {% } %}" data-name="评论">
				{% if(typeof title != 'undefined'){ %}
				<h2 class="title">{%=title%}</h2>
				{% } else { %}
				<h2 class="title">热门评论</h2>
				{% } %}

				{% if(_comments.length > 0){ //有评论%}
					<!-- comment-items-begin -->
					<ul class="comment-list">
						{% _comments.forEach(function(item){ %}
							{% if(!item.text || item.text.length == 0) return; %}
						<li>
							{% if(item.avatarUrl) {%}
							<img class="avatar" src="{%=item.avatarUrl%}" />
							{% } else { %}
							<img class="avatar" src="images/icon-default-avatar.png" />
							{% } %}
							<div class="info-text">
								<div class="info">
									<a class="thumbup native-call" href="javascript:;" data-native="news.likeThisComment" data-param1="{%=item.cid%}">
										<img src="images/icon-thumbup.png" />
									</a>
									<a class="thumbup-active" style="display:none;" href="javascript:;">
										<img src="images/icon-thumbup-active.png" />
									</a>
									<span class="liked">{%=item.liked%}</span>
									<span class="username">{%=item.username%}</span>
								</div>
								<div class="text">
									{%=item.text%}
								</div>
								<div class="time">
									{%=item.time%}
								</div>
							</div>
						</li>
						{% }); %}
					</ul>
					<!-- comment-items-end -->
				{% } else { //没有评论%}
					<ul class="comment-list" style="display:none;"></ul>
					<div class="no-comments native-call" data-native="news.comment">
						{% if(window.$wap) { %}
							还没评论呢...
						{% } else { %}
							还没评论呢，你来吧
						{% } %}
					</div>
				{% } %}

				{% if(typeof more != 'undefined' && !window.$wap){ %}
					<a class="more-comments native-call" 
					data-native="news.showComments"
					href="javascript:;">{%=more%}</a>
				{% } %}
			</section>
</script>
</head>

<body>
    <div class="wrapper"></div>
    
    
    <script type="text/javascript" src="scripts/contentRender.js"></script>
    <script type="text/javascript" src="scripts/nativeApi.js"></script>
    
    

    
    
    
</body>

</html>
