<p>PLEASE READ THE TERMS AND CONDITIONS OF THIS LICENSE AND SERVICE AGREEMENT ("AGREEMENT") CAREFULLY BEFORE USING THE SOFTWARE AND SERVICE. THIS IS A LEGALLY BINDING CONTRACT BETWEEN YOU AND AVAST SOFTWARE a.s., A COMPANY DULY ORGANIZED AND EXISTING UNDER THE LAWS OF THE CZECH REPUBLIC, REGISTERED IN THE COMMERCIAL REGISTER MAINTAINED BY THE MUNICIPAL COURT IN PRAGUE IN SECTION B, INSERT NO. 11402, IDENTIFICATION NO. 276 36 917 ("AVAST"). BY ASSENTING ELECTRONICALLY, INSTALLING OR USING THE SOFTWARE OR SERVICES, YOU ACCEPT ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT.  If you do not agree with the terms and conditions of this Agreement, do not continue the installation/registration process and delete or destroy all copies of the Software in your possession.</p>

<p>This Agreement applies to users of (i) avast! MOBILE PREMIUM, (ii) avast! MOBILE SECURITY and (iii) avast! MOBILE BACKUP. The Agreement sets out the terms and conditions that apply when you use software (including any upgrades or updates) provided by AVAST, ("Software") or services (including any upgrades or updates) provided either by AVAST ("Services") or by its supplier. Any reference in this Agreement to (i) "free users" means users of avast! MOBILE SECURITY and of avast! MOBILE BACKUP (ii) "Documentation" means on-line explanatory information provided with the Software or Services, together with any information provided by Avast that lists the conditions subject to which you may use (or continue to use) the Software or Services. When using the Services, AVAST will save a copy of each file you designate as requiring storage. The saved files will be transferred over the internet to a server operated by AVAST or an affiliate or partner of AVAST. When this Agreement or Documentation refers to services provided by our supplier, it refers to services provided by Google Inc., a Delaware corporation, with offices at 1600 Amphitheatre Parkway, Mountain View, California 94043 ("Google").  When using the services provided by Google, Google will save a copy of each file you designate as requiring storage under terms and conditions that can be downloaded from their web pages: https://www.google.com/intl/en/policies/terms/. By accepting this Agreement you also agree to Google's terms and conditions.</p>

<h5>1. License</h5>

<p>AVAST grants to you a non-exclusive (i) license to use the Software, (ii) right to use the Services and (iii) right to use the Documentation for the agreed term indicated in the Documentation or applicable transaction materials made available to you at any time you purchased the Software (the "Service Period") provided that you agree to the terms and conditions of this Agreement.</p>

<h5>2. Permitted Use of the Software and Services</h5>

<p>You may install and use the Software through an e-mail account on up to 20 devices (the "Permitted Number of Devices"). This limitation does not apply to free users, who may install and use the Software on an unlimited number of devices. However, if you are a free user, the Software and the Services may be used only by you or members of your household and then only for private non-commercial purposes. All users (free or otherwise) may also make one backup copy of the Software.</p>

<p>ANY USE OF THE SOFTWARE OR THE SERVICES OTHER THAN AS EXPRESSLY AUTHORIZED BY THIS SECTION OR ANY RESALE OR FURTHER DISTRIBUTION OF THE SOFTWARE OR SERVICES CONSTITUTES A MATERIAL BREACH OF THIS AGREEMENT AND MAY VIOLATE APPLICABLE COPYRIGHT LAWS.</p>

<h5>3. Upgrades and Updates</h5>

<p>We may provide you with upgrades and updates of the Software and the Services during the Service Period.</p>

<h5>4. Ownership Rights</h5>

<p>The Software, the Services and Documentation are the intellectual property of AVAST and are protected by applicable copyright laws, international treaty provisions and other applicable laws of the country in which the Software and the Services are being used. The structure, organization and code of the Software are valuable trade secrets and confidential information of AVAST. To the extent you provide any comments or suggestions about the Software and the Services to AVAST, AVAST shall have the right to retain and use any such comments or suggestions in our current or future products or services, without further compensation to you and without your approval of such retention or use.</p>

<p>Except as stated in this Agreement, your possession, installation and use of the Software and the Services does not grant you any rights or title to any intellectual property rights in the Software, the Services or Documentation. All rights to the Software, the Services and Documentation, including all associated copyrights, patents, trade secret rights, trademarks and other intellectual property rights, are reserved by AVAST.</p>

<h5>5. Restrictions</h5>

<p>You may not copy or use the Software, the Services or the Documentation except as set forth in Section 2 of this Agreement. You may not remove any proprietary notices or labels on the Software; any copies that you are permitted to make pursuant to this Agreement must contain the same copyright and other proprietary notices that appear on and in the Software. You agree not to modify, adapt, translate, reverse engineer, decompile or disassemble the Software or otherwise attempt to discover the source code of the Software or algorithms contained therein or create any derivative works from the Software. You are not permitted to use the Software or the Services in connection with the provision of any commercial services which include processing or transferring the data of or for other persons or entities ("Data"), including cloud computing and "Software as a Service" solutions, providing storage capacities for Data; transmitting, routing of or providing connection to Data, or providing information search tool services. You may not permit third parties to benefit from the use or functionality of the Software or the Services via a timesharing, service bureau or other similar arrangement. You may not use the Software or Services in order to build a competitive solution or if you are an employee of one of our competitors. You may not load test the Services to test scalability. You may not use the Software or Services in a manner that violates the intellectual property rights of any person. You may not use the Software or Services in a manner that is prohibited by our then current Acceptable Use Policy.</p>

<h5>6. Transfer</h5>

<p>You may not rent, lease, sub-license, or lend the Software, the Services, their results or the Documentation or any portions thereof to a third party. Unless you are a free user, you may, however, transfer all your rights to use the Software, the Services and the Documentation to another person provided that (i) the transferee accepts the terms of this Agreement; (ii) you transfer the Software, including all copies, updates and prior versions, and all Documentation to such person; and (iii) you retain no copies of the Software or of the Documentation, including but not limited to copies stored on your device. Partial transfer of your rights under this Agreement, including transferring use of a portion of the Permitted Number of Devices to another person, is strictly prohibited.</p>

<h5>7. Limited Warranty; Disclaimers and Exclusion of Liability</h5>

<p>AVAST warrants to you that the Software will perform substantially in accordance with the Documentation for a period of thirty (30) days following your receipt of the Software. To make a warranty claim, you must return the Software to the location where you obtained it along with a copy of your sales receipt within the thirty (30) day warranty period. If the Software does not perform substantially in accordance with the Documentation, the entire and exclusive liability of AVAST and its distributors and agents and your exclusive remedy shall be limited to, at AVAST'S option, either (i) replacement of the Software or (ii) refund of the license fee you paid for the Software This limited warranty is void if the Software does not perform substantially in accordance with the Documentation as a result of any accident, abuse, alteration or misapplication of the Software by you or any third party other than AVAST, its distributors or agents.</p>

<p>AVAST disclaims all liability for the Services, including any resulting from lost or compromised data. AVAST does not make any warranty that your data will be stored safely or securely.</p>

<p>Be aware that the Software may make changes to your device that may adversely affect its functionality, such as deleting system or application files identified (correctly or incorrectly) by the Software as infected. You acknowledge and agree to such changes to your device that may occur as a result of your use of the Software. The Software is not fault-tolerant and as such is not designed for use in hazardous environments requiring fail-safe performance.</p>

<p>AVAST AND ITS DISTRIBUTORS DO NOT AND CANNOT WARRANT THE PERFORMANCE OR RESULTS YOU MAY OBTAIN BY USING THE SOFTWARE, THE SERVICES OR DOCUMENTATION. THE REMEDY IN THIS SECTION STATES THE SOLE AND EXCLUSIVE REMEDIES FOR AVAST'S OR ITS DISTRIBUTORS' OR AGENTS' BREACH OF WARRANTY. EXCEPT FOR THE FOREGOING LIMITED WARRANTY, THE SOFTWARE AND THE SERVICES ARE PROVIDED "AS IS" AND AVAST AND ITS DISTRIBUTORS MAKE NO EXPRESS OR IMPLIED WARRANTIES OR CONDITIONS AND, TO THE MAXIMUM EXTENT PERMITTED BY LAW, DISCLAIM ANY AND ALL CONDITIONS AND WARRANTIES IMPLIED BY STATUTE, COMMON LAW OR JURISPRUDENCE, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF NONINFRINGEMENT OF THIRD PARTY RIGHTS, MERCHANTABILITY, SUITABLE QUALITY OR FITNESS FOR ANY PARTICULAR PURPOSE.</p>

<p>YOU AGREE AND ACCEPT THAT, TO THE FULL EXTENT PERMITTED BY LAW, IN NO EVENT WILL AVAST OR ITS DISTRIBUTORS OR AGENTS BE LIABLE TO YOU FOR ANY DAMAGES, ESPECIALLY FOR CONSEQUENTIAL, INCIDENTAL OR SPECIAL DAMAGES, INCLUDING ANY LOST PROFITS, LOST SAVINGS OR LOST DATA, EVEN IF AVAST OR ITS DISTRIBUTOR OR AGENT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR FOR ANY CLAIM BY ANY THIRD PARTY. YOU AGREE AND ACCEPT THAT, TO THE FULL EXTENT PERMITTED BY LAW IN NO CASE SHALL AVAST'S OR ITS DISTRIBUTORS' OR AGENTS' LIABILITY FOR ANY DAMAGE EXCEED THE GREATER OF FIVE U.S. DOLLARS ($5.00) OR THE FEE THAT YOU PAID FOR THE RIGHT TO USE THE SOFTWARE OR SERVICES.</p>

<p>THE FOREGOING EXCLUSIONS AND LIMITATIONS OF LIABILITY OF AVAST AND ITS DISTRIBUTORS DO NOT LIMIT POTENTIAL LIABILITY FOR DEATH, PERSONAL INJURY OR FRAUD OVER THE EXTENT PERMITTED BY APPLICABLE LAWS.</p>

<h5>8. Privacy; Processing of Personal Information</h5>

<p>The Software and the Services automatically and from time to time may collect certain information, which may include personally identifiable information, from the device on which is the Software installed, including:</p>

<p>8.1	Information and files (including executable files) on your device identified by the Software as potentially infected, together with the information about the nature of identified threats.  Copies of the files identified by the Software as potentially infected or parts thereof may be automatically sent to AVAST for further examination and analysis;</p>

<p>8.2	Certain information about your device, installed software and applications and/or internet connection;</p>

<p>8.3	Certain information about the installation and operation of the Software and encountered errors or problems;</p>

<p>8.4	Certain information about your use of the Software, such as information about your navigation within the GUI of the Software,  in order to continually improve the user experience;</p>

<p>8.5	Statistical information about threats detected by the Software; and</p>

<p>8.6	If the Webshield function is active, the Software may send AVAST the URLs of all websites you want to visit and the results of your web searches through search engines, as well as URLs of visited websites that the Software identifies as potentially infected, together with the information on the nature of identified threats (e.g. viruses, Trojans, tracking cookies and any other forms of malware) and URLs of several sites visited before the infection was identified to ascertain the source of the infection;</p>

<p>The information collected by the Software and the Services may be correlated with other personal information related to you that AVAST may be processing such as information given by you to AVAST or its distributors or agents during the process of ordering and downloading the Software and Services or during the process of registration of your AVAST account. AVAST reserves the right to share such information with third parties that is non-personal, that is aggregated with data from other customers, and from which you cannot be identified.</p>

<p>By using the Software and Services you acknowledge and agree that AVAST or its distributors or agents may collect and use the information as described above. You are giving this consent on behalf of all users of all devices where the Software and Services will be used under this license and you accept full responsibility for informing all users and acquiring their fully informed, free and valid consent with processing of their personal information as described above.</p>

<p>In respect to filed stored by AVAST based on Services provision AVAST shall use reasonable efforts to prevent the unauthorized disclosure of your confidential information and data. AVAST, however, shall not be responsible for any matter beyond its reasonable control, including, without limitation, unauthorized electronic access of your confidential information or data.</p>

<p>Notwithstanding anything to the contrary in the AVAST privacy policy, you consent during the term of this Agreement and for one (1) year thereafter to (i) AVAST sharing information collected by you during your purchase, installation or registration of the Software and Services with AVAST's distributors and other business partners and (ii) use of such information by AVAST, its distributors and other business partners to present you with information that may be relevant to you, including offers of software, services or other products.</p>

<p>The collected information may be transferred to third parties or to other countries that may have less protective data protection laws than the country or region in which you are situated (including the European Union). We may for example transfer the data to our US subsidiary or store them on our US servers. AVAST takes measures to ensure that any collected information will receive an adequate level of protection if and when transferred. Notwithstanding anything to the contrary in this Agreement or any Documentation or other materials provided to you in connection with the Software, the Services AVAST reserves all rights to cooperate with any legal process or government inquiry (including, but not limited to, court orders and law enforcement requests) related to your use of the Software and the Services. In connection with such cooperation, AVAST may provide documents and information relevant to a court subpoena or government or other legal investigation, which may include disclosure of your personally identifiable information. AVAST may also use statistics derived from the collected information to track and publish reports on security risk trends.</p>

<p>By using the Software and the Services, you acknowledge and agree that AVAST may collect, transmit, store, disclose and analyze such information for any of the foregoing purposes listed in this Section.</p>

<h5>9. U.S. Government Restricted Rights</h5>

<p>The Software and Documentation are deemed to be "commercial computer software" and "commercial computer software documentation", respectively, and subject to certain restricted rights as identified in FAR Section 52.227-19 "Commercial Computer Software - Restricted Rights" and DFARS 227.7202, "Rights in Commercial Computer Software or Commercial Computer Software Documentation", as applicable, or any successor U.S. regulations. Any use, modification, reproduction, release, performance, display or disclosure of the Software by the U.S. Government shall be done solely in accordance with this Agreement.</p>

<h5>10. Export Regulations</h5>

<p>You agree and accept that the Software, the Services and the Documentation may be subject to import and export laws of any country, including those of the United States (specifically the Export Administration Regulations (EAR)) and the European Union. If you transfer or export the Software or if you transfer the Services, which in all cases must be done in accordance with this Agreement, you agree to and acknowledge that you are exclusively responsible for complying with all applicable laws and regulations, including but not limited to all United States and European Union trade sanctions and export regulations (including any activities relating to nuclear, chemical or biological materials or weapons, missiles or technology capable of mass destruction), regardless of the country in which you reside in or of which you are a citizen.</p>

<h5>11. Governing Law and Jurisdiction</h5>

<p>The laws of the State of California, excluding its conflicts of law rules, govern this Agreement and your use of the Software, the Services and the Documentation. The application of the United Nations Convention on Contracts for the International Sale of Goods is expressly excluded. The courts located within the county of Santa Clara, California shall be the exclusive jurisdiction and venue for any dispute or legal matter arising out of or in connection with this Agreement or your use of the Software, the Services and the Documentation. Notwithstanding this, you agree that AVAST shall still be allowed to apply for injunctive remedies (or an equivalent type of urgent legal relief) in any jurisdiction.</p>

<h5>12. General</h5>

<p>This Agreement is the entire agreement between you and AVAST relating to the Software, the Services and Documentation. This Agreement supersedes all prior or contemporaneous oral or written communications, proposals, and representations with respect to the Software, the Services or Documentation.  Notwithstanding the foregoing, nothing in this Agreement will diminish any rights you may have under existing consumer protection legislation or other applicable laws in your jurisdiction that may not be waived by contract.</p>

<p>This Agreement will immediately terminate upon your breach of any obligation contained herein (especially your obligations in Sections 2, 5, 10). In such case, you will not be entitled to a refund of your license fee, and you will not receive any future upgrades and updates of the Software or Services. AVAST reserves the right to any other remedies available under law in the event your breach of this Agreement adversely affects AVAST or its distributors or agents. The limitations of liability and disclaimers of warranty and damages contained herein shall survive termination of this Agreement. No provision hereof shall be deemed waived unless such waiver shall be in writing and signed by AVAST. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.</p>

<p>This Agreement may be modified by the Documentation. The amendment will then apply from the date of the posting.  If you object to the amendment, you should not continue using the Software and the Services.</p>

<p>If you have any questions regarding this Agreement or wish to request any information from AVAST, please write to AVAST Software, Budejovicka 1518/13A, 140 00 Praha 4, Czech Republic, e-mail: support@avast.com, tel.: +420 274 005 777 or visit our support page at  www.avast.com/support.</p>