/* TODO(T22734369): Should be minified later */
html, body, button {
 margin: 0px;
 padding: 0px;
 border: 0px;
}

a {
  color: white;
  text-decoration: underline;
}

body {
  color: white;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

button {
  height: 45px;
  padding: 0px 10px 0px 10px;
  background-color: Transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: large;
}

html {
  text-size-adjust: 100%
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.flip {
  transform: rotate(-180deg);
}

#safebrowsing-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fa3e3e;
  width:100%;
  height:100%;
  justify-content: center;
}

#main {
  max-width: 600px;
  padding: 8px;
  position: relative;
  top: 50%;
  display: table;
  margin: 0 auto;
  transform: translatey(-50%);
}

#caution-icon {
  height: 1.2em;
  margin-right: 8px;
  width: 1.2em;
  vertical-align:middle;
}

#caution-icon[dir="rtl"] {
  margin-left: 8px;
  margin-right: 0px;
}

#chevron {
  height: 1em;
  margin-left: 8px;
  width: 1em;
  vertical-align: middle;
}

#chevron[dir="rtl"] {
  margin-left: 0px;
  margin-right: 8px;
}

#details {
  border-top: 1px solid white;
  display: none;
  margin-top: 20px;
}

#show_details_text {
  display: inline;
}

#hide_details_text {
  display: none;
}

#title {
  font-size: x-large;
}

#toggle_details {
 float: right;
 padding: 10px 0px 0px 0px;
}

#toggle_details[dir="rtl"] {
  float: left;
}
